@using Microsoft.CodeAnalysis
@using Core.Utils
@model Web.Areas.Admin.ViewModels.Draws.EditDrawViewModel

@{
    const string labelClasses = "text-sm-right col-sm-3 col-form-label";
    const string inputClasses = "form-control";
    const string validationMessageClasses = "text-danger small";
}

<h3 class="mt-2 mb-4">
    @if (Model.Guid.HasValue)
    {
        ViewData["Title"] = "Editar";
        <Text>Editar sorteio</Text>
    }
    else
    {
        ViewData["Title"] = "Novo";
        <Text>Novo sorteio</Text>
    }
</h3>

<div class="card">
    <div class="card-body pt-5 px-5">
        @if (ViewBag.Message != null)
        {
            <div class="row form-group">
                <div class="col-12 ">
                    <div class="alert alert-success">
                        @ViewBag.Message
                    </div>
                </div>
            </div>
        }
        
        @if (ViewBag.Error != null)
        {
            <div class="row form-group">
                <div class="col-12 ">
                    <div class="alert alert-danger">
                        @Html.ValidationSummary()
                    </div>
                </div>
            </div>
        }

        @if (User.IsInRole("Administrators") || User.IsInRole("ManageDraws"))
        {
            using (Html.BeginForm("Edit", "Draws", FormMethod.Post))
            {
                @Html.HiddenFor(m => m.Guid)
                @Html.HiddenFor(m => m.Pending)
                @Html.HiddenFor(m => m.CountFileImports)

                <div class="row">
                    <div class="col-12">
                        <h4>Sorteio</h4>
                    </div>
                </div>

                <div class="row form-group">
                    @Html.LabelFor(m => m.DrawNumber, new {@class = labelClasses})
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.DrawNumber, new {@class = inputClasses})
                        @Html.ValidationMessageFor(m => m.DrawNumber, string.Empty, new {@class = validationMessageClasses})
                    </div>
                </div>

                <div class="row form-group">
                    @Html.LabelFor(m => m.Name, new {@class = labelClasses})
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.Name, new {@class = inputClasses})
                        @Html.ValidationMessageFor(m => m.Name, string.Empty, new {@class = validationMessageClasses})
                    </div>
                </div>

                <div class="row form-group">
                    @Html.LabelFor(m => m.ValueOfTicket, new {@class = labelClasses})
                    <div class="col-sm-9">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">R$</span>
                            @Html.TextBoxFor(m => m.ValueOfTicket, new {@class = inputClasses})
                          </div>
                        @Html.ValidationMessageFor(m => m.ValueOfTicket, string.Empty, new {@class = validationMessageClasses, id = "ValueOfTicket", type = "datetime-local"})
                    </div>
                </div>

                <div class="row form-group">
                    @Html.LabelFor(m => m.StartDatePurchase, new {@class = labelClasses})
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.StartDatePurchase, "{0:dd/MM/yyyy hh:mm}", new {@class = inputClasses, type = "datetime-local", id = "StartDatePurchase"})
                        @Html.ValidationMessageFor(m => m.StartDatePurchase, string.Empty, new {@class = validationMessageClasses})
                    </div>
                </div>
                
                <div class="row form-group">
                    @Html.LabelFor(m => m.EndDatePurchase, new {@class = labelClasses})
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.EndDatePurchase, new {@class = inputClasses, type = "datetime-local", id = "EndDatePurchase"})
                        @Html.ValidationMessageFor(m => m.EndDatePurchase, string.Empty, new {@class = validationMessageClasses})
                    </div>
                </div>
                
                <div class="row form-group">
                    @Html.LabelFor(m => m.DrawDate, new {@class = labelClasses})
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.DrawDate, new {@class = inputClasses, type = "datetime-local", id = "DrawDate"})
                        @Html.ValidationMessageFor(m => m.DrawDate, string.Empty, new {@class = validationMessageClasses})
                    </div>
                </div>
                
                <div class="row form-group">
                    @Html.LabelFor(m => m.UrlCommercial, new {@class = labelClasses})
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.UrlCommercial, new {@class = inputClasses})
                        @Html.ValidationMessageFor(m => m.UrlCommercial, string.Empty, new {@class = validationMessageClasses})
                    </div>
                </div>
                
                <div class="row form-group">
                    @Html.LabelFor(m => m.Observations, new {@class = labelClasses})
                    <div class="col-sm-9">
                        @Html.TextAreaFor(m => m.Observations, new {@class = inputClasses})
                        @Html.ValidationMessageFor(m => m.Observations, string.Empty, new {@class = validationMessageClasses})
                    </div>
                </div>
                
                @if (Model.Guid.HasValue)
                {
                    <div class="row form-group">
                        @Html.LabelFor(m => m.IsActive, new {@class = labelClasses})
                        <div class="col-sm-9">
                            @Html.CheckBoxFor(m => m.IsActive, new {style="margin-top: 20px;"})
                        </div>
                    </div>
                }
                
                @Html.EditorFor(m => m.Parameters, "Data")

                <div class="row form-group mt-5">
                    <div class="col-sm-9 offset-sm-3">
                        <button class="btn btn-primary">Salvar</button>
                    </div>
                </div>
            }
        }
        else
        {
            using (Html.BeginForm("Edit", "Draws", FormMethod.Post))
            {
                @Html.HiddenFor(m => m.Guid)
                @Html.HiddenFor(m => m.Pending)
                @Html.HiddenFor(m => m.CountFileImports)
                @Html.HiddenFor(m => m.DrawNumber)
                @Html.HiddenFor(m => m.Name)
                @Html.HiddenFor(m => m.ValueOfTicket)
                @Html.HiddenFor(m => m.StartDatePurchase)
                @Html.HiddenFor(m => m.EndDatePurchase)
                @Html.HiddenFor(m => m.DrawDate)
                @Html.HiddenFor(m => m.Observations)
                @Html.HiddenFor(m => m.IsActive)
                @Html.HiddenFor(m => m.IsActive)

                <div class="row">
                    <div class="col-12">
                        <h4>Sorteio</h4>
                    </div>
                </div>

                <div class="row form-group">
                    @Html.LabelFor(m => m.DrawNumber, new {@class = labelClasses})
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.DrawNumber, new {@class = inputClasses, disabled = "disabled" })
                    </div>
                </div>

                <div class="row form-group">
                    @Html.LabelFor(m => m.Name, new {@class = labelClasses})
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.Name, new {@class = inputClasses, disabled = "disabled" })
                    </div>
                </div>

                <div class="row form-group">
                    @Html.LabelFor(m => m.UrlCommercial, new {@class = labelClasses})
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.UrlCommercial, new {@class = inputClasses})
                        @Html.ValidationMessageFor(m => m.UrlCommercial, string.Empty, new {@class = validationMessageClasses})
                    </div>
                </div>
                
                <div class="row form-group mt-5">
                    <div class="col-sm-9 offset-sm-3">
                        <button class="btn btn-primary">Salvar</button>
                    </div>
                </div>
            }
        }
        
        
    </div>
</div>


@section Scripts {
    <script src="~/js/jquery.mask.js"></script>
    <script src="~/js/moment.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
              $('#ValueOfTicket').mask("#.##0,00", {reverse: true});
              
              var valueStartDatePurchase = '@Model.StartDatePurchase';
              var valueEndDatePurchase = '@Model.EndDatePurchase';
              var valueDrawDate = '@Model.DrawDate';
              
              if (valueStartDatePurchase !== '' && valueEndDatePurchase !== '' && valueDrawDate !== '')
              {
                  var dataValueStartDatePurchase = moment(valueStartDatePurchase, "DD/MM/YYYY hh:mm");
                  var dateStartDatePurchase = dataValueStartDatePurchase.format("YYYY-MM-DDTHH:mm");
                  document.getElementById('StartDatePurchase').value = dateStartDatePurchase;
                  
                  var dataValueEndDatePurchase = moment(valueEndDatePurchase, "DD/MM/YYYY hh:mm");
                  var dateEndDatePurchase = dataValueEndDatePurchase.format("YYYY-MM-DDTHH:mm");
                  document.getElementById('EndDatePurchase').value = dateEndDatePurchase;
                  
                  var dataValueDrawDate = moment(valueDrawDate, "DD/MM/YYYY hh:mm");
                  var dateDrawDate = dataValueDrawDate.format("YYYY-MM-DDTHH:mm");
                  document.getElementById('DrawDate').value = dateDrawDate;
              }
              
        });
    </script>
}