@using Core.Utils
@using Core.Entities
@using Web.Areas.Admin.ViewModels.Draws
@using X.PagedList;
@using X.PagedList.Mvc.Core
@using X.PagedList.Mvc.Core.Common

@{
    ViewData["Title"] = "Sorteios";
    
    var draws = (IPagedList<EditDrawViewModel>)ViewData["Results"];
    var responsiveButtonsCss = "btn btn-block btn-sm";
}


<div class="card">

    <div class="card-body py-2">
        @using (Html.BeginForm("Index", "Draws", FormMethod.Post))
        {
            <div class="row pt-2 pb-4">
                <div class="col-12 col-md-6 mb-4 mb-md-0">
                    <input type="text" name="searchTerm" class="form-control" placeholder="Buscar..." value="@ViewData["SearchTerm"]"/>
                </div>
                                                  
                <div class="col-12 col-md-2 mb-4 mb-md-0">
                    <button type="submit" class="@responsiveButtonsCss btn-primary">
                        <i class="mdi mdi-table-search btn-icon-prepend"></i>
                        Buscar
                    </button>
                </div>
                                                    
                @if ((bool) ViewData["IsActive"])
                {
                    <div class="col-12 col-md-2 mb-4 mb-md-0">
                        <a asp-action="Index" asp-route-IsActive="false" class="btn btn-block btn-sm btn-primary">
                            <i class="mdi mdi-timelapse"></i>
                            Em andamento
                        </a>
                    </div>
                }
                else
                {
                    <div class="col-12 col-md-2 mb-4 mb-md-0">
                        <a asp-action="Index" asp-route-IsActive="true" class="btn btn-block btn-sm btn-secondary">
                            <i class="mdi mdi-check"></i>
                            Exibir todos
                        </a>
                    </div>
                }
                                 
                @if (!User.IsInRole("Dashboards"))
                {
                    <div class="col-12 col-md-2 mb-4 mb-md-0">
                        <a asp-controller="Draws" asp-action="Edit" class="@responsiveButtonsCss btn-success">
                            <i class="mdi mdi-dice-5 btn-icon-prepend"></i>
                            Novo sorteio
                        </a>
                    </div>
                }
                
            </div>
        }
                        
        <div class="table-responsive">
            <table class="table m-0">
                <thead>
                <tr>
                    <th scope="col">Status</th>
                    <th scope="col">Extração</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Valor da cartela</th>
                    <th scope="col">Data do sorteio</th>
                    <th scope="col">Início da venda</th>
                    <th scope="col">Fim da venda</th>
                    <th scope="col">Ativo?</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in draws)
                {
                    <tr>
                        <td>
                            @if (item.StatusDraw == StatusDraw.NotStarted)
                            {
                                <span class="badge badge-info">Não iniciado</span>
                            } else if (item.StatusDraw == StatusDraw.InProgress)
                            {
                                <span class="badge badge-danger">Em andamento</span>
                            } else if (item.StatusDraw == StatusDraw.Finished)
                            {
                              <span class="badge badge-light">Finalizado</span>
                            } 
                        </td>
                        <td>@item.DrawNumber</td>
                        <td>@item.Name</td>
                        <td>@($"{item.ValueOfTicket:C}")</td>
                        <td>@item.DrawDate</td>
                        <td>@item.StartDatePurchase</td>
                        <td>@item.EndDatePurchase</td>
                        <td>@if (item.IsActive)
                            {
                                <p class="text-success">Sim</p>
                            }
                            else
                            {
                                <p class="text-danger">Não</p>
                            }
                        </td>
                        <td>
                            <a asp-action="View" asp-route-id="@item.Guid" class="btn btn-light btn-sm">
                                <i class="fas fa-eye"></i>
                                Visualizar
                            </a>
                            <a asp-action="Edit" asp-route-id="@item.Guid" class="btn btn-light btn-sm">
                                <i class="fas fa-pencil-alt"></i>
                                Editar
                            </a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
                                                                
            <div class="d-flex mt-5">
                <div class="mr-auto align-self-end p-2">
                    @Html.PagedListPager(draws, page => Url.Action("Index",
                        new
                        {
                            page,
                            searchTerm = ViewData["SearchTerm"],
                            ordination = ViewData["Ordination"],
                            activeOnly = ViewData["IsActive"],
                            returnToView = "administrators"
                        }),
                        new PagedListRenderOptions
                        {
                            LiElementClasses = new[] {"page-item"},
                            PageClasses = new[] {"page-link"},
                            DisplayEllipsesWhenNotShowingAllPageNumbers = false
                        }
                        )
                </div>
                <div class="align-self-center p-2">
                    <a asp-controller="Draws" asp-action="Export" class="btn btn-sm btn-dark">
                        Exportar @ViewData["Count"] Sorteio(s)
                    </a>
                </div>
            </div>
        </div> 
    </div>
</div>