@model Web.Areas.Admin.ViewModels.Draws.EditDrawViewModel
@using Core.Utils
@using Core.Entities
@using Core.Entities.AppLogs
@using Org.BouncyCastle.Asn1.Ocsp
@using Web.Areas.Admin.ViewModels.Draws
@using X.PagedList;
@using X.PagedList.Mvc.Core
@using X.PagedList.Mvc.Core.Common
@using System.Net.Http

@{
    ViewData["Title"] = "Visualizar";
    const string labelClasses = "text-sm-right col-sm-3 col-form-label";
    const string inputClasses = "form-control";
    var responsiveButtonsCss = "btn btn-block btn-sm";
    
    var tickets = (IPagedList<Ticket>)ViewData["ResultTickets"];
    var ticketsSold = (IPagedList<Ticket>)ViewData["ResultTicketsSold"];
    
    var resultsLogs = (IPagedList<Log>)ViewData["ResultsLogs"];
    
    var fileImports = Model.FileImports;
    
    var exportLot = (List<QueueItem>)ViewData["ExportLot"];
    
    var activeTab = (string) ViewBag.ActiveTab ?? "overview";
    string IsActiveTab(string name) => name.Equals(activeTab, StringComparison.InvariantCultureIgnoreCase) ? "active" : string.Empty;
}

<h3 class="mt-2 mb-4">
    <Text>Visualizar sorteio - @Model.DrawNumber</Text>
</h3>

<div class="card">

<div class="card-header">
    <ul class="nav nav-tabs card-header-tabs" id="bologna-list" role="tablist">
        
        @if (User.IsInRole("Administrators") || User.IsInRole("ManageDraws"))
        {
            <li class="nav-item">
                <a class="nav-link @IsActiveTab("overview")" href="#overview" role="tab" aria-controls="overview" aria-selected="false">Visão geral</a>
            </li>
            <li class="nav-item">
                <a class="nav-link @IsActiveTab("tickets")" href="#tickets" role="tab" aria-controls="tickets" aria-selected="false">Cartelas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link @IsActiveTab("loadFiles")" href="#loadFiles" role="tab" aria-controls="loadFiles" aria-selected="false">Arquivos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link @IsActiveTab("info")" href="#info" role="tab" aria-controls="info" aria-selected="false">Informações</a>
            </li>
            <li class="nav-item">
                <a class="nav-link @IsActiveTab("historic")" href="#historic" role="tab" aria-controls="info" aria-selected="false">Histórico</a>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link @IsActiveTab("loadFiles")" href="#loadFiles" role="tab" aria-controls="loadFiles" aria-selected="false">Carregar arquivos</a>
            </li>
        }
        
    </ul>
</div>

<div class="card-body py-2">
<div class="tab-content mt-3">

@if (User.IsInRole("Administrators") || User.IsInRole("ManageDraws"))
{
    <div class="tab-pane @IsActiveTab("overview")" id="overview" role="tabpanel">
        @if (ViewBag.Alert == "Success" && ViewBag.Message != null) {
            <div class="row form-group">
                <div class="col-12 ">
                    <div class="alert alert-success">
                        @ViewBag.Message
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
        }
        else
        {
            @if (ViewBag.Message != null)
            {
                <div class="row form-group">
                    <div class="col-12 ">
                        <div class="alert alert-danger">
                            @ViewBag.Message
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </div>
            }
        }
                
        <div class="row">
            <div class="col-sm-3">
                <div class="card-body">
                    <h5 class="card-title">Nome</h5>
                    <p class="text-gray">@Model.Name</p>
                </div>
            </div>
                                
            <div class="col-sm-4">
                <div class="card-body">
                    <h5 class="card-title">Data do sorteio</h5>
                    <p class="text-gray">@Model.DrawDate</p>
                </div>
            </div>
                                
            <div class="col-sm-2">
                <div class="card-body">
                    <h5 class="card-title">Realizado?</h5>
                    @if (Model.StatusDraw == StatusDraw.Finished)
                    {
                        <p class="text-success">Sim</p>
                    }
                    else
                    {
                        <p class="text-danger">Não</p>
                    }
                </div>
            </div>
        </div>
                            
        <div class="row">
            <div class="col-sm-3">
                <div class="card-body">
                    <h5 class="card-title">Cartelas</h5>
                    <strong>@Model.Sold / @Model.Pending</strong>
                    <p class="text-gray">Vendidas / Pendentes</p>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card-body">
                    <h5 class="card-title">Início da venda</h5>
                    <p class="text-gray">@Model.StartDatePurchase</p>
                </div>
            </div>
        
            <div class="col-sm-4">
                <div class="card-body">
                    <h5 class="card-title">Fim da venda</h5>
                    <p class="text-gray">@Model.EndDatePurchase</p>
                </div>
            </div>
        </div>
                            
        <br/>
                            
        <h5 class="text-gray">CARTELAS SELADAS</h5>
                                                        
        <div class="table-responsive">
            <table class="table m-0">
                <thead>
                <tr>
                    <th scope="col">Nr. Cartela</th>
                    <th scope="col">Comprador</th>
                    <th scope="col">Data Compra</th>
                    <th scope="col">Meio Pagamento</th>
                    <th scope="col">ID Transação</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in ticketsSold)
                {
                    <tr>
                        <td>@item.TicketNumber</td>
                        @if (item.AppUser != null)
                        {
                            <td>@item.AppUser.FirstName</td>
                        } else {
                            <td></td>
                        }
                        <td>
                            @if (item.PurchaseDate != null)
                            {
                                @item.PurchaseDate.Value.ToLocalString()
                            }
                        </td>
                        <td>@item.GatewayPayment</td>
                        <td>@item.IdTransaction</td>
                        <td>
                            <a asp-controller="Tickets" asp-action="View" asp-route-id="@item.Guid" class="btn btn-light btn-sm">
                                <i class="fas fa-eye"></i>
                                Visualizar
                            </a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
                                                                                    
            <div class="d-flex mt-5">
                <div class="mr-auto align-self-end p-2">
                    @Html.PagedListPager(ticketsSold, page => Url.Action("View",
                        new
                        {
                            page,
                            id = Model.Guid,
                            returnToView = "overview"
                        }),
                        new PagedListRenderOptions
                        {
                            LiElementClasses = new[] {"page-item"},
                            PageClasses = new[] {"page-link"},
                            DisplayEllipsesWhenNotShowingAllPageNumbers = false
                        }
                        )
                </div>
                <div class="align-self-center p-2">
                    <div class="row">
                        <div class="col-sm-6">
                            <input class="form-control" id="distributor" name="distributor" placeholder="Nº do distribuidor" type="text" pattern="\d*" minlength="1" maxlength="3" required/>
                        </div>
                        <div class="col-sm-6" style=" text-align-last: center; align-self: center; ">
                            <button class="btn btn-sm btn-primary" id="ExportLot">   
                                Solicitar Extração
                            </button>
                        </div>
                    </div>
                </div>
            
                <div class="align-self-center p-2">
                    <a asp-controller="Draws" asp-action="ExportTicketsSold" asp-route-drawGuid="@Model.Guid" class="btn btn-sm btn-dark">
                        Exportar cartelas seladas
                    </a>
                </div>
            </div>
        </div> 
                            
    </div>
            
    <div class="tab-pane @IsActiveTab("tickets")" id="tickets" role="tabpanel">
        @if (!tickets.Any())
        {
            <div class="row form-group">
                <div class="col-sm-8">
                    <text>Nenhuma cartela disponível</text>
                </div>
            </div>
        }
        else
        {
            using (Html.BeginForm("View", "Draws", new {ReturnToView = "tickets", id = Model.Guid}, FormMethod.Post))
            {
                <div class="row pt-2 pb-4">
                    <div class="col-12 col-md-8 mb-4 mb-md-0">
                        <input type="text" name="searchTerm" class="form-control" placeholder="Buscar..." value="@ViewData["SearchTerm"]"/>
                    </div>

                    <div class="col-12 col-md-4 mb-4 mb-md-0">
                        <button type="submit" class="@responsiveButtonsCss btn-primary">
                            <i class="mdi mdi-table-search btn-icon-prepend"></i>
                            Buscar
                        </button>
                    </div>

                    @*@if ((bool) ViewData["IsSold"])
                {
                    <div class="col-12 col-md-3 mb-4 mb-md-0">
                        <a asp-action="View" asp-route-ReturnToView="tickets" asp-route-IsActive="false" class="btn btn-block btn-sm btn-primary">
                            <i class="mdi mdi-clock"></i>
                            Apenas pendentes
                        </a>
                    </div>
                }
                else
                {
                    <div class="col-12 col-md-3 mb-4 mb-md-0">
                        <a asp-action="View" asp-route-ReturnToView="tickets" asp-route-IsActive="true" class="btn btn-block btn-sm btn-success">
                            <i class="mdi mdi-dice-1 btn-icon-prepend"></i>
                            Exibir vendidos
                        </a>
                    </div>
                }*@
                </div>
            }

            <div class="table-responsive">
                <table class="table m-0">
                    <thead>
                    <tr>
                        <th scope="col">Número simplificado</th>
                        <th scope="col">Número</th>
                        <th scope="col">Bolas</th>
                        <th scope="col">Vendido?</th>
                        <th scope="col">Registro</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in tickets)
                    {
                        <tr>
                            <td>@item.SimplifiedTicketNumber</td>
                            <td>@item.TicketNumber</td>
                            <td>
                                <table>
                                    <tbody>
                                    <tr>
                                        @for (int i = 0; i < 10; i++)
                                        {
                                            <th class="table-ball">
                                                <div class="ball">
                                                    <p>@($"{item.TicketBalls[i]:00}")</p>
                                                </div>
                                            </th>
                                        }
                                    </tr>
                                    <tr>
                                        @for (int i = 10; i < 20; i++)
                                        {
                                            <th class="table-ball">
                                                <div class="ball">
                                                    <p>@($"{item.TicketBalls[i]:00}")</p>
                                                </div>
                                            </th>
                                        }
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td>
                                @if (item.Sold)
                                {
                                    <p class="text-success">Sim</p>
                                }
                                else
                                {
                                    <p class="text-danger">Não</p>
                                }
                            </td>
                            <td>
                                @item.CreatedAt.ToLocalString()
                            </td>
                            <td>
                                <a asp-controller="Tickets" asp-action="View" asp-route-id="@item.Guid" class="btn btn-light btn-sm">
                                    <i class="fas fa-eye"></i>
                                    Visualizar
                                </a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>

                <div class="d-flex mt-5">
                    <div class="mr-auto align-self-end p-2">
                        @Html.PagedListPager(tickets, page => Url.Action("View", new { page, searchTerm = ViewData["SearchTerm"], ordination = ViewData["Ordination"], activeOnly = ViewData["IsActive"], returnToView = "tickets", id = Model.Guid }), new PagedListRenderOptions { LiElementClasses = new[] {"page-item"}, PageClasses = new[] {"page-link"}, DisplayEllipsesWhenNotShowingAllPageNumbers = false } )
                    </div>
                    <div class="align-self-center p-2">
                        <p>@ViewData["CountTickets"] Cartela(s)</p>
                    </div>
                </div>
            </div>
        }
        
    </div>

    <div class="tab-pane @IsActiveTab("loadFiles")" id="loadFiles" role="tabpanel">
                
        @using (Html.BeginForm("Upload", "Draws", FormMethod.Post, new { enctype = "multipart/form-data", id = "formUpload", @class="form-inline" }))
        {
            @Html.HiddenFor(x => x.Guid)
            @Html.HiddenFor(x => x.Pending)
                
            <div class="form-group mr-5">
                <label class="@labelClasses">Importar cartelas</label>
                <div class="col-sm-9">
                    <input name="fileTickets" class="@inputClasses" accept="zip,application/octet-stream,application/zip,application/x-zip,application/x-zip-compressed" type="file"/>
                </div>
            </div>
                
            <div class="form-group mr-5">
                <label class="@labelClasses">Imagem da cartela</label>
                <div class="col-sm-9">
                    <input name="fileImgTicket" class="@inputClasses" accept="image/gif, image/jpeg, image/png" type="file"/>
                </div>
            </div>
                
            <div class="form-group mr-5">
                <label class="@labelClasses">Regulamento</label>
                <div class="col-sm-9">
                    <input name="fileRegulations" class="@inputClasses" accept="image/gif, image/jpeg, image/png, application/pdf" type="file"/>
                </div>
            </div>
        }
            
        <div class="form-group">
            <div class="m-4">
                <button class="btn btn-primary" id="send">Salvar</button>
            </div>
        </div>
                
        <hr/>
        <br/>
            
        <h5 class="text-gray">Arquivos</h5>
                                                                            
        <div class="table-responsive">
            <table class="table m-0">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Status</th>
                    <th scope="col">Nome do arquivo</th>
                    <th scope="col">Arquivo Interno</th>
                    <th scope="col">Data de Upload</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                     
                @if (fileImports.Count > 0)
                {
                    @foreach (var file in fileImports)
                    {
                        <tr>
                            <td>
                                @if (file.TypeFile == TypeFile.Ticket)
                                {
                                    <text>Carga de cartelas</text>
                                } else if (file.TypeFile == TypeFile.ImgOfTicket)
                                {
                                    <text>Imagem da cartela</text>
                                } else if (file.TypeFile == TypeFile.Regulations)
                                {
                                    <text>Regulamento</text>
                                } 
                            </td>
                            <td>
                                @if (file.Status == Status.Processed)
                                {
                                    <span class="badge badge-success">Processado</span>
                                } else if (file.Status == Status.Processing)
                                {
                                    <span class="badge badge-info">Em processamento...</span>
                                } else if (file.Status == Status.Imported)
                                {
                                    <span class="badge badge-light">Importado</span>
                                } else if (file.Status == Status.AwaitingProcessing)
                                {
                                    <span class="badge badge-secondary">Aguardando processamento</span>
                                } else if (file.Status == Status.Failure)
                                {
                                    <span class="badge badge-danger">Falha</span>
                                } 
                            </td>
                            <td>@file.FileName</td>
                            <td>@file.FileNameInternal</td>
                            <td>@file.CreatedAt.ToLocalString()</td>
                            <td>
                                <a class="btn btn-light btn-sm" href="@file.FileUri" target="_blank">
                                    <i class="mdi mdi-open-in-new"></i>
                                    Visualizar
                                </a>
                            </td>
                        </tr>
                    }
                }
                
                @if (exportLot.Count > 0)
                {
                    foreach (var item in exportLot)
                    {
                        <tr>
                            <td>Extração</td>
                            <td>
                                @if (item.StatusQueueItem == StatusQueueItem.Processed)
                                {
                                    <span class="badge badge-success">Processado</span>
                                } else if (item.StatusQueueItem == StatusQueueItem.Processing)
                                {
                                    <span class="badge badge-info">Em processamento...</span>
                                } else if (item.StatusQueueItem == StatusQueueItem.Imported)
                                {
                                    <span class="badge badge-light">Importado</span>
                                } else if (item.StatusQueueItem == StatusQueueItem.AwaitingProcessing)
                                {
                                    <span class="badge badge-secondary">Aguardando processamento</span>
                                } else if (item.StatusQueueItem == StatusQueueItem.Failure)
                                {
                                    <span class="badge badge-danger">Falha</span>
                                } 
                            </td>
                            <td>@item.FileName</td>
                            <td>@item.FileNameInternal</td>
                            <td>@item.CreatedAt.ToLocalString()</td>
                            <td>
                                @if (item.StatusQueueItem == StatusQueueItem.Processed)
                                {
                                    <a class="btn btn-light btn-sm" href="@item.ResultFilePath" target="_blank">
                                        <i class="mdi mdi-cloud-download"></i> 
                                        Baixar
                                    </a>
                                }
                            </td>
                        </tr>
                    }
                }
                </tbody>
            </table>
        </div> 
    </div>
                        
    <div class="tab-pane @IsActiveTab("info")" id="info" role="tabpanel">
        @using (Html.BeginForm("Edit", "Draws", FormMethod.Post))
        {
            @Html.HiddenFor(m => m.Guid)
                    
            <div class="row">
                <div class="col-12">
                    <h4>Sorteio</h4>
                </div>
            </div>
                    
            <div class="row form-group">
                @Html.LabelFor(m => m.DrawNumber, new {@class = labelClasses})
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.DrawNumber, new {@class = inputClasses, disabled = "disabled"})
                </div>
            </div>
                    
            <div class="row form-group">
                @Html.LabelFor(m => m.Name, new {@class = labelClasses})
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.Name, new {@class = inputClasses, disabled = "disabled"})
                </div>
            </div>
                    
            <div class="row form-group">
                @Html.LabelFor(m => m.ValueOfTicket, new {@class = labelClasses})
                <div class="col-sm-9">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">R$</span>
                        @Html.TextBoxFor(m => m.ValueOfTicket, new {@class = inputClasses, disabled = "disabled"})
                    </div>
                </div>
            </div>
                    
            <div class="row form-group">
                @Html.LabelFor(m => m.StartDatePurchase, new {@class = labelClasses})
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.StartDatePurchase,  new {@class = inputClasses, disabled = "disabled"})
                </div>
            </div>
                                
            <div class="row form-group">
                @Html.LabelFor(m => m.EndDatePurchase, new {@class = labelClasses})
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.EndDatePurchase, new {@class = inputClasses, disabled = "disabled"})
                </div>
            </div>
                                
            <div class="row form-group">
                @Html.LabelFor(m => m.DrawDate, new {@class = labelClasses})
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.DrawDate, new {@class = inputClasses, disabled = "disabled"})
                </div>
            </div>
                                
            <div class="row form-group">
                @Html.LabelFor(m => m.UrlCommercial, new {@class = labelClasses})
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.UrlCommercial, new {@class = inputClasses, disabled = "disabled"})
                </div>
            </div>
                    
            <div class="row form-group">
                @Html.LabelFor(m => m.Observations, new {@class = labelClasses})
                <div class="col-sm-9">
                    @Html.TextAreaFor(m => m.Observations, new {@class = inputClasses, disabled = "disabled"})
                </div>
            </div>
                                
            <div class="row form-group">
                @Html.LabelFor(m => m.IsActive, new {@class = labelClasses})
                <div class="col-sm-9">
                    @Html.CheckBoxFor(m => m.IsActive, new {style="margin-top: 20px;", disabled = "disabled", @checked = Model.IsActive})
                </div>
            </div>
                    
            @Html.EditorFor(m => m.Parameters, "DataView")
        }
    </div>

    <div class="tab-pane @IsActiveTab("historic")" id="historic" role="tabpanel">
        <div class="table-responsive">
            <table class="table m-0">
                <thead>
                <tr>
                    <th scope="col">Usuário de alteração</th>
                    <th scope="col">E-mail do usuário alteração</th>
                    <th scope="col">Campo alterado</th>
                    <th scope="col">Antes</th>
                    <th scope="col">Depois</th>
                    <th scope="col">Data da modificação</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in resultsLogs)
                {
                    @foreach (var mod in item.PropertyLogs)
                    {                                
                        <tr>
                            <td>@($"{item.AppUser.FirstName} {item.AppUser.LastName}")</td>
                            <td>@item.AppUser.Email</td>
                            <td>@mod.Property</td>
                            @if (mod.Property.Equals("Cartelas vendidas (Carga de cartelas)") || mod.Property.Equals("Imagem da cartela"))
                            {
                                <td>
                                    <a class="btn btn-light btn-sm" href="@(mod.Before)" target="_blank">
                                        <i class="mdi mdi-open-in-new"></i>
                                        Abrir
                                    </a>
                                </td>
                            }
                            else
                            {
                                <td>@mod.Before</td>
                            }
                            <td>@mod.After</td>
                            <td>@item.CreatedAt.ToLocalString()</td>
                        </tr>
                    }
                }
                </tbody>
            </table>
                        
            <div class="d-flex mt-5">
                <div class="mr-auto align-self-end p-2">
                    @Html.PagedListPager(resultsLogs, page => Url.Action("View",
                        new
                        {
                            page,
                            returnToView = "historic",
                            id = Model.Guid
                        }),
                        new PagedListRenderOptions
                        {
                            LiElementClasses = new[] {"page-item"},
                            PageClasses = new[] {"page-link"},
                            DisplayEllipsesWhenNotShowingAllPageNumbers = false
                        }
                        )
                </div>
                            
                @*<div class="align-self-center p-2">
                                <a asp-controller="Users" asp-action="ExportHistoric" asp-route-guid="" class="btn btn-sm btn-dark">
                                    Exportar histórico
                                </a>
                            </div>*@
            </div>
        </div>
                    
    </div>
}
else
{
    <div class="tab-pane active" id="loadFiles" role="tabpanel">
    
        @if (ViewBag.Alert == "Success" && ViewBag.Message != null) {
            <div class="row form-group">
                <div class="col-12 ">
                    <div class="alert alert-success">
                        @ViewBag.Message
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
        }
        else
        {
            @if (ViewBag.Message != null)
            {
                <div class="row form-group">
                    <div class="col-12 ">
                        <div class="alert alert-danger">
                            @ViewBag.Message
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </div>
            }
        }
                
        @using (Html.BeginForm("Upload", "Draws", FormMethod.Post, new { enctype = "multipart/form-data", id = "formUpload", @class="form-inline" }))
        {
            @Html.HiddenFor(x => x.Guid)
            @Html.HiddenFor(x => x.Pending)
                
            <div class="form-group mr-5">
                <label class="@labelClasses">Imagem da cartela</label>
                <div class="col-sm-9">
                    <input name="fileImgTicket" class="@inputClasses" accept="image/gif, image/jpeg, image/png" type="file"/>
                </div>
            </div>
                
            <div class="form-group mr-5">
                <label class="@labelClasses">Regulamento</label>
                <div class="col-sm-9">
                    <input name="fileRegulations" class="@inputClasses" accept="image/gif, image/jpeg, image/png" type="file"/>
                </div>
            </div>
        }
            
        <div class="form-group">
            <div class="m-4">
                <button class="btn btn-primary" id="send">Salvar</button>
            </div>
        </div>
                
        <hr/>
        <br/>
            
        <h5 class="text-gray">Arquivos importados</h5>
                                                                            
        <div class="table-responsive">
            <table class="table m-0">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Status</th>
                    <th scope="col">Nome do arquivo</th>
                    <th scope="col">Arquivo Interno</th>
                    <th scope="col">Data de Upload</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                     
                @if (fileImports.Count > 0)
                {
                    @foreach (var file in fileImports)
                    {
                        <tr>
                            <td>
                                @if (file.TypeFile == TypeFile.Ticket)
                                {
                                    <text>Carga de cartelas</text>
                                } else if (file.TypeFile == TypeFile.ImgOfTicket)
                                {
                                    <text>Imagem da cartela</text>
                                } else if (file.TypeFile == TypeFile.Regulations)
                                {
                                    <text>Regulamento</text>
                                } 
                            </td>
                            <td>
                                @if (file.Status == Status.Processed)
                                {
                                    <span class="badge badge-info">Processado</span>
                                } else if (file.Status == Status.Processing)
                                {
                                    <span class="badge badge-danger">Processando...</span>
                                } else if (file.Status == Status.Imported)
                                {
                                    <span class="badge badge-light">Importado</span>
                                } 
                            </td>
                            <td>@file.FileName</td>
                            <td>@file.FileNameInternal</td>
                            <td>@file.CreatedAt.ToLocalString()</td>
                            <td>
                                <a class="btn btn-light btn-sm" href="@file.FileUri" target="_blank">
                                    <i class="mdi mdi-open-in-new"></i>
                                    Visualizar
                                </a>
                            </td>
                        </tr>
                    }
                }
          
                </tbody>
            </table>
        </div> 
    </div>
}
    
</div>
</div>
</div>

<div class="toast" id="upload" style="top: 75px; right: 20px;">
    <div class="toast-header">
        <strong class="mr-auto">Pode ficar tranquilo!</strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body">
        Estamos processando tudo para você. Caso queira, continue navegando no sistema.
        <p>Assim que finalizarmos iremos avisá-lo.</p>
    </div>
</div>

<div class="toast" id="toastExportDdb" style=" top: 75px; right: 20px;">
    <div class="toast-header">
        <strong class="mr-auto">Aguarde, estamos processando...</strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body">
        A geração do lote está em andamento, isso pode demorar um pouco...
        <p style="color: red">Verifique o status do andamento da solicitação na aba "Arquivos".</p>
    </div>
</div>


@section Scripts
{
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script type="text/javascript">
    $(document).ready(function() {
        $('#bologna-list a').on('click', function (e) {
              e.preventDefault()
              $(this).tab('show')
            });
        
        $("#ExportLot").click(function() {
            var distributorValue = document.getElementById('distributor').value;
            
            if (distributorValue != null && distributorValue !== "") {
                
                $(this).html(
                    `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Aguarde...`
                  );
                
                document.getElementById('toastExportDdb').style.position = "fixed";
                $('#toastExportDdb').toast('show');

                var dataInput = {
                    'drawGuid': '@Model.Guid',
                    'distributor': distributorValue
                }
                
                $.ajax({
                    url: '@Url.Action("ExportLot", "Draws")',
                    type: 'POST',
                    data: dataInput,
                    success: function (data) {
                        $('#toastExportDdb').hide();
                        
                        if (data === "Success")
                        {
                            swal({
                              title: "Solicitação da extração do lote efetuada com sucesso",
                              text: "Verifique o status do andamento da solicitação na aba Arquivos",
                              icon: "success",
                              button: "Ok",
                            }).then(function() {
                                  location.reload();
                              });
                        } else {
                            swal({
                              title: "Solicitação da extração do lote não efetuada",
                              text: "Entre em contato com o administrador para mais informações",
                              icon: "error",
                              button: "Ok",
                            })
                        }
                    }
                });
            } else {
                swal({
                  title: "Opss...",
                  text: "Número do distribuidor obrigatório",
                  icon: "error",
                  button: "Ok",
                })
            }
            
        });

        $("#send").click(function() {
              $(this).prop("disabled", true);
              $(this).html(
                `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Aguarde, estamos processando... Isso pode demorar um pouco.`
              );
              $("#formUpload").submit();
              document.getElementById('upload').style.position = "fixed";
              $('#upload').toast('show');
            });
        
        $('#toastExportDdb').toast({
               delay: 120000,
           }); 
        
        $('#upload').toast({
               delay: 120000,
           }); 
    });
    
    </script>
}