﻿@using Core.Utils
@using Core.Entities
@using X.PagedList;
@using X.PagedList.Mvc.Core
@using X.PagedList.Mvc.Core.Common
@using X.PagedList.Web.Common

@{
    ViewData["Title"] = "Início";
    
    var tickets = (IPagedList<Ticket>)ViewData["Results"];
    var banners = (IList<FileImport>)ViewData["Banners"];
    var fileImgUri = ViewBag.PathImageDraw;
    var alert = (Alert)ViewData["Alert"];
    var imgNextDraw = (FileImport)ViewData["ImgNextDraw"];
    var urlTvTotolec = ViewBag.UrlVT;
}

<style>
    p {
        margin-bottom: 5px;
    }
    
    .carousel-indicators li {
    border-bottom: none;
    }
</style>

<div class="conteinerHome-top" xmlns="http://www.w3.org/1999/html">
    <div id="carouselHome" class="carousel slide mb-1" data-ride="carousel">
        @if (banners != null)
        {
            <ol class="carousel-indicators" id="carouselIndicators">
                @for (int i = 0; i < banners.Count(); i++)
                {
                    if (i == 0)
                    {
                        <li data-target="#carouselHome" data-slide-to="@i" class="active"></li>
                    }
                    else
                    {
                        <li data-target="#carouselHome" data-slide-to="@i"></li>
                    }
                }
            </ol>
            <div class="carousel-inner">
                @for (int i = 0; i < banners.Count(); i++)
                {
                    if (i == 0)
                    {
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="@banners[i].FileUri" alt=""/>
                        </div>
                    }
                    else
                    {
                        <div class="carousel-item">
                            <img class="d-block w-100" src="@banners[i].FileUri" alt=""/>
                        </div>
                    }

                }
            </div>
            <a id="controlCaroselPrev" class="carousel-control-prev" href="#carouselHome" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a id="controlCaroselNext" class="carousel-control-next" href="#carouselHome" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Próximo</span>
            </a>
        }
    </div>
</div>

@if (alert != null)
{
    <div class="container my-2">
        <div class="card-client w-100" style="background-color: #ffdd33;">
            <div class="card-body-client text-center">
                <div class="mt-1">
                    @Html.Raw(alert.Message)
                </div>
            </div>
        </div>
    </div>
}


@if (tickets != null)
{
    <div class="container">
    
        @if (ViewBag.AddAddressNumber != null)
        {
            <div class="row mt-3">
                <div class="col-12">
                    <div class="alert alert-danger mb-0">
                        <strong>Atenção!</strong> Seu cadastro está incompleto, entre na opção "Meu Perfil" e preencha todas as informações.
                    </div>
                </div>
            </div>
        }
        
        <div class="card-deck">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 w-100">
                    <div class="row my-2">
                        <div class="col-12">
                            <h6 class="styleFontHomeCard">Próximo Sorteio - Concurso @ViewData["DrawNumber"]</h6>
                        </div>
                    </div>

                    <div class="card">
                        <img src="@fileImgUri" class="w-100" style="border-radius: inherit;">
                        @using (Html.BeginForm("Suggestions", "Home", FormMethod.Post, new {id = "formPurchase"}))
                        {
                            @Html.Hidden("balls")
                            @Html.Hidden("drawGuid", ViewData["DrawGuid"])
                            @Html.Hidden("drawNumber", ViewData["DrawNumber"])
                            <div class="card-body text-center">
                                <h5 class="card-title">Próximo sorteio: <strong>@ViewData["DateDraw"]</strong></h5>
                                <p class="card-text pb-2">Selecione os seus <strong>5</strong> números da sorte e clique em pesquisar cartelas!</p>
                                <p class="ticket-balls pb-2" id="ballSelect">
                                    @for (var i = 1; i <= 50; i++)
                                    {
                                        <span class="ticket-ball default">
                                            @($"{i:00}")
                                        </span>
                                    }
                                </p>

                                <div id="alertBall" class="pb-2"></div>

                                <a class="btn btn-sm-ticket btn-search-tickets px-5 font-weight-bold" id="purchase">
                                    Pesquisar cartelas
                                </a>
                            </div>
                        }
                    </div>
                </div>

                <div class="col-12 col-md-8 w-100">
                    <div class="row my-2">
                        <div class="col-12">
                            <h5 style="font-weight: 500; font-size: 1.2rem;">Sugestões da sorte</h5>
                        </div>
                    </div>

                    <div class="card-client" style="background-color: #F9DE3A" id="suggestionCard" href="#suggestionCard">
                        <div class="row mt-2">
                            @foreach (var item in tickets)
                            {
                                <div class="col-sm-6">
                                    <div class="card m-3 overflow-hidden">
                                        <div class="card-header">
                                            <div class="card-number-wrapper">
                                                <div class="card-number">
                                                    <p>Número da Cartela:</p>
                                                    <strong>@item.SimplifiedTicketNumber</strong>
                                                    <div class="card-triangle"></div>
                                                </div>
                                            </div>
                                            <p class="card-price">@($"{item.Draw.ValueOfTicket:C}")</p>
                                            
                                            <p class="ticket-balls-suggestions">
                                                @for (int i = 0; i < 20; i++)
                                                {
                                                    <span class="ticket-ball-suggestions">
                                                        @($"{item.TicketBalls[i]:00}")
                                                    </span>
                                                }
                                            </p>
                                        </div>
                                        
                                        <div class="d-flex flex-column align-items-center justify-content-center my-2">
                                            <div class="m-1 text-right">
                                                <a class="btn btn-sm-ticket btn-warning px-3 font-weight-bold cart add-to-cart" id="@item.Guid">
                                                    Adicionar ao carinho
                                                </a>
                                            </div>
                                                        
                                            <div class="m-1 text-left">
                                                <a class="btn btn-sm-ticket btn-outline-success px-6 font-weight-bold" asp-controller="Purchases" asp-action="Cart" asp-route-ticketGuid="@item.Guid">
                                                    Finalizar compra
                                                </a>
                                            </div>
                                            
                                            <div id="@item.Guid-message"></div>
                                            
                                        </div>
                                        
                                    </div>
                                </div>
                            }
                        </div>

                        <div class="row p-2 align-self-center">
                            <div class="w-100" style="text-align: -webkit-center; text-align: -moz-center;">
                                @Html.PagedListPager(tickets, page => Url.Action("Index", new {page, returnView = "suggestionsTickets"}), new PagedListRenderOptions { LiElementClasses = new[] {"page-item"}, PageClasses = new[] {"page-link"}, LinkToPreviousPageFormat = "< Anterior", LinkToNextPageFormat = "Próximo >", DisplayEllipsesWhenNotShowingAllPageNumbers = false, DisplayLinkToFirstPage = PagedListDisplayMode.Never, DisplayLinkToPreviousPage = PagedListDisplayMode.Always, DisplayLinkToLastPage = PagedListDisplayMode.Never, DisplayLinkToNextPage = PagedListDisplayMode.Always, MaximumPageNumbersToDisplay = 0})
                            </div>
                        </div>
                    </div>
                </div>
                
                @if (urlTvTotolec != null)
                {
                    <div class="container my-1">
                        <hr/>
                        <div class="text-center">
                            <h4 class="font-weight-light my-3">TV Totolec</h4>
                            <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='@urlTvTotolec' frameborder='0' allowfullscreen></iframe></div>
                        </div>
                    </div>
                }
                        
            </div>
        </div>
    </div>

}
else
{
    <div class="container" style="min-height: 55vh;">
        <div class="card mt-3">
            <div class="card-body">
                <div class="text-center">
                    @if (imgNextDraw != null)
                    {
                        <img src="@imgNextDraw.FileUri" class="ImgNextDrawActive"/>
                    }
                    <div class="pt-4">@Html.Raw(ViewData["messageNextDraw"])</div>
                </div>
            </div>
        </div>
    </div>
}
            


@section Scripts {
    <script type="text/javascript">
    
    $(document).ready(function() {
        var returnV = "@ViewBag.ReturnView";
        if (returnV === "suggestionsTickets")
        {
            var divId = $("#suggestionCard").attr('href');
             $('html, body').animate({
              scrollTop: $(divId).offset().top - 54
            });
        }
    });
    
    var balls = [];
    var countCart = 0;
    
    $(".cart").click(function(e) {
        var cookies = getCookie("Tickets");
        
        if(cookies !== undefined && cookies !== "") {
            var array = cookies.split("&")
            
            var id = this.id;
            
            if (!isInArray(id, array))
            {
                setCookie("Tickets", id, cookies);
                $(this).prop("disabled", true);
                $(this).addClass('disabled');
                 $(this).html(
                   `Adicionada ao carrinho`
                 ); 
                 
                //document.getElementById(id + "-message").innerHTML = "<p class='small'>Cartela adicionada no carrinho.</p>";
            }
        } else {
            var id = this.id;
            setCookie("Tickets", id, cookies);
            $(this).prop("disabled", true);
            $(this).addClass('disabled');
             $(this).html(
               `Adicionada ao carrinho`
             );
             
            //document.getElementById(id + "-message").innerHTML = "<p class='small'>Cartela adicionada no carrinho.</p>";
        }
        
    });
    
    function isInArray(value, array) {
      return array.indexOf(value) > -1;
    }
    
    function setCookie(name,value,cookies) {
        if (cookies !== undefined && cookies !== "")
        {
            cookies = value + "&" + cookies;
        } else {
            cookies = value;
        }
        
        var date = new Date();
        date.setTime(date.getTime() + (30*60*1000));
        var expires = "; expires=" + date.toUTCString();
        
        document.cookie = name + "=" + cookies + expires + "; path=/";
        
        countCart = parseInt(document.getElementById("countDesktop").innerHTML) + 1;
        
        document.getElementById("countDesktop").style.display = "block";
        document.getElementById("countDesktop").innerHTML = countCart;
                        
        document.getElementById("countMobile").style.display = "block";
        document.getElementById("countMobile").innerHTML = countCart;
    }
    
    function getCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for(var i=0;i < ca.length;i++) {
            var c = ca[i];
            while (c.charAt(0)==' ') c = c.substring(1,c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
        }
        return null;
    }
    
    $("#purchase").click(function(e) {
        e.preventDefault();
        $('#balls').val(balls); 
        $("#formPurchase").submit();
    });
    
    $(".ticket-ball").click(function(e) {
        e.preventDefault();
        
        if ($(this).hasClass("selected")) {
            $(this).toggleClass("selected");
            //const index = balls.indexOf($(this)[0].outerText);
            const index = balls.indexOf(this.innerText);
            if (index > -1) {
              balls.splice(index, 1);
            }
        } else {
            if(balls.length === 5) {
                document.getElementById("alertBall").innerHTML = "<p class='field-validation-error text-danger small' data-valmsg-replace='true'>Selecione até <strong>5</strong> números da sorte</p>";
            } else {
                $(this).toggleClass("selected");
                //balls.push($(this)[0].outerText);
                balls.push(this.innerText);
            }
        }
    });
    
    </script>
}