@using Core.Utils
@using Core.Entities
@using ServiceStack
@using X.PagedList;
@using X.PagedList.Mvc.Core
@using X.PagedList.Mvc.Core.Common
@using X.PagedList.Web.Common

@{
    ViewData["Title"] = "Sugestões de cartelas";
    
    var tickets = (IPagedList<Ticket>)ViewData["Results"];
    var ballsSelected = ViewData["BallsSelected"]?.ToString();
    var banners = (IList<FileImport>)ViewData["Banners"];
}

<div class="conteinerHome-top" xmlns="http://www.w3.org/1999/html">
    <div id="carouselHome" class="carousel slide mb-1" data-ride="carousel">
        <ol class="carousel-indicators">
            @for (int i = 0; i < banners.Count(); i++)
            {
                if (i == 0)
                {
                    <li data-target="#carouselHome" data-slide-to="@i" class="active"></li>
                }
                else
                {
                    <li data-target="#carouselHome" data-slide-to="@i"></li>
                }
            }
        </ol>
        <div class="carousel-inner">
            @for (int i = 0; i < banners.Count(); i++)
            {
                if (i == 0)
                {
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="@banners[i].FileUri" alt=""/>
                    </div>
                }
                else
                {
                    <div class="carousel-item">
                        <img class="d-block w-100" src="@banners[i].FileUri" alt=""/>
                    </div>
                }
                                
            }
        </div>
        <a class="carousel-control-prev" href="#carouselHome" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselHome" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Próximo</span>
        </a>
    </div>
</div>

<div class="container" style="background-color: #f6f6f6;">
    <div class="row my-2">
        <div class="col-12">
            <h3 style="font-weight: 700; font-size: 2rem;">Sugestões da sorte</h3>
            @if (!ballsSelected.IsNullOrEmpty())
            {
                <p class="card-text">Selecionamos cartelas que contém seus números da sorte <br/><strong>Concurso:</strong> @ViewData["DrawNumber"]</p>
            }
        </div>
    </div>
                    
    <div class="card-client" style="background-color: #F9DE3A" id="suggestionCard" href="#suggestionCard">
        <div class="row mt-2">
            @foreach (var item in tickets)
            {
                <div class="col-sm-4">
                    <div class="card m-3 overflow-hidden"> 
                        <div class="card-header">
                            <div class="card-number-wrapper">
                                <div class="card-number">
                                    <p>Número da Cartela:</p>
                                    <strong>@item.SimplifiedTicketNumber</strong>
                                    <div class="card-triangle"></div>
                                </div>
                            </div>
                            <p class="card-price">R$10,00</p>
                            <p class="ticket-balls-suggestions">
                                @for (int i = 0; i < 20; i++)
                                {
                                    var ball = $"{item.TicketBalls[i]:00}";
                                    if (ballsSelected != null && ballsSelected.Contains(ball))
                                    {
                                        <span class="ticket-ball selected">
                                            @ball
                                        </span>
                                    }
                                    else
                                    {
                                        <span class="ticket-ball-suggestions">
                                            @ball
                                        </span>
                                    }
                                }
                            </p>
                        </div>
                       
                        <div class="d-flex flex-column align-items-center justify-content-center my-2">
                            <div class="m-1 text-right">
                                <a class="btn btn-sm-ticket btn-warning px-3 font-weight-bold cart add-to-cart" id="@item.Guid">
                                    Adicionar ao carinho
                                </a>
                            </div>
                                                                                
                            <div class="m-1 text-left">
                                <a class="btn btn-sm-ticket btn-outline-success px-6 font-weight-bold" asp-controller="Purchases" asp-action="Cart" asp-route-ticketGuid="@item.Guid">
                                    Finalizar compra
                                </a>
                            </div>
                                                                    
                            <div id="@item.Guid-message"></div>
                                                                    
                        </div>
                    </div>
                </div>
            }
        </div>
        
        <div class="row p-2 align-self-center">
            <div class="w-100" style="text-align: -webkit-center; text-align: -moz-center;">
                @Html.PagedListPager(tickets, page => Url.Action("Suggestions", new { page,
                    balls = ViewData["BallsSelected"],
                    drawGuid = ViewData["DrawGuid"],
                    drawNumber = ViewData["DrawNumber"],
                    returnView = "suggestionsTickets",
                }),
                    new PagedListRenderOptions { LiElementClasses = new[] {"page-item"},
                        PageClasses = new[] {"page-link"},
                        LinkToPreviousPageFormat = "< Anterior",
                        LinkToNextPageFormat = "Próximo >",
                        DisplayEllipsesWhenNotShowingAllPageNumbers = false,
                        DisplayLinkToFirstPage = PagedListDisplayMode.Never,
                        DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                        DisplayLinkToLastPage = PagedListDisplayMode.Never,
                        DisplayLinkToNextPage = PagedListDisplayMode.Always,
                        MaximumPageNumbersToDisplay = 0
                    })
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function() {
            var returnV = "@ViewBag.ReturnView";
            if (returnV === "suggestionsTickets")
            {
                var divId = $("#suggestionCard").attr('href');
                 $('html, body').animate({
                  scrollTop: $(divId).offset().top - 54
                });
            }
        });
        
        var countCart = 0;
            
            $(".cart").click(function(e) {
                var cookies = getCookie("Tickets");
                
                if(cookies !== undefined && cookies !== "") {
                    var array = cookies.split("&")
                    
                    var id = this.id;
                    
                    if (!isInArray(id, array))
                    {
                        setCookie("Tickets", id, cookies);
                        
                        $(this).prop("disabled", true);
                        $(this).addClass('disabled');
                         $(this).html(
                           `Adicionada ao carrinho`
                         );
                        
                        //document.getElementById(id + "-message").innerHTML = "<p class='small' style='margin-bottom: auto; '>Cartela adicionada no carrinho.</p>";
                    }
                } else {
                    var id = this.id;
                    setCookie("Tickets", id, cookies);
                    
                    $(this).prop("disabled", true);
                    $(this).addClass('disabled');
                     $(this).html(
                       `Adicionada ao carrinho`
                     );
                    
                    //document.getElementById(id + "-message").innerHTML = "<p class='small' style='margin-bottom: auto; '>Cartela adicionada no carrinho.</p>";
                }
            });
            
            function isInArray(value, array) {
              return array.indexOf(value) > -1;
            }
            
            function setCookie(name, value, cookies) {
                if (cookies !== undefined && cookies !== "")
                {
                    cookies = value + "&" + cookies;
                } else {
                    cookies = value;
                }
                
                var date = new Date();
                date.setTime(date.getTime() + (30*60*1000));
                var expires = "; expires=" + date.toUTCString();
                
                document.cookie = name + "=" + cookies + expires + "; path=/";
                
                document.cookie = name + "=" + cookies + "; path=/";;
                
                countCart = parseInt(document.getElementById("countDesktop").innerHTML) + 1;
                
                document.getElementById("countDesktop").style.display = "block";
                document.getElementById("countDesktop").innerHTML = countCart;
                                
                document.getElementById("countMobile").style.display = "block";
                document.getElementById("countMobile").innerHTML = countCart;
            }
            
            function getCookie(name) {
                var nameEQ = name + "=";
                var ca = document.cookie.split(';');
                for(var i=0;i < ca.length;i++) {
                    var c = ca[i];
                    while (c.charAt(0)==' ') c = c.substring(1,c.length);
                    if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
                }
                return null;
            }
    </script>
}