﻿@model Web.Areas.Admin.ViewModels.Users.EditUserViewModel

@{
    const string labelClasses = "text-sm-right col-sm-3 col-form-label";
    const string inputClasses = "form-control";
    const string selectClasses = "form-control select2";
    const string validationMessageClasses = "text-danger small";
}

<h3 class="mt-2 mb-4">
    @if (Model.Guid.HasValue)
    {
        ViewData["Title"] = "Editar";
        <Text>Editar usuário</Text>
    }
    else
    {
        ViewData["Title"] = "Novo";
        <Text>Novo usuário</Text>
    }
</h3>

<div class="card">
    <div class="card-body pt-5 px-5">
        @if (ViewBag.Message != null)
        {
            <div class="row form-group">
                <div class="col-12 ">
                    <div class="alert alert-success">
                        @ViewBag.Message
                    </div>
                </div>
            </div>
        }
        
        @if (ViewBag.Error != null)
        {
            <div class="row form-group">
                <div class="col-12 ">
                    <div class="alert alert-danger">
                        @Html.ValidationSummary()
                    </div>
                </div>
            </div>
        }
        
        @if (ViewBag.DuplicateEmail != null)
        {
            <div class="row form-group">
                <div class="col-12 ">
                    <div class="alert alert-danger">
                        E-mail já cadastrado, por favor cadastre outro e-mail válido.
                    </div>
                </div>
            </div>
        }
       
        @using (Html.BeginForm("Edit", "Users", FormMethod.Post))
        {
            @Html.HiddenFor(m => m.Guid)

            <div class="row">
                <div class="col-12">
                    <h4>Usuário</h4>
                </div>
            </div>

            <div class="row form-group">
                @Html.LabelFor(m => m.FirstName, new {@class = labelClasses})
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.FirstName, new {@class = inputClasses})
                    @Html.ValidationMessageFor(m => m.FirstName, string.Empty, new {@class = validationMessageClasses})
                </div>
            </div>

            <div class="row form-group">
                @Html.LabelFor(m => m.Lastname, new {@class = labelClasses})
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.Lastname, new {@class = inputClasses})
                    @Html.ValidationMessageFor(m => m.Lastname, string.Empty, new {@class = validationMessageClasses})
                </div>
            </div>

            <div class="row form-group">
                @Html.LabelFor(m => m.Email, new {@class = labelClasses})
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.Email, new {@class = inputClasses})
                    @Html.ValidationMessageFor(m => m.Email, string.Empty, new {@class = validationMessageClasses})
                </div>
            </div>

            <div class="row form-group">
                @Html.LabelFor(m => m.Roles, new {@class = labelClasses})
                <div class="col-sm-9">
                    @Html.ListBoxFor(m => m.Roles, (MultiSelectList) ViewBag.Roles, new {@class = selectClasses, multiple = "multiple"})
                    @Html.ValidationMessageFor(m => m.Roles, string.Empty, new {@class = validationMessageClasses})
                </div>
            </div>

            <div class="row form-group">
                @Html.LabelFor(m => m.Observations, new {@class = labelClasses})
                <div class="col-sm-9">
                    @Html.TextAreaFor(m => m.Observations, new {@class = inputClasses})
                    @Html.ValidationMessageFor(m => m.Observations, string.Empty, new {@class = validationMessageClasses})
                </div>
            </div>
            
            @if (Model.Guid.HasValue)
            {
                <div class="row">
                    <div class="col-12">
                        <h4>Redefinir senha (Opcional)</h4>
                    </div>
                </div>
            }
            
            <div class="row form-group">
                @Html.LabelFor(m => m.Password, new {@class = labelClasses})
                <div class="col-sm-9">
                    @Html.PasswordFor(m => m.Password, new {@class = inputClasses})
                    @Html.ValidationMessageFor(m => m.Password, string.Empty, new {@class = validationMessageClasses})
                </div>
            </div>
            <div class="row form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new {@class = labelClasses})
                <div class="col-sm-9">
                    @Html.PasswordFor(m => m.ConfirmPassword, new {@class = inputClasses})
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, string.Empty, new {@class = validationMessageClasses})
                </div>
            </div>

            @Html.EditorFor(m => m.Data, "Data")

            <div class="row form-group mt-5">
                <div class="col-sm-9 offset-sm-3">
                    <button class="btn btn-primary">Salvar</button>
                </div>
            </div>
        }
    </div>
</div>