@model Web.Areas.Admin.ViewModels.Users.EditClientViewModel

@{
    const string labelClasses = "text-sm-right col-sm-3 col-form-label";
    const string inputClasses = "form-control";
    const string selectClasses = "form-control select2";
    const string validationMessageClasses = "text-danger small";
    
    ViewData["Title"] = "Editar Cliente";
}

<h3 class="mt-2 mb-4">
    <Text>Editar Cliente</Text>
</h3>

<div class="card">
    <div class="card-body pt-5 px-5">
        @if (ViewBag.Message != null)
        {
            <div class="row form-group">
                <div class="col-12 ">
                    <div class="alert alert-success">
                        @ViewBag.Message
                    </div>
                </div>
            </div>
        }
        
        @if (ViewBag.Error != null)
        {
            <div class="row form-group">
                <div class="col-12 ">
                    <div class="alert alert-danger">
                        @Html.ValidationSummary()
                    </div>
                </div>
            </div>
        }

        @using (Html.BeginForm("EditClient", "Users", FormMethod.Post))
        {
            @Html.HiddenFor(m => m.Guid)
            @Html.HiddenFor(m => m.CompleteRegistration)

            <div class="row">
                <div class="col-12">
                    <h4>Cliente</h4>
                </div>
            </div>

            <div class="row form-group">
                @Html.LabelFor(m => m.FirstName, new {@class = labelClasses})
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.FirstName, new {@class = inputClasses})
                    @Html.ValidationMessageFor(m => m.FirstName, string.Empty, new {@class = validationMessageClasses})
                </div>
            </div>

            <div class="row form-group">
                @Html.LabelFor(m => m.Lastname, new {@class = labelClasses})
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.Lastname, new {@class = inputClasses})
                    @Html.ValidationMessageFor(m => m.Lastname, string.Empty, new {@class = validationMessageClasses})
                </div>
            </div>

            <div class="row form-group">
                @Html.LabelFor(m => m.Email, new {@class = labelClasses})
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.Email, new {@class = inputClasses})
                    @Html.ValidationMessageFor(m => m.Email, string.Empty, new {@class = validationMessageClasses})
                </div>
            </div>
            
            <div class="row form-group">
                @Html.LabelFor(m => m.PhoneNumber, new {@class = labelClasses})
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.PhoneNumber, new {@class = inputClasses})
                    @Html.ValidationMessageFor(m => m.PhoneNumber, string.Empty, new {@class = validationMessageClasses})
                </div>
            </div>
            
            <div class="row form-group">
                @Html.LabelFor(m => m.SocialId, new {@class = labelClasses})
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.SocialId, new {@class = inputClasses})
                    @Html.ValidationMessageFor(m => m.SocialId, string.Empty, new {@class = validationMessageClasses})
                </div>
            </div>
            
            <div class="row form-group">
                @Html.LabelFor(m => m.Zipcode, new {@class = labelClasses})
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.Zipcode, new {@class = inputClasses})
                    @Html.ValidationMessageFor(m => m.Zipcode, string.Empty, new {@class = validationMessageClasses})
                </div>
            </div>
            
            <div class="row form-group">
                @Html.LabelFor(m => m.DateOfBirth, new {@class = labelClasses})
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.DateOfBirth, "{0:dd/MM/yyyy}", new {@class = inputClasses})
                    @Html.ValidationMessageFor(m => m.DateOfBirth, string.Empty, new {@class = validationMessageClasses})
                </div>
            </div>
            
            <div class="row form-group">
                @Html.LabelFor(m => m.Observations, new {@class = labelClasses})
                <div class="col-sm-9">
                    @Html.TextAreaFor(m => m.Observations, new {@class = inputClasses})
                    @Html.ValidationMessageFor(m => m.Observations, string.Empty, new {@class = validationMessageClasses})
                </div>
            </div>

            @Html.EditorFor(m => m.Data, "Data")

            <div class="row form-group mt-5">
                <div class="col-sm-9 offset-sm-3">
                    <button class="btn btn-primary">Salvar</button>
                </div>
            </div>
        }
    </div>
</div>