﻿@using Core.Utils
@using Core.Entities
@using OfficeOpenXml.FormulaParsing.Excel.Functions.Text
@using X.PagedList;
@using X.PagedList.Mvc.Core
@using X.PagedList.Mvc.Core.Common

@{
    ViewData["Title"] = "Usuários";
    
    var users = (IPagedList<AppUser>)ViewData["Results"];
    var clients = (IPagedList<AppUser>)ViewData["ResultClients"];
    var responsiveButtonsCss = "btn btn-block btn-sm";
    
    var activeTab = (string) ViewBag.ActiveTab ?? "clients";
    string IsActiveTab(string name) => name.Equals(activeTab, StringComparison.InvariantCultureIgnoreCase) ? "active" : string.Empty;
}

<div class="card">

    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" id="bologna-list" role="tablist">
            <li class="nav-item">
                <a class="nav-link @IsActiveTab("clients")" href="#clients" role="tab" aria-controls="clients" aria-selected="false">Clientes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link @IsActiveTab("administrators")" href="#administrators" role="tab" aria-controls="administrators" aria-selected="false">Administradores</a>
            </li>
        </ul>
    </div>

    <div class="card-body py-2">
        <div class="tab-content mt-3">
            
            <div class="tab-pane @IsActiveTab("clients")" id="clients" role="tabpanel">
                @using (Html.BeginForm("Index", "Users", new { ReturnToView = "clients" }, FormMethod.Post))
                {
                    <div class="row pt-2 pb-4">
                        <div class="col-12 col-md-6 mb-4 mb-md-0">
                            <input type="text" name="searchTerm" class="form-control" placeholder="Buscar..." value="@ViewData["SearchTerm"]" />
                        </div>
                                          
                        <div class="col-12 col-md-3 mb-4 mb-md-0">
                            <button type="submit" class="@responsiveButtonsCss btn-primary">
                                <i class="mdi mdi-table-search btn-icon-prepend"></i>
                                Buscar
                            </button>
                        </div>
                                            
                        @if ((bool) ViewData["IsActive"])
                        {
                            <div class="col-12 col-md-3 mb-4 mb-md-0">
                                <a asp-action="Index" asp-route-ReturnToView="clients" asp-route-IsActive="false" class="btn btn-block btn-sm btn-secondary">
                                    <i class="mdi mdi-account-off"></i>
                                    Exibir desativados
                                </a>
                            </div>
                        }
                        else
                        {
                            <div class="col-12 col-md-3 mb-4 mb-md-0">
                                <a asp-action="Index" asp-route-ReturnToView="clients" asp-route-IsActive="true" class="btn btn-block btn-sm btn-primary">
                                    <i class="mdi mdi-check"></i>
                                    Apenas Ativas
                                </a>
                            </div>
                        }
                    </div>
                }
                            
                <div class="table-responsive">
                    <table class="table m-0">
                        <thead>
                        <tr>
                            <th scope="col">Nome</th>
                            <th scope="col">E-mail</th>
                            <th scope="col">Cadastro completo?</th>
                            <th scope="col">Modificação</th>
                            <th scope="col">Registro</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in clients)
                        {
                            <tr>
                                <td>@item.FirstName</td>
                                <td>@item.Email</td>
                                <td class="text-center">@if (item.CompleteRegistration)
                                    {
                                        <p class="text-success">Sim</p>
                                    }
                                    else
                                    {
                                        <p class="text-danger">Não</p>
                                    }
                                </td>
                                    
                                @if (item.ModifiedAt.ToString() != "01/01/0001 00:00:00")
                                {
                                    <td>
                                        @item.ModifiedAt.ToLocalString()
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        ---
                                    </td>
                                }
                                
                                <td>
                                    @item.CreatedAt.ToLocalString()
                                </td>
                                
                                <td>
                                    <a asp-action="ViewClient" asp-route-id="@item.Id" class="btn btn-light btn-sm">
                                        <i class="fas fa-eye"></i>
                                        Visualizar
                                    </a>
                                    
                                    <a asp-action="EditClient" asp-route-id="@item.Id" class="btn btn-light btn-sm">
                                        <i class="fas fa-pencil-alt"></i>
                                        Editar
                                    </a>
                                            
                                    @if (item.IsActive)
                                    {
                                        <a asp-action="ToggleActive" asp-route-id="@item.Id" class="btn btn-light btn-sm">
                                            Desativar
                                        </a>
                                    }
                                    else
                                    {
                                        <a asp-action="ToggleActive" asp-route-id="@item.Id" class="btn btn-light btn-sm" style="color: red">
                                            Ativar
                                        </a>
                                    }
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                                                        
                    <div class="d-flex mt-5">
                        <div class="mr-auto align-self-end p-2">
                            @Html.PagedListPager(clients, page => Url.Action("Index",
                                new
                                {
                                    page,
                                    searchTerm = ViewData["SearchTerm"],
                                    ordination = ViewData["Ordination"],
                                    activeOnly = ViewData["IsActive"],
                                    returnToView = "clients"
                                }),
                                new PagedListRenderOptions
                                {
                                    LiElementClasses = new[] {"page-item"},
                                    PageClasses = new[] {"page-link"},
                                    DisplayEllipsesWhenNotShowingAllPageNumbers = false
                                }
                                )
                        </div>
                        <div class="align-self-center p-2">
                            <a asp-controller="Users" asp-action="Export" asp-route-isClient="client" class="btn btn-sm btn-dark">
                                Exportar @ViewData["CountClients"] Cliente(s)
                            </a>
                        </div>
                    </div>
                </div> 
            </div>
                            
            <div class="tab-pane @IsActiveTab("administrators")" id="administrators" role="tabpanel">
                @using (Html.BeginForm("Index", "Users", new { ReturnToView = "administrators" }, FormMethod.Post))
                {
                    <div class="row pt-2 pb-4">
                        <div class="col-12 col-md-6 mb-4 mb-md-0">
                            <input type="text" name="searchTerm" class="form-control" placeholder="Buscar..." value="@ViewData["SearchTerm"]" />
                        </div>
                                          
                        <div class="col-12 col-md-2 mb-4 mb-md-0">
                            <button type="submit" class="@responsiveButtonsCss btn-primary">
                                <i class="mdi mdi-table-search btn-icon-prepend"></i>
                                Buscar
                            </button>
                        </div>
                                            
                        @if ((bool) ViewData["IsActive"])
                        {
                            <div class="col-12 col-md-2 mb-4 mb-md-0">
                                <a asp-action="Index" asp-route-ReturnToView="administrators" asp-route-IsActive="false" class="btn btn-block btn-sm btn-secondary">
                                    <i class="mdi mdi-account-off"></i>
                                    Exibir desativados
                                </a>
                            </div>
                        }
                        else
                        {
                            <div class="col-12 col-md-2 mb-4 mb-md-0">
                                <a asp-action="Index" asp-route-ReturnToView="administrators" asp-route-IsActive="true" class="btn btn-block btn-sm btn-primary">
                                    <i class="mdi mdi-check"></i>
                                    Apenas Ativas
                                </a>
                            </div>
                        }
                            
                        <div class="col-12 col-md-2 mb-4 mb-md-0">
                            <a asp-controller="Users" asp-action="Edit" class="@responsiveButtonsCss btn-success">
                                <i class="mdi mdi-account-plus btn-icon-prepend"></i>
                                Novo usuário
                            </a>
                        </div>
                    </div>
                }
                
                <div class="table-responsive">
                    <table class="table m-0">
                        <thead>
                        <tr>
                            <th scope="col">Nome</th>
                            <th scope="col">E-mail</th>
                            <th scope="col">Modificação</th>
                            <th scope="col">Registro</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in users)
                        {
                            <tr>
                                <td>@item.FirstName</td>
                                <td>@item.Email</td>
                                @if (item.ModifiedAt.ToString() != "01/01/0001 00:00:00")
                                {
                                    <td>
                                        @item.ModifiedAt.ToLocalString()
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        ---
                                    </td>
                                }
                                
                                <td>
                                    @item.CreatedAt.ToLocalString()
                                </td>
                                <td>
                                    <a asp-action="View" asp-route-id="@item.Id" class="btn btn-light btn-sm">
                                        <i class="fas fa-eye"></i>
                                        Visualizar
                                    </a>
                                    
                                    @if (item.Email != "admin@totolecshow.com")
                                    {
                                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-light btn-sm">
                                            <i class="fas fa-pencil-alt"></i>
                                            Editar
                                        </a>
                                        
                                        @if (item.IsActive)
                                        {
                                            <a asp-action="ToggleActive" asp-route-id="@item.Id" class="btn btn-light btn-sm">
                                                Desativar
                                            </a>
                                        }
                                        else
                                        {
                                            <a asp-action="ToggleActive" asp-route-id="@item.Id" class="btn btn-light btn-sm" style="color: red">
                                                Ativar
                                            </a>
                                        }
                                    }
                                    
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                                                        
                    <div class="d-flex mt-5">
                        <div class="mr-auto align-self-end p-2">
                            @Html.PagedListPager(users, page => Url.Action("Index",
                                new
                                {
                                    page,
                                    searchTerm = ViewData["SearchTerm"],
                                    ordination = ViewData["Ordination"],
                                    activeOnly = ViewData["IsActive"],
                                    returnToView = "administrators"
                                }),
                                new PagedListRenderOptions
                                {
                                    LiElementClasses = new[] {"page-item"},
                                    PageClasses = new[] {"page-link"},
                                    DisplayEllipsesWhenNotShowingAllPageNumbers = false
                                }
                                )
                        </div>
                        <div class="align-self-center p-2">
                            <a asp-controller="Users" asp-action="Export" class="btn btn-sm btn-dark">
                                Exportar @ViewData["Count"] Usuário(s)
                            </a>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>

<div class="toast" style="position: fixed; bottom: 20px; right: 20px;">
    <div class="toast-header">
        <strong class="mr-auto">Sistema</strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body text-success">
        Guid copiado para área de transferência!
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
    $(document).ready(function() {
        $('#bologna-list a').on('click', function (e) {
              e.preventDefault()
              $(this).tab('show')
            })
            
            window.clipboard.on('success', function(e) {
                e.clearSelection();
                $('.toast').toast('show');
            });
        
           $('.toast').toast({
               delay: 5000,
           }); 
    });
    </script>
}