@using X.PagedList
@using Core.Entities.AppLogs
@model Web.Areas.Admin.ViewModels.Users.EditClientViewModel
@using X.PagedList.Mvc.Core
@using X.PagedList.Mvc.Core.Common
@using Core.Entities
@using Core.Utils

@{
    ViewData["Title"] = "Visualizar Cliente";
    const string labelClasses = "text-sm-right col-sm-3 col-form-label";
    const string inputClasses = "form-control";
    const string selectClasses = "form-control select2";
    var responsiveButtonsCss = "btn btn-block btn-sm";
    
    var logs = (IPagedList<Log>)ViewData["ResultsLogs"];
    
    var tickets = (IPagedList<Ticket>)ViewData["ResultsTickets"];
    
    var activeTab = (string) ViewBag.ActiveTab ?? "info";
    string IsActiveTab(string name) => name.Equals(activeTab, StringComparison.InvariantCultureIgnoreCase) ? "active" : string.Empty;
}

<h3 class="mt-2 mb-4">
    <Text>Visualizar Cliente - @($"{Model.FirstName} {Model.Lastname}")</Text>
</h3>

<div class="card">
    
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" id="bologna-list" role="tablist">
            <li class="nav-item">
                <a class="nav-link @IsActiveTab("info")" href="#info" role="tab" aria-controls="info" aria-selected="false">Informações</a>
            </li>

            <li class="nav-item">
                <a class="nav-link @IsActiveTab("purchase")" href="#purchase" role="tab" aria-controls="purchase" aria-selected="false">Cartelas compradas</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link @IsActiveTab("historic")" href="#historic" role="tab" aria-controls="historic" aria-selected="false">Histórico</a>
            </li>
        </ul>
    </div>
    
    <div class="card-body py-2">

        @if (ViewBag.Message != null)
        {
            <div class="row form-group">
                <div class="col-12 ">
                    <div class="alert alert-success">
                        @ViewBag.Message
                    </div>
                </div>
            </div>
        }

        <div class="tab-content mt-3">
            <div class="tab-pane @IsActiveTab("info")" id="info" role="tabpanel">
            
                <div class="row">
                    <div class="col-12">
                        <h4>Cliente</h4>
                    </div>
                </div>
                
                <div class="row form-group">
                    @Html.LabelFor(m => m.FirstName, new {@class = labelClasses})
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.FirstName, new {@class = inputClasses, disabled = "disabled"})
                    </div>
                </div>
        
                <div class="row form-group">
                    @Html.LabelFor(m => m.Lastname, new {@class = labelClasses})
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.Lastname, new {@class = inputClasses, disabled = "disabled"})
                    </div>
                </div>
                
                <div class="row form-group">
                    @Html.LabelFor(m => m.SocialId, new {@class = labelClasses})
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.SocialId, new {@class = inputClasses, disabled = "disabled"})
                    </div>
                </div>
        
                <div class="row form-group">
                    @Html.LabelFor(m => m.Email, new {@class = labelClasses})
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.Email, new {@class = inputClasses, disabled = "disabled"})
                    </div>
                </div>
        
                <div class="row form-group">
                    @Html.LabelFor(m => m.PhoneNumber, new {@class = labelClasses})
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.PhoneNumber, new {@class = inputClasses, disabled = "disabled"})
                    </div>
                </div>
        
                <div class="row form-group">
                    @Html.LabelFor(m => m.Zipcode, new {@class = labelClasses})
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.Zipcode, new {@class = inputClasses, disabled = "disabled"})
                    </div>
                </div>
        
                <div class="row form-group">
                    @Html.LabelFor(m => m.DateOfBirth, new {@class = labelClasses})
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.DateOfBirth, "{0:dd/MM/yyyy}", new {@class = inputClasses, disabled = "disabled"})
                    </div>
                </div>
        
                <div class="row form-group">
                    @Html.LabelFor(m => m.Observations, new {@class = labelClasses})
                    <div class="col-sm-9">
                        @Html.TextAreaFor(m => m.Observations, new {@class = inputClasses, disabled = "disabled"})
                    </div>
                </div>
        
                @Html.EditorFor(m => m.Data, "DataView")
            </div>
            
            <div class="tab-pane @IsActiveTab("purchase")" id="purchase" role="tabpanel">
                            
                            @if (tickets.Count > 0)
                            {
                                using (Html.BeginForm("ViewClient", "Users", new {ReturnToView = "purchase", id = ViewData["GuidUser"]}, FormMethod.Post))
                                {
                                    <div class="row pt-2 pb-4">
                                        <div class="col-12 col-md-7 mb-4 mb-md-0">
                                            <input type="text" name="searchTerm" class="form-control" placeholder="Buscar..." value="@ViewData["SearchTerm"]"/>
                                        </div>
                        
                                        <div class="col-12 col-md-5 mb-4 mb-md-0">
                                            <button type="submit" class="@responsiveButtonsCss btn-primary">
                                                <i class="mdi mdi-table-search btn-icon-prepend"></i>
                                                Buscar
                                            </button>
                                        </div>
                                    </div>
                                }
                                        
                                <div class="table-responsive">
                                    <table class="table m-0">
                                        <thead>
                                        <tr>
                                            <th scope="col">Nr. Cartela</th>
                                            <th scope="col">Bolas</th>
                                            <th scope="col">ID Transação</th>
                                            <th scope="col">Data Compra</th>
                                            <th scope="col"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var ticket in tickets)
                                            {
                                                <tr>
                                                    <td>@ticket.TicketNumber</td>
                                                    <td>
                                                        <table>
                                                            <tbody>
                                                            <tr>
                                                                @for (int i = 0; i < 10; i++)
                                                                {
                                                                    <th class="table-ball">
                                                                        <div class="ball">
                                                                            <p>@($"{ticket.TicketBalls[i]:00}")</p>
                                                                        </div>
                                                                    </th>
                                                                }
                                                            </tr>
                                                            <tr>
                                                                @for (int i = 10; i < 20; i++)
                                                                {
                                                                    <th class="table-ball">
                                                                        <div class="ball">
                                                                            <p>@($"{ticket.TicketBalls[i]:00}")</p>
                                                                        </div>
                                                                    </th>
                                                                }
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                    <td>@ticket.IdTransaction</td>
                                                    <td>
                                                        @if (ticket.PurchaseDate != null)
                                                        {
                                                            @ticket.PurchaseDate.Value.ToLocalString()
                                                        }
                                                    </td>
                                                    <td>
                                                        <a asp-controller="Tickets" asp-action="View" asp-route-id="@ticket.Guid" class="btn btn-light btn-sm">
                                                            <i class="fas fa-eye"></i>
                                                            Visualizar
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                
                                <div class="d-flex mt-5">
                                    <div class="mr-auto align-self-end p-2">
                                        @Html.PagedListPager(tickets, page => Url.Action("ViewClient",
                                            new
                                            {
                                                page,
                                                returnToView = "purchase",
                                                id = ViewData["GuidUser"]
                                            }),
                                            new PagedListRenderOptions
                                            {
                                                LiElementClasses = new[] {"page-item"},
                                                PageClasses = new[] {"page-link"},
                                                DisplayEllipsesWhenNotShowingAllPageNumbers = false
                                            }
                                            )
                                    </div>
                                </div>
                            }
                            else
                            {
                                <p>Nenhuma compra efetuada</p>
                            }
                            
                        </div>
            
            <div class="tab-pane @IsActiveTab("historic")" id="historic" role="tabpanel">
                <div class="table-responsive">
                    <table class="table m-0">
                        <thead>
                        <tr>
                            <th scope="col">Usuário de alteração</th>
                            <th scope="col">E-mail do usuário alteração</th>
                            <th scope="col">Campo alterado</th>
                            <th scope="col">Antes</th>
                            <th scope="col">Depois</th>
                            <th scope="col">Data da modificação</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in logs)
                        {
                            @if (item.PropertyLogs != null)
                            {
                                @foreach (var mod in item.PropertyLogs)
                                {                                
                                    <tr>
                                        <td>@($"{item.AppUser.FirstName} {item.AppUser.LastName}")</td>
                                        <td>@item.AppUser.Email</td>
                                        <td>@mod.Property</td>
                                        <td>@mod.Before</td>
                                        <td>@mod.After</td>
                                        <td>@item.CreatedAt.ToLocalString()</td>
                                    </tr>
                                }
                            }
                        }
                        </tbody>
                    </table>
                    
                    <div class="d-flex mt-5">
                        <div class="mr-auto align-self-end p-2">
                            @Html.PagedListPager(logs, page => Url.Action("ViewClient",
                                new
                                {
                                    page,
                                    returnToView = "historic",
                                    id = ViewData["GuidUser"]
                                }),
                                    new PagedListRenderOptions
                                    {
                                        LiElementClasses = new[] {"page-item"},
                                        PageClasses = new[] {"page-link"},
                                        DisplayEllipsesWhenNotShowingAllPageNumbers = false
                                    }
                                )
                        </div>
                        
                        <div class="align-self-center p-2">
                            <a asp-controller="Users" asp-action="ExportHistoric" asp-route-guid="@Model.Guid" class="btn btn-sm btn-dark">
                                Exportar histórico
                            </a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
    $(document).ready(function() {
        $('#bologna-list a').on('click', function (e) {
              e.preventDefault()
              $(this).tab('show')
            });
    });
    
    </script>
}