@using X.PagedList
@using Core.Entities.AppLogs
@using Core.Utils
@model Web.Areas.Admin.ViewModels.Users.UserViewModel
@using X.PagedList.Mvc.Core
@using X.PagedList.Mvc.Core.Common

@{
    ViewData["Title"] = "Visualizar";
    const string labelClasses = "text-sm-right col-sm-3 col-form-label";
    const string inputClasses = "form-control";
    const string selectClasses = "form-control select2";
    const string validationMessageClasses = "text-danger small";
    
    var logs = (IPagedList<Log>)ViewData["ResultsLogs"];
    
    var activeTab = (string) ViewBag.ActiveTab ?? "info";
    string IsActiveTab(string name) => name.Equals(activeTab, StringComparison.InvariantCultureIgnoreCase) ? "active" : string.Empty;
}

<h3 class="mt-2 mb-4">
    <Text>Visualizar usuário - @($"{Model.FirstName} {Model.Lastname}")</Text>
</h3>

<div class="card">
    
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" id="bologna-list" role="tablist">
            <li class="nav-item">
                <a class="nav-link @IsActiveTab("info")" href="#info" role="tab" aria-controls="info" aria-selected="false">Informações</a>
            </li>

            <li class="nav-item">
                <a class="nav-link @IsActiveTab("historic")" href="#historic" role="tab" aria-controls="historic" aria-selected="false">Histórico</a>
            </li>
        </ul>
    </div>
        
    <div class="card-body py-2">

        @if (ViewBag.Message != null)
        {
            <div class="row form-group">
                <div class="col-12 ">
                    <div class="alert alert-success">
                        @ViewBag.Message
                    </div>
                </div>
            </div>
        }

        <div class="tab-content mt-3">
            <div class="tab-pane @IsActiveTab("info")" id="info" role="tabpanel">
                
                <div class="row">
                    <div class="col-12">
                        <h4>Usuário</h4>
                    </div>
                </div>
        
                <div class="row form-group">
                    @Html.LabelFor(m => m.FirstName, new {@class = labelClasses})
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.FirstName, new {@class = inputClasses, disabled = "disabled"})
                    </div>
                </div>

                <div class="row form-group">
                    @Html.LabelFor(m => m.Lastname, new {@class = labelClasses})
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.Lastname, new {@class = inputClasses, disabled = "disabled"})
                    </div>
                </div>

                <div class="row form-group">
                    @Html.LabelFor(m => m.Email, new {@class = labelClasses})
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.Email, new {@class = inputClasses, disabled = "disabled"})
                    </div>
                </div>

                <div class="row form-group">
                    @Html.LabelFor(m => m.Roles, new {@class = labelClasses})
                    <div class="col-sm-9">
                        @Html.ListBoxFor(m => m.Roles, (MultiSelectList) ViewBag.Roles, new {@class = selectClasses, multiple = "multiple",  disabled = "disabled"})
                        @Html.ValidationMessageFor(m => m.Roles, string.Empty, new {@class = validationMessageClasses})
                    </div>
                </div>

                <div class="row form-group">
                    @Html.LabelFor(m => m.Observations, new {@class = labelClasses})
                    <div class="col-sm-9">
                        @Html.TextAreaFor(m => m.Observations, new {@class = inputClasses, disabled = "disabled"})
                    </div>
                </div>

                @Html.EditorFor(m => m.Data, "DataView")
            </div>
            
            <div class="tab-pane @IsActiveTab("historic")" id="historic" role="tabpanel">
                <div class="table-responsive">
                    <table class="table m-0">
                        <thead>
                        <tr>
                            <th scope="col">Usuário de alteração</th>
                            <th scope="col">E-mail do usuário alteração</th>
                            <th scope="col">Campo alterado</th>
                            <th scope="col">Antes</th>
                            <th scope="col">Depois</th>
                            <th scope="col">Data da modificação</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in logs)
                        {
                            @foreach (var mod in item.PropertyLogs)
                            {                                
                                <tr>
                                    <td>@($"{item.AppUser.FirstName} {item.AppUser.LastName}")</td>
                                    <td>@item.AppUser.Email</td>
                                    <td>@mod.Property</td>
                                    <td>@mod.Before</td>
                                    <td>@mod.After</td>
                                    <td>@item.CreatedAt.ToLocalString()</td>
                                </tr>
                            }
                        }
                        </tbody>
                    </table>
                                
                    <div class="d-flex mt-5">
                        <div class="mr-auto align-self-end p-2">
                            @Html.PagedListPager(logs, page => Url.Action("View",
                                new
                                {
                                    page,
                                    returnToView = "historic",
                                    id = ViewData["GuidUser"]
                                }),
                                    new PagedListRenderOptions
                                    {
                                        LiElementClasses = new[] {"page-item"},
                                        PageClasses = new[] {"page-link"},
                                        DisplayEllipsesWhenNotShowingAllPageNumbers = false
                                    }
                                )
                        </div>
                        
                        <div class="align-self-center p-2">
                            <a asp-controller="Users" asp-action="ExportHistoric" asp-route-guid="@Model.Guid" class="btn btn-sm btn-dark">
                                Exportar histórico
                            </a>
                        </div>
                        
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
    $(document).ready(function() {
        $('#bologna-list a').on('click', function (e) {
              e.preventDefault()
              $(this).tab('show')
            });
    });
    
    </script>
}