﻿@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Esqueceu sua senha?";
    Layout = "_LayoutAccess";
    
    const string inputClasses = "form-control";
    const string validationMessageClasses = "text-danger small";
    var sendMail = ViewData["EmailSend"];
}

<style>
    .buttonBock {
        background-color: #6cb56c !important;
        border-color: #6cb56c !important;
    }
    
    .eac-sugg {
        color: #ccc !important;
    }
</style>

<div class="wrap-login101">
    <div class="text-center p-b-10">
        <a href="https://app.totolecshow.com.br/">
            <img src="~/images/novo-logo.png" alt="Totolec Show" class="img-fluid" style="width: 35%;">
        </a>
        
        <h4 class="lead p-t-10 h2-top">Recupere seu acesso!</h4>
    </div>
    
    <form method="post" class="validate-form" id="formForgotPassword">
        <label>Qual é o seu e-mail?</label>
        <div class="row">
            <div class="col-12 col-sm p-b-10">
                @Html.TextBoxFor(m => m.Input.Email, new {@class = inputClasses, placeholder="exemplo@email.com", @style="text-transform:lowercase" })
            </div>
        </div>
        
        <div class="p-t-5 p-b-5">
            <p class="text-danger">@ViewData["Error"]</p>
            @Html.ValidationMessageFor(m => m.Input.Email, string.Empty, new {@class = validationMessageClasses})
        </div>
        
        <div class="container-login101-form-btn">
            <div class="wrap-login101-form-btn">
                <div class="login101-form-bgbtn"></div>
                <button type="submit" id="confirm" class="login101-form-btn">
                    Enviar
                </button>
            </div>
        </div>
    </form>
</div>


@section Scripts {
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script type="text/javascript">
    var send = '@sendMail';
    
    if(send === 'Send')
    {
        swal({
          title: "E-mail de enviado com sucesso!",
          text: "Verifique seu e-mail para redefinir sua senha",
          icon: "success",
          button: "Entendi",
        });
    }
    
    $('#confirm').click(function() {
        $(this).prop("disabled", true);
        document.getElementById("confirm").className = 'login101-form-btn buttonBock';
         $(this).html(
           `<span class="spinner-border spinner-border-sm" role="status" id="spinner" aria-hidden="true"></span>&nbsp Aguarde, estamos processando.`
         );  
         
         $("#formForgotPassword").submit();
    });
    
    (function($){
        $(function() {
          $("#Input_Email").emailautocomplete({
            domains: ["example.com"]
          });
        });
      }(jQuery));
    
    </script>
}