﻿@page
@model LoginModel

@{
    ViewData["Title"] = "Acesso";
    Layout = "_LayoutAccess";
}

@Html.AntiForgeryToken()

<div class="wrap-login100">

    <div class="text-center">
        <a href="https://totolecshow.com.br/" target="_blank">
            <img src="~/images/novo-logo.png" alt="Totolec Show" class="img-fluid" style="width: 50%;">
        </a>
    </div>

    <form method="post" class="validate-form">
        <div class="wrap-input100 validate-input m-b-15" data-validate="Seu e-mail é necessário">
            <span class="label-input100">E-mail</span>
            @Html.TextBoxFor(m => m.Input.Email, new {@class = "input100", placeholder="Insira seu e-mail", @style="text-transform:lowercase" })
            <span class="focus-input100" data-symbol="&#xf206;"></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Sua senha é necessária">
            <span class="label-input100">Senha</span>
            @Html.PasswordFor(m => m.Input.Password, new {@class = "input100", placeholder="Insira sua senha" })
            <span class="focus-input100" data-symbol="&#xf190;"></span>
        </div>
    
        <div class="p-t-5 p-b-5">
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        </div>

        <div class="d-flex justify-content-between align-items-center">
            <div class="ml-auto">
                <a asp-page="./ForgotPassword" method="post">
                    Esqueceu sua senha?
                </a>
            </div>
        </div>

        <div class="container-login100-form-btn">
            <div class="wrap-login100-form-btn">
                <div class="login100-form-bgbtn"></div>
                <button class="login100-form-btn">
                    Entrar
                </button>
            </div>
        </div>
    </form>
    
    <div class="txt1 text-center p-b-10 p-t-10">
        <span>
            Ou acesse utilizando
        </span>
    </div>
    
    <div class="flex-c-m">
        @{if ((Model.ExternalLogins?.Count ?? 0) != 0)
          {
              <form id="external-account"
                    class="form-horizontal"
                    method="post"
                    asp-page="./ExternalLogin"
                    asp-route-returnUrl="@Model.ReturnUrl">
                  @foreach (var provider in Model.ExternalLogins)
                  {
                      @if (provider.DisplayName == "Facebook")
                      {
                          <button
                              type="submit"
                              class="login100-social-item bg1"
                              name="provider"
                              value="@provider.Name"
                              style="float: left;"
                              title="Faça login usando o seu @provider.DisplayName">
                              <i class="mdi mdi-facebook"></i>
                          </button>
                      }
                      else
                      {
                          <button
                              type="submit"
                              class="login100-social-item bg3"
                              name="provider"
                              value="@provider.Name"
                              style="float: right;"
                              title="Faça login usando sua conta @provider.DisplayName">
                              <i class="mdi mdi-google-glass"></i>
                          </button>
                      }
                  }
              </form>
          }
        }
    </div>
    
    <hr/>
    
    <div class="flex-col-c">
        <span class="txt1 p-t-5">
            <strong>Ainda não tem cadastro?</strong>
        </span>
        
        <div class="container-login100-form-btn">
            <div class="wrap-login100-form-btn">
                <div class="login100-form-bgbtn"></div>
                <form method="Get" asp-page="./Register">
                    <button  class="login101-form-btn">
                        Criar cadastro
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>