﻿@page
@using Core.Entities
@model RegisterModel

@{
    ViewData["Title"] = "Cadastro";
    Layout = "_LayoutAccess";
    
    var terms = (TermsOfService)ViewData["TermsOfServices"];
    
    const string inputClasses = "form-control";
    const string validationMessageClasses = "text-danger small";
}

<style>
    .buttonBock {
        background-color: #6cb56c !important;
        border-color: #6cb56c !important;
    }
    
    .eac-sugg {
        color: #ccc !important;
    }
</style>

<div class="wrap-login101">
<div class="text-center p-b-10">
    <a href="https://app.totolecshow.com.br/">
        <img src="~/images/novo-logo.png" alt="Totolec Show" class="img-fluid" style="width: 35%;">
    </a>
        
    <h4 class="p-b-5 p-t-10 h2-top">Cadastre-se. É simples, rápido e seguro.</h4>
</div>
    
@Html.ValidationSummary(true, null, new {@class = "alert alert-danger"} )

<form method="post" class="validate-form" id="formRegister">
    
    <label>Qual é o seu e-mail?</label>
    <div class="row">
        <div class="col-12 col-sm p-b-10">
            @Html.TextBoxFor(m => m.Input.Email, new {@class = inputClasses, placeholder="exemplo@email.com", id = "email", @style="text-transform:lowercase" })
            @Html.ValidationMessageFor(m => m.Input.Email, string.Empty, new {@class = validationMessageClasses})
            <div id="alertEmail"></div>
        </div>
    </div>
        
    <label>Crie uma senha</label>
    <div class="row">
        <div class="col-12 col-sm p-b-10" data-validate="Sua senha é necessária">
            @Html.PasswordFor(m => m.Input.Password, new {@class = inputClasses, placeholder="Crie uma senha" })
            @Html.ValidationMessageFor(m => m.Input.Password, string.Empty, new {@class = validationMessageClasses})
        </div>
    </div>
    
    <p class="text-secondary small my-1">Sua senha deve ter no mínimo 6 caracteres, contendo letras e números.</p>

    @*<label class="p-t-10">Qual é o seu gênero?</label>
        <div class="row">
            
            <div class="col-12 col-sm">
                <div class="form-check">
                    <label for="masculino" class="form-check-label text-muted">
                        @Html.RadioButtonFor(m => m.AcceptedTerm, new {id = "masculino"})
                        Masculino
                        <i class="input-helper"></i></label>
                </div>
            </div>
            
            
            <div class="col-12 col-sm">
                <div class="form-check">
                    <label for="feminino" class="form-check-label text-muted">
                        @Html.RadioButtonFor(m => m.AcceptedTerm, new {id = "feminino"})
                        Feminino
                        <i class="input-helper"></i></label>
                </div>
            </div>
            
            <div class="col-12 col-sm">
                <div class="form-check">
                    <label for="binario" class="form-check-label text-muted">
                        @Html.RadioButtonFor(m => m.AcceptedTerm, new {id = "binario"})
                        Não binário
                        <i class="input-helper"></i></label>
                </div>
            </div>
            
        </div>*@
        
    <div class="row">
        <div class="col-12 col-sm">
            <div class="form-check">
                <label for="acceptedTerm" class="form-check-label text-muted">
                    @Html.CheckBoxFor(m => m.Input.AcceptedTerm, new {id = "acceptedTerm"})
                    Concordo com os 
                    <i class="input-helper"></i>
                    <u class="termsOfService"><a data-toggle="modal" data-target="#termsOfServicesModal" class="form-page--link" >termos de serviço</a></u></label>
            </div>
        </div>
    </div>
  
    <div id="alertAcceptedTerm"></div>
        
    <div class="container-login101-form-btn">
        <div class="wrap-login101-form-btn">
            <div class="login101-form-bgbtn"></div>
            <a class="login101-form-btn" id="confirm">
                Criar cadastro
            </a>
        </div>
    </div>
</form>
    
<div class="txt1 text-center p-b-10 p-t-10">
    <span>
        Ou cadastre-se utilizando
    </span>
</div>
    
<div class="flex-c-m">
    @{if ((Model.ExternalLogins?.Count ?? 0) != 0)
      {
          <form id="external-account"
                class="form-horizontal"
                method="post"
                asp-page="./ExternalLogin"
                asp-route-returnUrl="@Model.ReturnUrl">
              @foreach (var provider in Model.ExternalLogins)
              {
                  @if (provider.DisplayName == "Facebook")
                  {
                      <button
                          type="submit"
                          class="login100-social-item bg1"
                          name="provider"
                          value="@provider.Name"
                          style="float: left;"
                          title="Faça login usando o seu @provider.DisplayName">
                          <i class="mdi mdi-facebook"></i>
                      </button>
                  }
                  else
                  {
                      <button
                          type="submit"
                          class="login100-social-item bg3"
                          name="provider"
                          value="@provider.Name"
                          style="float: right;"
                          title="Faça login usando sua conta @provider.DisplayName">
                          <i class="mdi mdi-google-glass"></i>
                      </button>
                  }
              }
          </form>
      }
    }
</div>
    
@if (terms != null)
{
    <div class="modal fade" id="termsOfServicesModal" tabindex="-1" role="dialog" aria-labelledby="termsOfServicesModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="termsOfServicesModalLabel">Termos de serviço</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @Html.Raw(terms.Message)
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
}
    
</div>

@section Scripts {
    <script type="text/javascript">
   
    $('#confirm').click(function() {
        if($("#acceptedTerm").is(':checked')){
            if (emailIsValid(document.getElementById("email").value)){
                    $(this).prop("disabled", true);
                    document.getElementById("confirm").className = 'login101-form-btn buttonBock';
                     $(this).html(
                       `<span class="spinner-border spinner-border-sm" role="status" id="spinner" aria-hidden="true"></span>&nbsp Aguarde, estamos processando.`
                     );  
                    $("#formRegister").submit();
                } else {
                    document.getElementById("alertEmail").innerHTML = "<span class='field-validation-error text-danger small data-valmsg-replace=true'>Insira um e-mail válido</span>";
                }
            } else {
                document.getElementById("alertAcceptedTerm").innerHTML = "<span class='field-validation-error text-danger small data-valmsg-replace=true'>Para concluir o cadastro é necessário aceitar os termos de serviço</span>";
            }
        });
    
        function emailIsValid (email) {
          return /\S+@@\S+\.\S+/.test(email)
        }
    
        /*$(document).ready(function() {
            // var inputs = $('[type="radio"]');
            // inputs.on('click', function() {
            //     inputs.get().forEach(function(el) {
            //         el.checked = el == this && this.checked;
            //     }, this);
            // });
        });*/
        
        (function($){
            $(function() {
              $("#email").emailautocomplete({
                domains: ["example.com"]
              });
            });
          }(jQuery));
    </script>
}
