﻿@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Redefinir senha";
    
    Layout = "_LayoutAccess";
    const string inputClasses = "form-control";
    const string validationMessageClasses = "text-danger small";
}

<style>
    .eac-sugg {
        color: #ccc !important;
    }
</style>

<div class="wrap-login101">
    <div class="text-center p-b-10">
        <a href="https://app.totolecshow.com.br/" target="_blank">
            <img src="~/images/novo-logo.png" alt="Totolec Show" class="img-fluid" style="width: 35%;">
        </a>
        
        <h4 class="p-b-5 p-t-10 h2-top">Redefina sua senha</h4>
    </div>
    
    <form method="post" class="validate-form">
        <input asp-for="Input.Code" type="hidden"/>
        
        <label>Qual é o seu e-mail?</label>
        <div class="row">
            <div class="col-12 col-sm p-b-10">
                @Html.TextBoxFor(m => m.Input.Email, new {@class = inputClasses, placeholder="exemplo@email.com" })
                @Html.ValidationMessageFor(m => m.Input.Email, string.Empty, new {@class = validationMessageClasses})
            </div>
        </div>
        
        <label>Insira sua nova senha</label>
        <div class="row">
            <div class="col-12 col-sm p-b-10">
                @Html.PasswordFor(m => m.Input.Password, new {@class = inputClasses })
                @Html.ValidationMessageFor(m => m.Input.Password, string.Empty, new {@class = validationMessageClasses})
            </div>
        </div>
        
        <label>Confirme sua nova senha</label>
        <div class="row">
            <div class="col-12 col-sm p-b-10">
                @Html.PasswordFor(m => m.Input.ConfirmPassword, new {@class = inputClasses })
                @Html.ValidationMessageFor(m => m.Input.ConfirmPassword, string.Empty, new {@class = validationMessageClasses})
            </div>
        </div>
        <p class="text-secondary small my-1">Sua senha deve ter no mínimo 6 caracteres, contendo letras e números.</p>
        
        <div class="container-login101-form-btn">
            <div class="wrap-login101-form-btn">
                <div class="login101-form-bgbtn"></div>
                <button type="submit" class="login101-form-btn">
                    Redefinir senha
                </button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
    <script type="text/javascript">
    (function($){
            $(function() {
              $("#Input_Email").emailautocomplete({
                domains: ["example.com"]
              });
            });
          }(jQuery));
    </script>
}