@{
    ViewData["Title"] = "Página Inicial";
    Layout = "_Layout";
}

<div class="col-12">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Totolec Show</h5>
            <h6 class="card-subtitle mb-2 text-muted">
                Seja bem-vindo ao Sistema da Totolec Show!
            </h6>
            @*<br/>
            <p class="card-text">
                Em caso de dúvidas, solicite suporte através do e-mail <a href="mailto:suporte@indevs.com.br" class="card-link">suporte@indevs.com.br</a>, ou pelo telefone (11) 9999-9999.
            </p>*@
        </div>
    </div>
</div>