@using Core.Utils
@model Web.Areas.Admin.ViewModels.Tickets.TicketViewModel

@{
    ViewData["Title"] = "Visualizar";
    const string labelClasses = "text-sm-right col-sm-3 col-form-label";
    const string inputClasses = "form-control";
    const string inputClassesNoBoder = "form-control";
}

<h3 class="mt-2 mb-4">
    <Text>Visualizar cartela - @Model.TicketNumber</Text>
</h3>

<div class="card">

    <div class="pt-4 px-3">
        <a onclick="window.history.go(-1); return false;"
           class="btn btn-sm btn-dark text-white" style="cursor: pointer">
            <i class="mdi mdi-chevron-left"></i>
            Voltar
        </a>
        
        @if (Model.Sold)
        {
            <a asp-controller="Tickets" asp-action="ExportPdf" asp-route-id="@Model.Guid"
               class="btn btn-sm btn-primary">
                <i class="mdi mdi-cloud-download"></i>
                Extrair PDF
            </a>
            
            <a asp-controller="Tickets" asp-action="ValidatePayment" asp-route-id="@Model.Guid"
               class="btn btn-sm btn-warning">
                Validar pagamento
            </a>
            
            if (!Model.PurchaseDate.HasValue)
            {
                <a asp-action="ReturnForSale" asp-route-id="@Model.Guid" class="btn btn-light btn-sm">
                    Retornar novamente para venda
                </a> 
            }
        }
        
        @if (Model.IsActive)
        {
            <a asp-action="ToggleActive" asp-route-id="@Model.Guid" class="btn btn-light btn-sm">
                Bloquear
            </a>
        }
        else
        {
            <a asp-action="ToggleActive" asp-route-id="@Model.Guid" class="btn btn-light btn-sm" style="color: red">
                Desbloquear
            </a>
        }
        
    </div>
    
    <div class="card-body py-4">
        @if (ViewBag.Message != null)
        {
            <div class="row form-group">
                <div class="col-12">
                    @if (ViewBag.Message == "Autorizado")
                    {
                        <div class="alert alert-success">
                            @ViewBag.Message
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-warning">
                            @ViewBag.Message
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    }
                </div>
            </div>
        }
      
        <div class="row">
            <div class="col-12">
                <h4>Cartela</h4>
            </div>
        </div>
        
        <div class="row form-group">
            @Html.LabelFor(m => m.TicketNumber, new {@class = labelClasses})
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.TicketNumber, new {@class = inputClasses, disabled="disabled"})
            </div>
        </div>
        
        <div class="row form-group">
            @Html.LabelFor(m => m.SimplifiedTicketNumber, new {@class = labelClasses})
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.SimplifiedTicketNumber, new {@class = inputClasses, disabled="disabled"})
            </div>
        </div>
        
        <div class="row form-group">
            @Html.LabelFor(m => m.ExtractionNumber, new {@class = labelClasses})
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.ExtractionNumber, new {@class = inputClasses, disabled="disabled"})
            </div>
        </div>
        
        <div class="row form-group">
            @Html.LabelFor(m => m.TicketBalls, new {@class = labelClasses})
            <div class="col-sm-9">
                <table>
                    <tbody>
                    <tr>
                        @for (int i = 0; i < 10; i++)
                        {
                            <th class="table-ball">
                                <div class="ball">
                                    <p>@($"{Model.TicketBalls[i]:00}")</p>
                                </div>
                            </th>
                        }
                    </tr>
                    <tr>
                        @for (int i = 10; i < 20; i++)
                        {
                            <th class="table-ball">
                                <div class="ball">
                                    <p>@($"{Model.TicketBalls[i]:00}")</p>
                                </div>
                            </th>
                        }
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        <div class="row form-group">
            @Html.LabelFor(m => m.Sold, new {@class = labelClasses})
            <div class="col-sm-9">
                @if (Model.Sold)
                {
                    <p class="text-success @inputClassesNoBoder">Sim</p>
                }
                else
                {
                    <p class="text-danger @inputClassesNoBoder">Não</p>
                }
            </div>
        </div>
        
        <hr/>
                                    
        <h5 class="text-gray">Comprador</h5>
        
        <div class="row form-group">
            <label class="text-sm-right col-sm-3 col-form-label">Nome</label>
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.AppUser.FirstName, new {@class = inputClasses, disabled="disabled"})
            </div>
        </div>
        
        <div class="row form-group">
            <label class="text-sm-right col-sm-3 col-form-label">E-mail</label>
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.AppUser.Email, new {@class = inputClasses, disabled="disabled"})
            </div>
        </div>
        
        <div class="row form-group">
            <label class="text-sm-right col-sm-3 col-form-label">Celular</label>
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.AppUser.PhoneNumber, new {@class = inputClasses, disabled="disabled"})
            </div>
        </div>
        
        <div class="row form-group">
            <label class="text-sm-right col-sm-3 col-form-label">CPF</label>
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.AppUser.SocialId, new {@class = inputClasses, disabled="disabled"})
            </div>
        </div>
        
        <div class="row form-group">
            <label class="text-sm-right col-sm-3 col-form-label">Data de Nasc.</label>
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.AppUser.DateOfBirth, new {@class = inputClasses, disabled="disabled"})
            </div>
        </div>
        
        <div class="row form-group">
            <label class="text-sm-right col-sm-3 col-form-label">CEP</label>
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.AppUser.Zipcode, new {@class = inputClasses, disabled="disabled"})
            </div>
        </div>
        
        <hr/>
                                            
        <h5 class="text-gray">Pagamento</h5>
        
        <div class="row form-group">
            <label class="text-sm-right col-sm-3 col-form-label">Meio pagamento</label>
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.GatewayPayment, new {@class = inputClasses, disabled="disabled"})
            </div>
        </div>
        
        <div class="row form-group">
            <label class="text-sm-right col-sm-3 col-form-label">ID Transação</label>
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.IdTransaction, new {@class = inputClasses, disabled="disabled"})
            </div>
        </div>
        
        @if (Model.PurchaseDate.HasValue)
        {
            <div class="row form-group">
                <label class="text-sm-right col-sm-3 col-form-label">Data da compra</label>
                <div class="col-sm-9">
                    <input class="form-control" disabled="disabled" id="PurchaseDate" name="PurchaseDate" type="text" value="@Model.PurchaseDate.Value.ToLocalString()">
                </div>
            </div>
        }
        
    </div>
</div>