@model Web.ViewModels.Shared.AddressViewModel

@{
    const string labelClasses = "text-sm-right col-sm-3 col-form-label";
    const string inputClasses = "form-control";
}

<div class="row form-group">
    @Html.LabelFor(m => m.Country, new {@class = labelClasses})
    <div class="col-sm-9">
        @Html.TextBoxFor(m => m.Country, new {@class = inputClasses, disabled = "disabled"})
    </div>
</div>

<div class="row form-group">
    @Html.LabelFor(m => m.State, new {@class = labelClasses})
    <div class="col-sm-9">
        @Html.TextBoxFor(m => m.State, new {@class = inputClasses, disabled = "disabled"})
    </div>
</div>

<div class="row form-group">
    @Html.LabelFor(m => m.City, new {@class = labelClasses})
    <div class="col-sm-9">
        @Html.TextBoxFor(m => m.City, new {@class = inputClasses, disabled = "disabled"})
    </div>
</div>

<div class="row form-group">
    @Html.LabelFor(m => m.Zipcode, new {@class = labelClasses})
    <div class="col-sm-9">
        @Html.TextBoxFor(m => m.Zipcode, new {@class = inputClasses, disabled = "disabled"})
    </div>
</div>

<div class="row form-group">
    @Html.LabelFor(m => m.Neighborhood, new {@class = labelClasses})
    <div class="col-sm-9">
        @Html.TextBoxFor(m => m.Neighborhood, new {@class = inputClasses, disabled = "disabled"})
    </div>
</div>

<div class="row form-group">
    @Html.LabelFor(m => m.Line1, new {@class = labelClasses})
    <div class="col-sm-9">
        @Html.TextBoxFor(m => m.Line1, new {@class = inputClasses, disabled = "disabled"})
    </div>
</div>

<div class="row form-group">
    @Html.LabelFor(m => m.Line2, new {@class = labelClasses})
    <div class="col-sm-9">
        @Html.TextBoxFor(m => m.Line2, new {@class = inputClasses, disabled = "disabled"})
    </div>
</div>

<div class="row form-group">
    @Html.LabelFor(m => m.Line3, new {@class = labelClasses})
    <div class="col-sm-9">
        @Html.TextBoxFor(m => m.Line3, new {@class = inputClasses, disabled = "disabled"})
    </div>
</div>

<div class="row form-group">
    @Html.LabelFor(m => m.Line4, new {@class = labelClasses})
    <div class="col-sm-9">
        @Html.TextBoxFor(m => m.Line4, new {@class = inputClasses, disabled = "disabled"})
    </div>
</div>

<div class="row form-group">
    @Html.LabelFor(m => m.Number, new {@class = labelClasses})
    <div class="col-sm-9">
        @Html.TextBoxFor(m => m.Number, new {@class = inputClasses, disabled = "disabled"})
    </div>
</div>

<div class="row form-group">
    @Html.LabelFor(m => m.Observations, new {@class = labelClasses})
    <div class="col-sm-9">
        @Html.TextBoxFor(m => m.Observations, new {@class = inputClasses, disabled = "disabled"})
    </div>
</div>

<div class="row form-group">
    @Html.LabelFor(m => m.Latitude, new {@class = labelClasses})
    <div class="col-sm-9">
        @Html.TextBoxFor(m => m.Latitude, new {@class = inputClasses, disabled = "disabled"})
    </div>
</div>

<div class="row form-group">
    @Html.LabelFor(m => m.Longitude, new {@class = labelClasses})
    <div class="col-sm-9">
        @Html.TextBoxFor(m => m.Longitude, new {@class = inputClasses, disabled = "disabled"})
    </div>
</div>