﻿@model Web.ViewModels.Shared.AddressViewModel

@{
    const string labelClasses = "text-sm-right col-sm-3 col-form-label";
    const string inputClasses = "form-control";
    const string validationMessageClasses = "text-danger small";
}

<div class="row form-group">
    @Html.LabelFor(m => m.Country, new {@class = labelClasses})
    <div class="col-sm-9">
        @Html.TextBoxFor(m => m.Country, new {@class = inputClasses})
        @Html.ValidationMessageFor(m => m.Country, string.Empty, new {@class = validationMessageClasses})
    </div>
</div>

<div class="row form-group">
    @Html.LabelFor(m => m.State, new {@class = labelClasses})
    <div class="col-sm-9">
        @Html.TextBoxFor(m => m.State, new {@class = inputClasses})
        @Html.ValidationMessageFor(m => m.State, string.Empty, new {@class = validationMessageClasses})
    </div>
</div>

<div class="row form-group">
    @Html.LabelFor(m => m.City, new {@class = labelClasses})
    <div class="col-sm-9">
        @Html.TextBoxFor(m => m.City, new {@class = inputClasses})
        @Html.ValidationMessageFor(m => m.City, string.Empty, new {@class = validationMessageClasses})
    </div>
</div>

<div class="row form-group">
    @Html.LabelFor(m => m.Zipcode, new {@class = labelClasses})
    <div class="col-sm-9">
        @Html.TextBoxFor(m => m.Zipcode, new {@class = inputClasses})
        @Html.ValidationMessageFor(m => m.Zipcode, string.Empty, new {@class = validationMessageClasses})
    </div>
</div>

<div class="row form-group">
    @Html.LabelFor(m => m.Neighborhood, new {@class = labelClasses})
    <div class="col-sm-9">
        @Html.TextBoxFor(m => m.Neighborhood, new {@class = inputClasses})
        @Html.ValidationMessageFor(m => m.Neighborhood, string.Empty, new {@class = validationMessageClasses})
    </div>
</div>

<div class="row form-group">
    @Html.LabelFor(m => m.Line1, new {@class = labelClasses})
    <div class="col-sm-9">
        @Html.TextBoxFor(m => m.Line1, new {@class = inputClasses})
        @Html.ValidationMessageFor(m => m.Line1, string.Empty, new {@class = validationMessageClasses})
    </div>
</div>

<div class="row form-group">
    @Html.LabelFor(m => m.Line2, new {@class = labelClasses})
    <div class="col-sm-9">
        @Html.TextBoxFor(m => m.Line2, new {@class = inputClasses})
        @Html.ValidationMessageFor(m => m.Line2, string.Empty, new {@class = validationMessageClasses})
    </div>
</div>

<div class="row form-group">
    @Html.LabelFor(m => m.Line3, new {@class = labelClasses})
    <div class="col-sm-9">
        @Html.TextBoxFor(m => m.Line3, new {@class = inputClasses})
        @Html.ValidationMessageFor(m => m.Line3, string.Empty, new {@class = validationMessageClasses})
    </div>
</div>

<div class="row form-group">
    @Html.LabelFor(m => m.Line4, new {@class = labelClasses})
    <div class="col-sm-9">
        @Html.TextBoxFor(m => m.Line4, new {@class = inputClasses})
        @Html.ValidationMessageFor(m => m.Line4, string.Empty, new {@class = validationMessageClasses})
    </div>
</div>

<div class="row form-group">
    @Html.LabelFor(m => m.Number, new {@class = labelClasses})
    <div class="col-sm-9">
        @Html.TextBoxFor(m => m.Number, new {@class = inputClasses})
        @Html.ValidationMessageFor(m => m.Number, string.Empty, new {@class = validationMessageClasses})
    </div>
</div>

<div class="row form-group">
    @Html.LabelFor(m => m.Observations, new {@class = labelClasses})
    <div class="col-sm-9">
        @Html.TextBoxFor(m => m.Observations, new {@class = inputClasses})
        @Html.ValidationMessageFor(m => m.Observations, string.Empty, new {@class = validationMessageClasses})
    </div>
</div>

<div class="row form-group">
    @Html.LabelFor(m => m.Latitude, new {@class = labelClasses})
    <div class="col-sm-9">
        @Html.TextBoxFor(m => m.Latitude, new {@class = inputClasses})
        @Html.ValidationMessageFor(m => m.Latitude, string.Empty, new {@class = validationMessageClasses})
    </div>
</div>

<div class="row form-group">
    @Html.LabelFor(m => m.Longitude, new {@class = labelClasses})
    <div class="col-sm-9">
        @Html.TextBoxFor(m => m.Longitude, new {@class = inputClasses})
        @Html.ValidationMessageFor(m => m.Longitude, string.Empty, new {@class = validationMessageClasses})
    </div>
</div>