@model Web.ViewModels.Shared.ContactInfoViewModel

@{
    const string labelClasses = "text-sm-right col-sm-3 col-form-label";
    const string inputClasses = "form-control";
}

<div class="row form-group">
    @Html.LabelFor(m => m.Firstname, new {@class = labelClasses})
    <div class="col-sm-9">
        @Html.TextBoxFor(m => m.Firstname, new {@class = inputClasses, disabled = "disabled"})
    </div>
</div>

<div class="row form-group">
    @Html.LabelFor(m => m.Lastname, new {@class = labelClasses})
    <div class="col-sm-9">
        @Html.TextBoxFor(m => m.Lastname, new {@class = inputClasses, disabled = "disabled"})
    </div>
</div>

<div class="row form-group">
    @Html.LabelFor(m => m.Email, new {@class = labelClasses})
    <div class="col-sm-9">
        @Html.TextBoxFor(m => m.Email, new {@class = inputClasses, disabled = "disabled"})
    </div>
</div>

<div class="row form-group">
    @Html.LabelFor(m => m.Telephone1, new {@class = labelClasses})
    <div class="col-sm-9">
        @Html.TextBoxFor(m => m.Telephone1, new {@class = inputClasses, disabled = "disabled"})
    </div>
</div>


<div class="row form-group">
    @Html.LabelFor(m => m.Telephone2, new {@class = labelClasses})
    <div class="col-sm-9">
        @Html.TextBoxFor(m => m.Telephone2, new {@class = inputClasses, disabled = "disabled"})
    </div>
</div>


<div class="row form-group">
    @Html.LabelFor(m => m.Telephone3, new {@class = labelClasses})
    <div class="col-sm-9">
        @Html.TextBoxFor(m => m.Telephone3, new {@class = inputClasses, disabled = "disabled"})
    </div>
</div>

<div class="row form-group">
    @Html.LabelFor(m => m.Observations, new {@class = labelClasses})
    <div class="col-sm-9">
        @Html.TextAreaFor(m => m.Observations, new {@class = inputClasses, disabled = "disabled"})
    </div>
</div>