@model Web.ViewModels.Shared.DicStringStringViewModel[]

@{
    const string labelClasses = "form-control col-sm-3 text-right";
    const string inputClasses = "form-control";

    var id = Guid.NewGuid().ToString();
}

<style type="text/css" media="screen and (max-width: 576px)">
    .padding-mobile {
        padding-top: 10px;
    }
</style>

<div class="row mt-5 mb-3">
    <div class="col-sm-3">
        <h4>Outras Informações</h4>
    </div>
    <div class="col-sm-9">
        <a href="javascript:void(0)"
           id="@($"{id}_add_info")"
           class="btn btn-sm btn-light">
            Adc. nova informação
        </a>
    </div>
</div>

<div id="@id">
    @if (Model != null)
    {
        @for (var i = 0; i < Model.Count(); i++)
        {
            var index = $"{id}-row-{i}";

            <div id="@index" class="row form-group">
                <input type="hidden" name="Data.Index" value="@index"/>
                <input type="text" class="@labelClasses" name="@($"Data[{index}].Key")" value="@Html.ValueFor(m => m[i].Key)"/>
                <div class="col-sm-8 padding-mobile">
                    <input type="text" class="@inputClasses" name="@($"Data[{index}].Value")" value="@Html.ValueFor(m => m[i].Value)"/>
                </div>
                <div class="col-sm-1">
                    <a href="javascript:void(0)" class="@($"{id}-remove-info")" data-index="@index">
                        <i class="mdi mdi-close-circle"></i>
                    </a>
                </div>
            </div>
        }
    }
</div>

<script id="@($"{id}_dictionary_row_template")" type="text/xhtml">
    <div id="#index#" class="row form-group">
        <input type="hidden" name="Data.Index" value="#index#"/>
        <input id="Data_#index#__Key" name="Data[#index#].Key" class="form-control col-sm-3 text-right" type="text" />
        <div class="col-sm-8 padding-mobile">
           <input id="Data_#index#__Value" name="Data[#index#].Value" class="form-control" type="text" />
        </div>
        <div class="col-sm-1">
            <a href="javascript:void(0)" class="@($"{id}-remove-info")" data-index="#index#">
                <i class="mdi mdi-close-circle"></i>
            </a>
        </div>
    </div>
</script>

@if (Model != null)
{
    <script type="text/javascript">
        const container = document.getElementById("@id");
        const template = document.getElementById("@($"{id}_dictionary_row_template")").innerHTML;
    
        let index = @Model?.Count();
        
        document.getElementById("@($"{id}_add_info")").addEventListener("click", function(e) {
            e.preventDefault();
            
            let indexString = "@id" + "-row-" + index++;
            let t = template.replace(/#index#/g, indexString);
            container.innerHTML += t;
            
            data_add_remove_listeners();
        });
        
        function data_add_remove_listeners() {
            let list = document.getElementsByClassName("@($"{id}-remove-info")");
            for (let i = 0; i < list.length; i++) {
                 list[i].addEventListener("click", function(e) {
                    e.preventDefault();
                    
                    let index = this.dataset["index"];
                    let row = document.getElementById(index);
                    row.remove();
                });
            }
        }
        
        data_add_remove_listeners();
    </script>
}
else
{
    <script type="text/javascript">
        const container = document.getElementById("@id");
        const template = document.getElementById("@($"{id}_dictionary_row_template")").innerHTML;
    
        let index = 0;
        
        document.getElementById("@($"{id}_add_info")").addEventListener("click", function(e) {
            e.preventDefault();
            
            let indexString = "@id" + "-row-" + index++;
            let t = template.replace(/#index#/g, indexString);
            container.innerHTML += t;
            
            data_add_remove_listeners();
        });
        
        function data_add_remove_listeners() {
            let list = document.getElementsByClassName("@($"{id}-remove-info")");
            for (let i = 0; i < list.length; i++) {
                 list[i].addEventListener("click", function(e) {
                    e.preventDefault();
                    
                    let index = this.dataset["index"];
                    let row = document.getElementById(index);
                    row.remove();
                });
            }
        }
        
        data_add_remove_listeners();
    </script>
}