@model Web.Areas.Admin.ViewModels.Alerts.AlertsViewModel
@using Core.Entities
@using Core.Entities.AppLogs
@using Core.Utils
@using X.PagedList;
@using X.PagedList.Mvc.Core
@using X.PagedList.Mvc.Core.Common

@{
    ViewData["Title"] = "Personalização";
    const string labelClasses = "text-sm-right col-sm-3 col-form-label";
    const string inputClasses = "form-control";
    var responsiveButtonsCss = "btn btn-block btn-sm";
    const string validationMessageClasses = "text-danger small";
    
    var banners = (IList<FileImport>)ViewData["ResultBanners"];
    var alerts = (IList<Alert>)ViewData["Alerts"];
    var terms = (TermsOfService)ViewData["Terms"];
    var messageEmail = (Messages)ViewData["MessageEmail"];
    var messageCheckout = (Messages)ViewData["messageCheckout"];
    var imgOfEmail = (IList<FileImport>)ViewData["ImgOfEmail"];
    var imgOfCheckout = (IList<FileImport>)ViewData["ImgOfCheckout"];
    var imgNextDraw = (IList<FileImport>)ViewData["ImgNextDraw"];
    var messageNextDraw = (Messages)ViewData["messageNextDraw"];
    
    var resultsLogs = (IPagedList<Log>)ViewData["ResultsLogs"];
    
    var activeTab = (string) ViewBag.ActiveTab ?? "initalPag";
    string IsActiveTab(string name) => name.Equals(activeTab, StringComparison.InvariantCultureIgnoreCase) ? "active" : string.Empty;
}

<h3 class="mt-2 mb-4">Personalização</h3>

<div class="card">

<div class="card-header">
    <ul class="nav nav-tabs card-header-tabs" id="bologna-list" role="tablist">
        @if (User.IsInRole("Administrators") || User.IsInRole("Dashboards"))
        {
            <li class="nav-item">
                <a class="nav-link @IsActiveTab("initalPag")" href="#initalPag" role="tab" aria-controls="initalPag" aria-selected="false">Página inicial</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link @IsActiveTab("alert")" href="#alert" role="tab" aria-controls="alert" aria-selected="false">Alerta</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link @IsActiveTab("emailMessage")" href="#emailMessage" role="tab" aria-controls="emailMessage" aria-selected="false">Mensagem do e-mail</a>
            </li>
            <li class="nav-item">
                <a class="nav-link @IsActiveTab("emailImg")" href="#emailImg" role="tab" aria-controls="emailImg" aria-selected="false">Imagem do e-mail</a>
            </li>
            <li class="nav-item">
                <a class="nav-link @IsActiveTab("checkoutMessage")" href="#checkoutMessage" role="tab" aria-controls="checkoutMessage" aria-selected="false">Mensagem do checkout</a>
            </li>
            <li class="nav-item">
                <a class="nav-link @IsActiveTab("checkoutImg")" href="#checkoutImg" role="tab" aria-controls="checkoutImg" aria-selected="false">Imagem do checkout</a>
            </li>
            <li class="nav-item">
                <a class="nav-link @IsActiveTab("imgNextDraw")" href="#imgNextDraw" role="tab" aria-controls="imgNextDraw" aria-selected="false">Imagem preparando próximo sorteio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link @IsActiveTab("msgNextDraw")" href="#msgNextDraw" role="tab" aria-controls="msgNextDraw" aria-selected="false">Mensagem preparando próximo sorteio</a>
            </li>
        }
        
        
        @if (User.IsInRole("Administrators") || User.IsInRole("ManageDraws"))
        {
            <li class="nav-item">
                <a class="nav-link @IsActiveTab("terms")" href="#terms" role="tab" aria-controls="terms" aria-selected="false">Termo de serviços</a>
            </li>
        
            <li class="nav-item">
                <a class="nav-link @IsActiveTab("historic")" href="#historic" role="tab" aria-controls="historic" aria-selected="false">Histórico</a>
            </li>  
        }
        
    </ul>
</div>
    
<div class="card-body py-2">
    
@if (ViewBag.Message != null)
{
    <div class="row form-group">
        <div class="col-12 ">
            <div class="alert alert-success" role="alert">
                @ViewBag.Message
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
        </div>
    </div>
}
    
<div class="tab-content mt-3">
<div class="tab-pane @IsActiveTab("initalPag")" id="initalPag" role="tabpanel">
    @using (Html.BeginForm("Upload", "Customization", FormMethod.Post, new {enctype = "multipart/form-data", id = "formUpload", @class = "form-inline"}))
    {
        <div class="form-group mr-5">
            <label class="@labelClasses">Importar banner</label>
            <div class="col-sm-9">
                <input name="banners" class="@inputClasses" accept="image/gif, image/jpeg, image/png" type="file" multiple="multiple"/>
            </div>
        </div>
    }
                
    <div class="form-group">
        <div class="m-4">
            <button class="btn btn-primary" id="send">Salvar</button>
        </div>
    </div>
                
    <hr/>
    <br/>
                
    <h5 class="text-gray">Banners importados</h5>
                
    <div class="table-responsive">
        <table class="table m-0">
            <thead>
            <tr>
                <th scope="col">Nome do arquivo</th>
                <th scope="col">Status</th>
                <th scope="col">Arquivo Interno</th>
                <th scope="col">Data de Upload</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
                                 
            @if (banners.Count > 0)
            {
                @foreach (var file in banners)
                {
                    <tr>
                        <td>@file.FileName</td>
                        <td>
                            @if (file.Status == Status.Processed)
                            {
                                <span class="badge badge-info">Processado</span>
                            } else if (file.Status == Status.Processing)
                            {
                                <span class="badge badge-danger">Processando...</span>
                            } else if (file.Status == Status.Imported)
                            {
                                <span class="badge badge-light">Importado</span>
                            } 
                        </td>
                        <td>@file.FileNameInternal</td>
                        <td>@file.CreatedAt.ToLocalString()</td>
                        <td>
                            <a class="btn btn-light btn-sm" href="@file.FileUri" target="_blank">
                                <i class="mdi mdi-open-in-new"></i>
                                Visualizar
                            </a>
                        </td>
                    </tr>
                }
            }
                      
            </tbody>
        </table>
    </div> 
</div>
            
<div class="tab-pane @IsActiveTab("alert")" id="alert" role="tabpanel">
    @using (Html.BeginForm("Alert", "Customization", FormMethod.Post, new {enctype = "multipart/form-data"}))
    {
        <div class="form-group">
            @Html.LabelFor(model => model.Message, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Message, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
            </div>
        </div>
                    
                    
        <div class="form-group">
            <div class="col-md-10">
                <button class="btn btn-primary">Salvar</button>
            </div>
        </div>
    }
                
    <hr/>
    <br/>
                                
    <h5 class="text-gray">Alerta para o cliente</h5>
                
    <div class="table-responsive">
        <table class="table m-0">
            <thead>
            <tr>
                <th scope="col">Mensagem</th>
                <th scope="col">Data de registro</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
                                 
            @if (alerts.Count > 0)
            {
                @foreach (var alert in alerts){
                    <tr>
                        <td>@Html.Raw(alert.Message)</td>
                        <td>@alert.CreatedAt.ToLocalString()</td>
                        <td>
                            @if (alert.IsActive)
                            {
                                <a asp-action="ToggleAlert" asp-route-id="@alert.Guid" class="btn btn-light btn-sm">
                                    Desativar
                                </a>
                            }
                            else
                            {
                                <a asp-action="ToggleAlert" asp-route-id="@alert.Guid" class="btn btn-light btn-sm" style="color: red">
                                    Ativar
                                </a>
                            }
                        </td>
                    </tr>
                }
            }
                        
            </tbody>
        </table>
    </div>
                
</div>
            
<div class="tab-pane @IsActiveTab("terms")" id="terms" role="tabpanel">
    @using (Html.BeginForm("TermsOfService", "Customization", FormMethod.Post, new {enctype = "multipart/form-data"}))
    {
        <div class="form-group">
            <label class="control-label col-md-2">Novo termo de serviços</label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Message, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Message, "", new {@class = "text-danger"})
            </div>
        </div>
                    
        <div class="form-group">
            <div class="col-md-10">
                <button class="btn btn-primary">Salvar</button>
            </div>
        </div>
    }
                                
    <hr/>
    <br/>
                
    <h5 class="text-gray">Termo de serviços</h5>
                
    <div class="table-responsive">
        <table class="table m-0">
            <thead>
            <tr>
                <th scope="col">Termo</th>
                <th scope="col">Data de registro</th>
            </tr>
            </thead>
            <tbody>
                                                 
            @if (terms != null)
            {
                <tr>
                    <td>@Html.Raw(terms.Message)</td>
                    <td>@terms.CreatedAt.ToLocalString()</td>
                </tr>
            }
                                        
            </tbody>
        </table>
    </div>
                
</div>
            
<div class="tab-pane @IsActiveTab("emailMessage")" id="emailMessage" role="tabpanel">
    @using (Html.BeginForm("MessageOfEmail", "Customization", FormMethod.Post, new {enctype = "multipart/form-data"}))
    {
        <div class="form-group">
            <label class="control-label col-md-4">Mensagem de compra efetuada</label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Message, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Message, "", new {@class = "text-danger"})
            </div>
        </div>
                    
        <div class="form-group">
            <div class="col-md-10">
                <button class="btn btn-primary">Salvar</button>
            </div>
        </div>
    }
                
    <hr/>
    <br/>
                                
    <h5 class="text-gray">Mensagem do e-mail de compra efetuada</h5>
                                
    <div class="table-responsive">
        <table class="table m-0">
            <thead>
            <tr>
                <th scope="col">Mensagem</th>
                <th scope="col">Data de registro</th>
            </tr>
            </thead>
            <tbody>
                                                                 
            @if (messageEmail != null)
            {
                <tr>
                    <td>@Html.Raw(messageEmail.Message)</td>
                    <td>@messageEmail.CreatedAt.ToLocalString()</td>
                </tr>
            }
                                                        
            </tbody>
        </table>
    </div>
                
</div>
            
<div class="tab-pane @IsActiveTab("emailImg")" id="emailImg" role="tabpanel">
    @using (Html.BeginForm("UploadImgEmail", "Customization", FormMethod.Post, new {enctype = "multipart/form-data", id = "formUploadImgEmail", @class = "form-inline"}))
    {
        <div class="form-group mr-5">
            <label class="@labelClasses">Imagem do e-mail de efetivação de compra</label>
            <div class="col-sm-9">
                <input name="imgOfEmail" class="@inputClasses" accept="image/gif, image/jpeg, image/png" type="file"/>
            </div>
        </div>
    }
    
    <div class="form-group">
        <div class="m-4">
            <button class="btn btn-primary" id="sendImgEmail">Salvar</button>
        </div>
    </div>
    
    <hr/>
    <br/>
      
    <h5 class="text-gray">Imagem importada</h5>
                                
    <div class="table-responsive">
        <table class="table m-0">
            <thead>
            <tr>
                <th scope="col">Nome do arquivo</th>
                <th scope="col">Status</th>
                <th scope="col">Arquivo Interno</th>
                <th scope="col">Data de Upload</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
                                                 
            @if (imgOfEmail.Count > 0)
            {
                @foreach (var file in imgOfEmail)
                {
                    <tr>
                        <td>@file.FileName</td>
                        <td>
                            @if (file.Status == Status.Processed)
                            {
                                <span class="badge badge-info">Processado</span>
                            } else if (file.Status == Status.Processing)
                            {
                                <span class="badge badge-danger">Processando...</span>
                            } else if (file.Status == Status.Imported)
                            {
                                <span class="badge badge-light">Importado</span>
                            } 
                        </td>
                        <td>@file.FileNameInternal</td>
                        <td>@file.CreatedAt.ToLocalString()</td>
                        <td>
                            <a class="btn btn-light btn-sm" href="@file.FileUri" target="_blank">
                                <i class="mdi mdi-open-in-new"></i>
                                Visualizar
                            </a>
                        </td>
                    </tr>
                }
            }
                                      
            </tbody>
        </table>
    </div> 
                
</div>

<div class="tab-pane @IsActiveTab("checkoutMessage")" id="checkoutMessage" role="tabpanel">
    @using (Html.BeginForm("MessageOfCheckout", "Customization", FormMethod.Post, new {enctype = "multipart/form-data"}))
        {
            <div class="form-group">
                <label class="control-label col-md-4">Mensagem do checkout</label>
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Message, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.Message, "", new {@class = "text-danger"})
                </div>
            </div>
                        
            <div class="form-group">
                <div class="col-md-10">
                    <button class="btn btn-primary">Salvar</button>
                </div>
            </div>
        }
                    
        <hr/>
        <br/>
                                    
        <h5 class="text-gray">Mensagem do checkout</h5>
                                    
        <div class="table-responsive">
            <table class="table m-0">
                <thead>
                <tr>
                    <th scope="col">Mensagem</th>
                    <th scope="col">Data de registro</th>
                </tr>
                </thead>
                <tbody>
                                                                     
                @if (messageCheckout != null)
                {
                    <tr>
                        <td>@Html.Raw(messageCheckout.Message)</td>
                        <td>@messageCheckout.CreatedAt</td>
                    </tr>
                }
                                                            
                </tbody>
            </table>
        </div>
</div>

<div class="tab-pane @IsActiveTab("checkoutImg")" id="checkoutImg" role="tabpanel">
    @using (Html.BeginForm("UploadImgCheckout", "Customization", FormMethod.Post, new {enctype = "multipart/form-data", id = "formUploadImgCheckout", @class = "form-inline"}))
        {
            <div class="form-group mr-5">
                <label class="@labelClasses">Imagem do checkout</label>
                <div class="col-sm-9">
                    <input name="imgOfCheckout" class="@inputClasses" accept="image/gif, image/jpeg, image/png" type="file"/>
                </div>
            </div>
        }
        
        <div class="form-group">
            <div class="m-4">
                <button class="btn btn-primary" id="sendImgCheckout">Salvar</button>
            </div>
        </div>
        
        <hr/>
        <br/>
          
        <h5 class="text-gray">Imagem importada</h5>
                                    
        <div class="table-responsive">
            <table class="table m-0">
                <thead>
                <tr>
                    <th scope="col">Nome do arquivo</th>
                    <th scope="col">Status</th>
                    <th scope="col">Arquivo Interno</th>
                    <th scope="col">Data de Upload</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                                                     
                @if (imgOfCheckout.Count > 0)
                {
                    @foreach (var file in imgOfCheckout)
                    {
                        <tr>
                            <td>@file.FileName</td>
                            <td>
                                @if (file.Status == Status.Processed)
                                {
                                    <span class="badge badge-info">Processado</span>
                                } else if (file.Status == Status.Processing)
                                {
                                    <span class="badge badge-danger">Processando...</span>
                                } else if (file.Status == Status.Imported)
                                {
                                    <span class="badge badge-light">Importado</span>
                                } 
                            </td>
                            <td>@file.FileNameInternal</td>
                            <td>@file.CreatedAt.ToLocalString()</td>
                            <td>
                                <a class="btn btn-light btn-sm" href="@file.FileUri" target="_blank">
                                    <i class="mdi mdi-open-in-new"></i>
                                    Visualizar
                                </a>
                            </td>
                        </tr>
                    }
                }
                                          
                </tbody>
            </table>
        </div> 
</div>

<div class="tab-pane @IsActiveTab("imgNextDraw")" id="imgNextDraw" role="tabpanel">
    @using (Html.BeginForm("UploadImgNextDraw", "Customization", FormMethod.Post, new {enctype = "multipart/form-data", id = "formUploadImgNextDraw", @class = "form-inline"}))
        {
            <div class="form-group mr-5">
                <label class="@labelClasses">Imagem do preparando próximo sorteio</label>
                <div class="col-sm-9">
                    <input name="imgNextDraw" class="@inputClasses" accept="image/gif, image/jpeg, image/png" type="file"/>
                </div>
            </div>
        }
        
        <div class="form-group">
            <div class="m-4">
                <button class="btn btn-primary" id="sendimgNextDraw">Salvar</button>
            </div>
        </div>
        
        <hr/>
        <br/>
          
        <h5 class="text-gray">Imagem importada</h5>
                                    
        <div class="table-responsive">
            <table class="table m-0">
                <thead>
                <tr>
                    <th scope="col">Nome do arquivo</th>
                    <th scope="col">Status</th>
                    <th scope="col">Arquivo Interno</th>
                    <th scope="col">Data de Upload</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                                                     
                @if (imgNextDraw.Count > 0)
                {
                    @foreach (var file in imgNextDraw)
                    {
                        <tr>
                            <td>@file.FileName</td>
                            <td>
                                @if (file.Status == Status.Processed)
                                {
                                    <span class="badge badge-info">Processado</span>
                                } else if (file.Status == Status.Processing)
                                {
                                    <span class="badge badge-danger">Processando...</span>
                                } else if (file.Status == Status.Imported)
                                {
                                    <span class="badge badge-light">Importado</span>
                                } 
                            </td>
                            <td>@file.FileNameInternal</td>
                            <td>@file.CreatedAt.ToLocalString()</td>
                            <td>
                                <a class="btn btn-light btn-sm" href="@file.FileUri" target="_blank">
                                    <i class="mdi mdi-open-in-new"></i>
                                    Visualizar
                                </a>
                            </td>
                        </tr>
                    }
                }
                                          
                </tbody>
            </table>
        </div> 
</div>

<div class="tab-pane @IsActiveTab("msgNextDraw")" id="msgNextDraw" role="tabpanel">
    @using (Html.BeginForm("MessageNextDraw", "Customization", FormMethod.Post, new {enctype = "multipart/form-data"}))
        {
            <div class="form-group">
                <label class="control-label col-md-4">Mensagem do preparando próximo sorteio</label>
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Message, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.Message, "", new {@class = "text-danger"})
                </div>
            </div>
                        
            <div class="form-group">
                <div class="col-md-10">
                    <button class="btn btn-primary">Salvar</button>
                </div>
            </div>
        }
                    
        <hr/>
        <br/>
                                    
        <h5 class="text-gray">Mensagem do preparando próximo sorteio</h5>
                                    
        <div class="table-responsive">
            <table class="table m-0">
                <thead>
                <tr>
                    <th scope="col">Mensagem</th>
                    <th scope="col">Data de registro</th>
                </tr>
                </thead>
                <tbody>
                                                                     
                @if (messageNextDraw != null)
                {
                    <tr>
                        <td>@Html.Raw(messageNextDraw.Message)</td>
                        <td>@messageNextDraw.CreatedAt</td>
                    </tr>
                }
                                                            
                </tbody>
            </table>
        </div>
</div>

<div class="tab-pane @IsActiveTab("historic")" id="historic" role="tabpanel">
<div class="table-responsive">
                    <table class="table m-0">
                        <thead>
                        <tr>
                            <th scope="col">Usuário de alteração</th>
                            <th scope="col">E-mail do usuário alteração</th>
                            <th scope="col">Campo alterado</th>
                            <th scope="col">Antes</th>
                            <th scope="col">Depois</th>
                            <th scope="col">Data da modificação</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in resultsLogs)
                        {
                            @if (item.PropertyLogs != null)
                            {
                                @foreach (var mod in item.PropertyLogs)
                                {                                
                                    <tr>
                                        <td>@($"{item.AppUser.FirstName} {item.AppUser.LastName}")</td>
                                        <td>@item.AppUser.Email</td>
                                        <td>@mod.Property</td>
                                        @if (mod.Property.Equals("Imagem do e-mail") || mod.Property.Equals("Imagem do checkout") || mod.Property.Equals("Banner"))
                                        {
                                            <td>
                                                <a class="btn btn-light btn-sm" href="@(mod.Before)" target="_blank">
                                                    <i class="mdi mdi-open-in-new"></i>
                                                    Abrir
                                                </a>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>@mod.Before</td>
                                        }
                                        <td>@mod.After</td>
                                        <td>@item.CreatedAt.ToLocalString()</td>
                                    </tr>
                                }
                            }
                        }
                        </tbody>
                    </table>
                    
                    <div class="d-flex mt-5">
                        <div class="mr-auto align-self-end p-2">
                            @Html.PagedListPager(resultsLogs, page => Url.Action("Index",
                                new
                                {
                                    page,
                                    returnToView = "historic",
                                }),
                                    new PagedListRenderOptions
                                    {
                                        LiElementClasses = new[] {"page-item"},
                                        PageClasses = new[] {"page-link"},
                                        DisplayEllipsesWhenNotShowingAllPageNumbers = false
                                    }
                                )
                        </div>
                        
                        @*<div class="align-self-center p-2">
                            <a asp-controller="Users" asp-action="ExportHistoric" asp-route-guid="@Model.Guid" class="btn btn-sm btn-dark">
                                Exportar histórico
                            </a>
                        </div>*@
                    </div>
                </div>
</div>

</div>
</div>
</div>

@section Scripts
{
    <script src="https://cdn.tiny.cloud/1/wcjlq6yyw6r3uavwlfpk525pakn3kf2fhg9msfjtck1oauvf/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

    <script type="text/javascript">
    $(document).ready(function() {
        tinymce.init({ selector:'textarea' });
        
        $('#bologna-list a').on('click', function (e) {
              e.preventDefault()
              $(this).tab('show')
            });
        
        $("#send").click(function() {
          $(this).prop("disabled", true);
          $(this).html(
            `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Aguarde, estamos processando... Isso pode demorar um pouco.`
          );
          $("#formUpload").submit();
          $('.toast').toast('show');
        });
        
        $("#sendImgEmail").click(function() {
          $(this).prop("disabled", true);
          $(this).html(
            `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Aguarde, estamos processando... Isso pode demorar um pouco.`
          );
          $("#formUploadImgEmail").submit();
          $('.toast').toast('show');
        });
        
        $("#sendImgCheckout").click(function() {
          $(this).prop("disabled", true);
          $(this).html(
            `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Aguarde, estamos processando... Isso pode demorar um pouco.`
          );
          $("#formUploadImgCheckout").submit();
          $('.toast').toast('show');
        });
        
        $("#sendimgNextDraw").click(function() {
          $(this).prop("disabled", true);
          $(this).html(
            `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Aguarde, estamos processando... Isso pode demorar um pouco.`
          );
          $("#formUploadImgNextDraw").submit();
          $('.toast').toast('show');
        });
    });
    
    </script>
}