@using Core.Utils
@using Core.Entities
@using X.PagedList;
@using X.PagedList.Mvc.Core
@using X.PagedList.Mvc.Core.Common
@using X.PagedList.Web.Common

@{
    ViewData["Title"] = "Carrinho";
    
    var tickets = (List<Ticket>)ViewData["Results"];
}

@if (tickets != null)
{
    <div class="containerTop pb-1 containerTopCard" style="background-color: #F9DE3A;">
        <div class="container">
            <div class="col-12">
                <h5 class="font-weight-light" id="countCart"></h5>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row mx-3 mt-4 mb-2">
            <div class="card-client w-100">
                <div class="card-body-client">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-sm py-1 text-center">
                                <div id="numberRamdom"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-1">
            @foreach (var item in tickets)
            {
                <div class="col-sm-4 mt-1">
                    <div class="card mx-3 my-1">
                        <div class="card-body">
                            <p class="mb-0">Número da Cartela:</p>
                            <strong>@item.SimplifiedTicketNumber <a asp-controller="Purchases" Title="Remover" asp-action="RemoveCookieTicket" asp-route-ticket="@item.Guid" style="position: absolute; top: 20px; right: 17px; font-size: large;"><i class="mdi mdi-close-circle-outline text-danger"></i></a></strong>
                            <hr style="margin-bottom: 16px; margin-top: 10px;" />
                            <p class="my-tickets ticket-balls-suggestions">
                                @for (int i = 0; i < 20; i++)
                                {
                                    <span class="ticket-ball-suggestions default">
                                        @($"{item.TicketBalls[i]:00}")
                                    </span>
                                }
                            </p>
                            @*<p class="mb-0 float-right ticket-value">@($"{item.Draw.ValueOfTicket:C}")</p>*@
                        </div>
                    </div>
                </div>
            }
        </div>
    
        <div class="card-client mt-3 mx-3">
            <div class="card-body-client">
                <div id="countTickets"></div>
                <p class="card-text">Concurso: @ViewData["DrawNumber"]</p>
                <hr />
                <p class="mb-0 font-weight-bolder">Total <a class="float-right">@($"{ViewData["TotalValue"]:C}")</a></p>
            </div>
            
            <div class="row d-flex justify-content-center my-2">
                <div class="m-2 text-right">
                    <a class="btn btn-sm-ticket btn-warning px-3 font-weight-bold" asp-controller="Home" asp-action="Index">
                        Escolha mais cartelas
                    </a>
                </div>
                
                <div class="m-2 text-left">
                    <a class="btn btn-sm-ticket btn-success px-4 font-weight-bold" asp-controller="Purchases" asp-action="Index" asp-route-ticketGuid="">
                        Finalize sua compra
                    </a>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="containerTop pb-1 containerTopCard" style="background-color: #F9DE3A; text-align: -moz-center;">
        <div class="container alingText">
            <div class="col-12">
                <h5 class="font-weight-light">Você ainda não adquiriu a sua cartela da sorte</h5>
            </div>
        </div>
    </div>
    
    <div class="container alingText" style="background-color: #f6f6f6; min-height: 55vh; text-align: -moz-center;">
        <br/>
        <div class="col-md-7 mt-1" >
            <h4>Não perca a chance de concorrer a vários prêmios!</h4>
            <h6>Clique no botão abaixo e não fique fora dessa!</h6>
            <br/>
            <div class="m-2 center-buttom-purchase pb-4">
                <a class="btn btn-sm-ticket-cart btn-success px-4 font-weight-bold" asp-controller="Home" asp-action="Index">
                    Compre sua cartela da sorte
                </a>
            </div>
        </div>
    </div>
}

@section Scripts {
    <script type="text/javascript">
    
    $(document).ready(function () {
        var min = Math.ceil(2);
        var max = Math.floor(5);
        var random =  Math.floor(Math.random() * (max - min + 1)) + min;
        
        var divElemn = "";
        var countTickets = @tickets?.Count;
        if (countTickets > 1)
        {
            divElemn = "<h6 class='card-text'>" + "<strong style='color: red'>" + random + "</strong>" + " pessoas estão de olho em suas cartelas" + "</div>";
        } else {
            divElemn = "<h6 class='card-text'>" + "<strong style='color: red'>" + random + "</strong>" + " pessoas estão de olho na sua cartela" + "</div>";
        }
        
        document.getElementById("numberRamdom").innerHTML = divElemn;
        document.getElementById("countCart").innerHTML = "Carrinho " + "(" + countTickets + ")";
        document.getElementById("countTickets").innerHTML = "<p class='mb-1'> Cartelas (" + countTickets + ") </p>";
    });
                
    </script>
    
}