@using Core.Entities
@{
    ViewData["Title"] = "Checkout";
    
    var image = (FileImport)ViewData["Image"];
}

<div class="containerTop">
    <div class="container" style="min-height: 55vh;">
        <div class="card mt-3">
            <div class="card-body">
                <div class="text-center">
                    @if (image != null)
                    {
                        <img src="@image.FileUri" class="ImgCheckout"/>
                    }
                    <div class="pt-2">@Html.Raw(ViewData["Menssage"])</div>
                    <h6 class="pt-2">Sua compra foi realizada com sucesso</h6>
                    <h6>Data do sorteio: @ViewBag.DrawDate.ToString("dd/MM/yyyy hh:mm")</h6>
                    <p class="text-secondary small my-1">Clique no botão abaixo e confira suas cartelas compradas.</p>
                    <div class="pt-2">
                        <a class="btn btn-sm-ticket btn-warning px-3 font-weight-bold" asp-controller="Users" asp-action="Tickets">
                            Minhas cartelas
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>