@model Web.ViewModels.Purchases.EditClientViewModel

@using Core.Entities
@using Microsoft.AspNetCore.Identity
@using System.Globalization
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@{
    ViewData["Title"] = "Comprar";
    var userAsync = await SignInManager.UserManager.GetUserAsync(User);
    var userName = userAsync != null ? userAsync.FirstName ?? userAsync.Email.Split("@")[0] : "";
    var cultureInfo = new CultureInfo("pt-BR");
    
    const string inputClasses = "form-control";
    const string validationMessageClasses = "text-danger small";
}

<div class="containerTop">
    <div class="container">
        <h5 style="background-color: #f6f6f6; border-radius: 10px;">Complete seu cadastro para efetuar a compra.</h5>
        <div class="card">
            <div class="card-body">
            @if (ViewBag.Error != null)
            {
                <div class="row form-group">
                    <div class="col-12 ">
                        <div class="alert alert-danger">
                            @Html.ValidationSummary()
                        </div>
                    </div>
                </div>
            }
            
            @if (ViewBag.ErrorCpf != null)
            {
                <div class="row form-group">
                    <div class="col-12 ">
                        <div class="alert alert-danger">
                            <span>CPF inválido, por favor insira um CPF válido.</span>
                        </div>
                    </div>
                </div>
            }
            
            @using (Html.BeginForm("Index", "Purchases", FormMethod.Post, new { id= "FormCompleteRegister" }))
                {
                    @*<ul id="progressbar" class="text-center">
                        <li class="active account" id="step1"></li>
                        <li class="payment" id="step3"></li>
                    </ul>*@
                
                    <p class="my-1">Preencha todos os campos abaixo.</p>
                    
@*                      <fieldset class="show">  *@
                        <div id="AlertStep1" class="mb-1"></div>
                        <label>Seu nome completo</label>
                        <div class="row">
                            <div class="col-12 col-sm p-b-3">
                                @Html.TextBoxFor(m => m.Name, new {@class = inputClasses, placeholder = "Ex: José da Silva", id = "name"})
                                <p class="text-secondary small mx-2 my-1">Seu nome é necessário para identificação</p>
                                @Html.ValidationMessageFor(m => m.Name, string.Empty, new {@class = validationMessageClasses})
                            </div>
                        </div>
                        
                        <label>Seu CPF</label>
                        <div class="row">
                            <div class="col-12 col-sm p-b-3">
                                @Html.TextBoxFor(m => m.SocialId, new {@class = inputClasses, placeholder = "Ex: 000.000.000-00", id = "cpf", inputmode = "numeric"})
                                <p class="text-secondary small mx-2 my-1">Seu CPF é necessário para identificação</p>
                                @Html.ValidationMessageFor(m => m.SocialId, string.Empty, new {@class = validationMessageClasses})
                            </div>
                        </div>

                        <label>Celular</label>
                        <div class="row">
                            <div class="col-12 col-sm p-b-3">
                                @Html.TextBoxFor(m => m.Phone, new {@class = inputClasses, placeholder = "Ex: 87 98888-7777", id = "phone", inputmode = "numeric"})
                                <p class="text-secondary small mx-2 my-1">Precisamos do seu celular para contatá-lo</p>
                                @Html.ValidationMessageFor(m => m.Phone, string.Empty, new {@class = validationMessageClasses})
                            </div>
                        </div>
                        
                    <div class="row">
                        <div class="col-12 col-sm p-b-3">
                            <label>CEP</label>
                            @Html.TextBoxFor(m => m.Zipcode, new {@class = inputClasses, placeholder = "Ex: 00000-000", id = "zipCode", inputmode = "numeric"})
                            <div id="AlertStep3" class="mx-2 my-1"></div>
                            <p class="text-secondary small mx-2 my-1">Utilizamos seu CEP para confirmar sua residência no Estado do Ceará</p>
                            @Html.ValidationMessageFor(m => m.Zipcode, string.Empty, new {@class = validationMessageClasses})
                        </div>
                        <div class="col-12 col-sm p-b-3">
                            <label>Número da residência</label>
                            @Html.TextBoxFor(m => m.AddressNumber, new {@class = inputClasses, placeholder = "Ex: 955", id = "AddressNumber", inputmode = "numeric"})
                            <div id="AlertStep3" class="mx-2 my-1"></div>
                            @Html.ValidationMessageFor(m => m.AddressNumber, string.Empty, new {@class = validationMessageClasses})
                        </div>
                    </div>
                        
                        <label>Qual a sua data de nascimento?</label>
                        <div class="row d-flex dateBirthday">
                            <div class=" p-b-3 mx-1">
                                @Html.DropDownListFor(model => model.Day,
                                    Enumerable.Range(1, 31).
                                        Select(i => new SelectListItem { Value = i.ToString(), Text = i.ToString() }),
                                    "Dia",
                                    new {@class = inputClasses, id = "day"})
                                @Html.ValidationMessageFor(m => m.Day, string.Empty, new {@class = validationMessageClasses})
                            </div>
                            <div class=" p-b-3 mx-1">
                                @Html.DropDownListFor(model => model.Month,
                                    Enumerable.Range(1, 12).
                                        Select(i => new SelectListItem
                                        {
                                            Value = i.ToString(),
                                            Text = cultureInfo.DateTimeFormat.GetMonthName(i)
                                        }),
                                    "Mês",
                                    new {@class = inputClasses, id = "month"})
                                @Html.ValidationMessageFor(m => m.Month, string.Empty, new {@class = validationMessageClasses})
                            </div>
                            <div class=" p-b-3 mx-1">
                                @Html.DropDownListFor(model => model.Year,
                                    Enumerable.Range(1920, DateTime.Now.Year - 1920).
                                        Select(i => new SelectListItem { Value = i.ToString(), Text = i.ToString() }),
                                    "Ano",
                                    new {@class = inputClasses, id = "year"})
                                @Html.ValidationMessageFor(m => m.Year, string.Empty, new {@class = validationMessageClasses})
                            </div>
                        </div>
                        <div id="AlertStep2" class="mx-2 my-1"></div>
                        <p class="text-secondary small mx-2 my-1">Validaremos sua idade para compra (+18)</p>
                    // </fieldset>
                }
                
                <div class="text-center pt-2">
                    <p><strong>@userName</strong> você está a um passo de comprar a sua cartela da sorte!</p>
                    <button class="btn btn-sm-ticket btn-success px-5 font-weight-bold m-2" id="confirm">
                        Prosseguir com o pagamento
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/jquery.mask.js"></script>
    
    <script type="text/javascript">
        $('#cpf').mask('000.000.000-00', {reverse: true});
        $('#phone').mask('(00) 00000-0000');
        $('#zipCode').mask('00000-000');
        
        function validate(val) {
            v1 = document.getElementById("name");
            v2 = document.getElementById("phone");
            v3 = document.getElementById("cpf");
            v4 = document.getElementById("zipCode");
            v5 = document.getElementById("day");
            v6 = document.getElementById("month");
            v7 = document.getElementById("year");
            v8 = document.getElementById("AddressNumber");
        
            flag1 = true;
            flag2 = true;
            flag3 = true;
            flag4 = true;
            flag5 = true;
            flag6 = true;
            
            if (val >= 1 || val === 0) {
                if (v1.value === "") {
                    v1.style.borderColor = "red";
                    flag1 = false;
                } else {
                    v1.style.borderColor = "green";
                    flag1 = true;
                }
            }
        
            if (val >= 2 || val === 0) {
                if (v2.value === "") {
                    v2.style.borderColor = "red";
                    flag2 = false;
                } else {
                    v2.style.borderColor = "green";
                    flag2 = true;
                }
            }
            
            if (val >= 3 || val === 0) {
                if (v3.value === "") {
                    v3.style.borderColor = "red";
                    flag4 = false;
                } else {
                    v3.style.borderColor = "green";
                    flag4 = true;
                }
            }
            
            if (val >= 4 || val === 0) {
                if (v4.value === "" || v4.value.length !== 9) {
                    v4.style.borderColor = "red";
                    flag5 = false;
                } else {
                    v4.style.borderColor = "green";
                    flag5 = true;
                }
            }
            
            if (val >= 5 || val === 0) {
                if (v5.value === "") {
                    v5.style.borderColor = "red";
                    flag3 = false;
                } else {
                    v5.style.borderColor = "green";
                    flag3 = true;
                }
            }
            
            if (val >= 6 || val === 0) {
                if (v6.value === "") {
                    v6.style.borderColor = "red";
                    flag3 = false;
                } else {
                    v6.style.borderColor = "green";
                    flag3 = true;
                }
            }
            
            if (val >= 7 || val === 0) {
                if (v7.value === "") {
                    v7.style.borderColor = "red";
                    flag3 = false;
                } else {
                    v7.style.borderColor = "green";
                    flag3 = true;
                }
            }
            
            if (val >= 8 || val === 0) {
                if (v8.value === "") {
                    v8.style.borderColor = "red";
                    flag6 = false;
                } else {
                    v8.style.borderColor = "green";
                    flag6 = true;
                }
            }
            
            if (flag3)
            {
                var day = v5.value;
                var month = v6.value;
                var year = v7.value;
                var nasc = new Date(month + "/" + day + "/" + year)
                var now = new Date();
                var age = now.getFullYear() - nasc.getFullYear();
                var m = now.getMonth() - nasc.getMonth();
                if (m < 0 || (m === 0 && now.getDate() < nasc.getDate())) age--;
                
                if(age < 18){
                  v5.style.borderColor = "red";
                  v6.style.borderColor = "red";
                  v7.style.borderColor = "red";
                  flag3 = false;
                  document.getElementById("AlertStep2").innerHTML = "<p class='text-danger small my-1'>Venda proibida para menores de 18 anos</p>";
               }
            }
        
            var cep = v4.value;
            if (cep !== "" && cep.length === 9)
            {
                /*var url = "https://ws.apicep.com/cep.json?code=" + v4.value;
                  $.getJSON(url, function (result) {
                      if(result.state !== "CE")
                      {
                          v4.style.borderColor = "red";
                          flag5 = false;
                          document.getElementById("AlertStep3").innerHTML = "<p class='text-danger small my-1'>Esse produto é exclusivo para venda no Estado do Ceará</p>";
                      }
                      
                      flag = flag1 && flag2 && flag3 && flag5;
                      
                      if(!flag)
                      {
                          confirmButton = document.getElementById("confirm");
                          confirmButton.disabled = false;
                          confirmButton.textContent = "Salvar";
                          document.getElementById("AlertStep1").innerHTML = "<p class='text-danger small my-1'>* Nome completo, CPF, celular, CEP e data de nascimento obrigatório</p>";
                      } else {
                          $("#FormCompleteRegister").submit();
                      }
                  });*/
                                  
                var url = "https://viacep.com.br/ws/" + v4.value + "/json/";
                $.getJSON(url, function (result) {
                    if(result.uf !== "CE")
                    {
                        v4.style.borderColor = "red";
                        flag5 = false;
                        document.getElementById("AlertStep3").innerHTML = "<p class='text-danger small my-1'>Esse produto é exclusivo para venda no Estado do Ceará</p>";
                    }
                    
                    flag = flag1 && flag2 && flag3 && flag4 && flag5 && flag6;
                    
                    if(!flag)
                    {
                        confirmButton = document.getElementById("confirm");
                        confirmButton.disabled = false;
                        confirmButton.textContent = "Prosseguir com o pagamento";
                        document.getElementById("AlertStep1").innerHTML = "<p class='text-danger small my-1'>* Nome completo, CPF, celular, CEP, Número da residência e data de nascimento obrigatório</p>";
                    } else {
                        $("#FormCompleteRegister").submit();
                    }
                });
            } else {
                confirmButton = document.getElementById("confirm");
                confirmButton.disabled = false;
                confirmButton.textContent = "Prosseguir com o pagamento";
                document.getElementById("AlertStep1").innerHTML = "<p class='text-danger small my-1'>* Nome completo, CPF, celular, CEP, Número da residência e data de nascimento obrigatório</p>";
            }
        }
        
        $('#confirm').click(function() {
            $(this).prop("disabled", true);
              $(this).html(
                `<span class="spinner-border spinner-border-sm" role="status" id="spinner" aria-hidden="true"></span> Aguarde, estamos validando suas informações.`
              );   
              
            validate(0);
        });
    </script>
}