@using Core.Entities
@model Web.ViewModels.Purchases.PaymentViewModel

@{
    ViewData["Title"] = "Pagamento";
    
    const string inputClasses = "form-control";
    const string validationMessageClasses = "text-danger small";
    
    var tickets = (List<Ticket>)ViewData["Results"];
    var creditCarts = (List<CreditCardToken>) ViewBag.CreditCardTokens;

    //var publicToken = ViewBag.PublicToken;
    //var isSandbox = ViewBag.IsSandbox == "True";
}

@if (tickets != null)
{
    <link rel="stylesheet" href="~/card/card.css">

    <div class="containerTop">
    
        <div class="container" style="min-height: 55vh;">
        
            <div class="row">
            
                <div class="col-md-4 order-md-2 mb-2">
                    <div class="card mt-3">
                        <div class="card-body">
                            <h4 class="d-flex justify-content-between align-items-center mb-3">
                                <span class="text-muted">Seu carrinho</span>
                                <span class="badge badge-secondary badge-pill">@tickets.Count</span>
                            </h4>
                            <ul class="list-group mb-3">
                                @foreach (var ticket in tickets)
                                {
                                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                                        <div>
                                            <h6 class="my-0">Cartela: @ticket.SimplifiedTicketNumber</h6>
                                        </div>
                                        <span class="text-muted">@($"{ticket.Draw.ValueOfTicket:C}")</span>
                                    </li>
                                }

                                <li class="list-group-item d-flex justify-content-between">
                                    <span>Total</span>
                                    <strong>@($"{ViewData["TotalValue"]:C}")</strong>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-8 order-md-1">
                    <div class="card mt-3">
                        <div class="card-body">
                            
                            @if (ViewBag.Message != null)
                            {
                                <div class="row form-group">
                                    <div class="col-12">
                                        <div class="alert alert-danger">
                                            @ViewBag.Message
                                        </div>
                                    </div>
                                </div>
                            }
                         
                            <h4 class="mb-1 text-muted">Pagamento</h4>
                            <p class="text-secondary small my-1 mb-3">Pagamento disponível apenas no <strong>cartão de crédito</strong></p>
                            
                            @using (Html.BeginForm("Payment", "Purchases", FormMethod.Post, new {id = "FormPayment"}))
                            {
                                @Html.Hidden("CardHash")
                                @Html.Hidden("CardType")
                                @if (creditCarts != null && creditCarts.Count > 0)
                                {
                                    @Html.Hidden("CreditCardGuid")
                                    
                                    <h6 class="text-muted">Seus cartões cadastrados</h6>
                                    <p class="text-secondary small my-1">Selecione um cartão abaixo e clique em finalizar pagamento</p>

                                    <ul class="list-group list-group-flush">
                                        
                                        @foreach (var card in creditCarts)
                                        {
                                            <li class="list-group-item" style="border: none; padding: initial">
                                                <label class="form-check-label text-muted">
                                                    <input class="cardCredit" data-val="true" id="card" type="checkbox" value="@card.Guid" onchange="handleChange(this)">
                                                    **** **** **** @card.LastFourNumbers
                                                    <img src="~/images/Brands/@($"{card.Brand}.svg")" width="30">
                                                    <a asp-controller="Purchases" Title="Remover" asp-action="RemoveCreditCard" asp-route-guid="@card.Guid" style="float: right; font-size: large; padding-left: 10px;"><i class="mdi mdi-close-circle-outline text-danger"></i></a>
                                                </label> 
                                            </li>
                                        }
                                    </ul>
                                }
                                
                                <div id="CreditCardContainer">
                                    
                                    @if (creditCarts != null && creditCarts.Any())
                                    {
                                        <hr/>

                                        <h6 class="text-muted">Novo cartão</h6>
                                        <p class="text-secondary small my-1">Insira um novo cartão caso não queira utilizar o cadastrado acima</p>
                                    }

                                    <div id="AlertStep1" class="mb-1"></div>

                                    <div class="row container-credit-card">

                                        <div class="col-md-6 py-1 styleCardCredit">
                                            <div class="cardCredit-container">
                                                <div class="card-wrapper"></div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-12 py-1">
                                                    <label>Número do cartão</label>
                                                    @Html.TextBoxFor(m => m.CardNumber, new {@class = inputClasses, type = "tel"})
                                                    @Html.ValidationMessageFor(m => m.CardNumber, string.Empty, new {@class = validationMessageClasses})
                                                </div>

                                                <div class="col-md-12 py-1">
                                                    <label>Nome do titular</label>
                                                    @Html.TextBoxFor(m => m.Holder, new {@class = inputClasses, @style = "text-transform:uppercase", type = "text"})
                                                    @Html.ValidationMessageFor(m => m.Holder, string.Empty, new {@class = validationMessageClasses})
                                                </div>
                                            </div>

                                            <div class="row py-1">
                                                <div class="col">
                                                    <label>Validade</label>
                                                    @Html.TextBoxFor(m => m.ExpirationDate, new {@class = inputClasses, type = "tel", maxlength = 9, placeholder = "MM / AAAA",})
                                                    @Html.ValidationMessageFor(m => m.ExpirationDate, string.Empty, new {@class = validationMessageClasses})
                                                </div>
                                                <div class="col">
                                                    <label>CVV</label>
                                                    @Html.TextBoxFor(m => m.SecurityCode, new {@class = inputClasses, type = "tel", maxlength = 4})
                                                    @Html.ValidationMessageFor(m => m.SecurityCode, string.Empty, new {@class = validationMessageClasses})
                                                </div>
                                            </div>
                                            <p style="float: right"><a href="" data-toggle="modal" data-target="#myModal">Onde encontrar?</a></p>
                                        </div>
                                    </div>
                                </div>
                            }

                            <div class="row d-flex justify-content-center">
                                <button class="btn btn-sm-ticket btn-success px-5 font-weight-bold m-2" id="confirm">
                                    <i class="mdi mdi-lock"></i>
                                    Finalizar pagamento
                                </button>
                            </div>
                            
                            <div id="PaymentBlock"></div>
                            
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
    
    <div class="modal fade in" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-className">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Código de segurança</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body text-center">
                    <img src="~/images/card-cvv.svg" alt="CVV"><br><br>
                    <p><b>3 últimos digitos da faixa númerica</b><br>(Verso do cartão)</p>
                    <img src="~/images/amex-cvv.svg" class="Imagem-cvv" alt="Amex"><br><br>
                    <p><b>4 dígitos localizado na frente do cartão</b><br>(Amex)</p>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="containerTop pb-1 containerTopCard" style="background-color: #ffdd33;">
        <div class="container alingText">
            <div class="col-12">
                <h5 class="font-weight-light">Você ainda não adquiriu a sua cartela da sorte</h5>
            </div>
        </div>
    </div>
    
    @if (ViewBag.Message != null)
    {
        <div class="row form-group">
            <div class="col-12">
                <div class="alert alert-danger">
                    @ViewBag.Message
                </div>
            </div>
        </div>
    }
                                
    <div class="container alingText" style="background-color: #f6f6f6;">
        <br/>
        <div class="col-md-7 mt-1" >
            <h4>Não perca a chance de concorrer a vários prêmios!</h4>
            <h6>Clique no botão abaixo e não fique fora dessa!</h6>
            <br/>
            <div class="m-2 center-buttom-purchase pb-4">
                <a class="btn btn-sm-ticket-cart btn-success px-4 font-weight-bold" asp-controller="Home" asp-action="Index">
                    Compre sua cartela da sorte
                </a>
            </div>
        </div>
    </div>
}
    
@section Scripts {
    <script src="~/card/card.js"></script>
    <script src="~/card/jquery.card.js"></script>
    
    @*@if (isSandbox)
    {
        <script type="text/javascript" src="~/js/direct-checkout-sandbox.min.js"></script>
    }
    else
    {
        <script type="text/javascript" src="~/js/direct-checkout.min.js"></script>
    }*@

    <script type="text/javascript">
    
        function validate(val) {
            v1 = document.getElementById("CardNumber");
            v2 = document.getElementById("Holder");
            v3 = document.getElementById("ExpirationDate");
            v4 = document.getElementById("SecurityCode");
        
            flag1 = true;
            flag2 = true;
            flag3 = true;
            flag4 = true;
            
            if (val >= 1 || val === 0) {
                if (v1.value === "" || v1.value.length < 16) {
                    v1.style.borderColor = "red";
                    flag1 = false;
                } else {
                    v1.style.borderColor = "green";
                    flag1 = true;
                }
            }
        
            if (val >= 2 || val === 0) {
                if (v2.value === "") {
                    v2.style.borderColor = "red";
                    flag2 = false;
                } else {
                    v2.style.borderColor = "green";
                    flag2 = true;
                }
            }
            
            if (val >= 3 || val === 0) {
                if (v3.value === "") {
                    v3.style.borderColor = "red";
                    flag3 = false;
                } else {
                    v3.style.borderColor = "green";
                    flag3 = true;
                }
            }
            
            if (val >= 4 || val === 0) {
                if (v4.value === "") {
                    v4.style.borderColor = "red";
                    flag5 = false;
                } else {
                    v4.style.borderColor = "green";
                    flag4 = true;
                }
            }
            
            flag = flag1 && flag2 && flag3 && flag4;
            
            return flag;
        }
    
        $('#confirm').click(function() {
            var checkedValue = $('.cardCredit:checked').val();
            if (checkedValue != null)
            {
                document.getElementById('CreditCardGuid').value = checkedValue;
                $(this).prop("disabled", true);
                 $(this).html(
                   `<span class="spinner-border spinner-border-sm" role="status" id="spinner" aria-hidden="true"></span> Aguarde, estamos processando seu pagamento.`
                 );   

                $("#FormPayment").submit();
            } else if(validate(0)){
               $(this).prop("disabled", true);
                 $(this).html(
                   `<span class="spinner-border spinner-border-sm" role="status" id="spinner" aria-hidden="true"></span> Aguarde, estamos processando seu pagamento.`
                 );   
                         
                paymentAxis();               
           } else {
               document.getElementById("AlertStep1").innerHTML = "<p class='text-danger small my-1'>* Preencha os campos abaixo</p>";
           }
        });
        
        $(document).ready(function() {
            var inputs = $('[type="checkbox"]');
            inputs.on('click', function() {
                inputs.get().forEach(function(el) {
                    el.checked = el == this && this.checked;
                }, this);
            });
            
            var card = new Card({
               form: document.querySelector('#FormPayment'),
               formSelectors: {
                       numberInput: 'input#CardNumber',
                       expiryInput: 'input#ExpirationDate',
                       cvcInput: 'input#SecurityCode',
                       nameInput: 'input#Holder'
                   },
               container: '.card-wrapper',
               placeholders: {
                       number: '**** **** **** ****',
                       name: 'Nome Completo',
                       expiry: '**/****',
                       cvc: '***'
                   },
               width: 300,
               messages: {
                       validDate: 'Validade',
                       monthYear: 'Mês/Ano',
                   }
               });
                
                var cardNumber = '@Model.CardNumber';
                if(cardNumber !== '')
                {
                    window.card = card;
                                
                    document.getElementById("CardNumber").dispatchEvent(new Event("blur"));
                    card.$numberDisplay[0].innerText = cardNumber;
                    card.$nameDisplay[0].innerText = '@Model.Holder';
                    card.$cvcDisplay[0].innerText = '@Model.SecurityCode';
                    card.$expiryDisplay[0].innerText = '@Model.ExpirationDate';
                }
                
                var blockPayment = "@ViewBag.Message";
                if (blockPayment !== "") {
                    var countPaymentBlock = 0;
                    var cookies = getCookie("PaymentBlock");
                    if (cookies !== undefined)
                    {
                        countPaymentBlock = parseInt(cookies) + 1;
                        setCookie("PaymentBlock", countPaymentBlock, cookies);
                    } else {
                        setCookie("PaymentBlock", 1, cookies);
                    }
                    
                    var cookiesPaymentBlock = getCookie("PaymentBlock");
                    
                    if (cookiesPaymentBlock !== "")
                    {
                        var countPaymentBlockReturn = parseInt(cookiesPaymentBlock);
                        
                        if (countPaymentBlockReturn >= 3)
                        {
                            document.getElementById('confirm').disabled = true;
                            document.getElementById("PaymentBlock").innerHTML = "<p class='text-danger small my-1 text-center'>Limite de tentativas de pagamento excedente, por favor tente novamente em 30 minutos.</p>";
                        }
                    }
                } else {
                    var countPaymentBlockCookiesReturn = 0;
                    var cookiesReturn = getCookie("PaymentBlock");
                    if (cookiesReturn !== undefined) {
                        countPaymentBlockCookiesReturn = parseInt(cookiesReturn);
                        
                        if (countPaymentBlockCookiesReturn >= 3)
                        {
                            document.getElementById('confirm').disabled = true;
                            document.getElementById("PaymentBlock").innerHTML = "<p class='text-danger small my-1 text-center'>Limite de tentativas de pagamento excedente, por favor tente novamente em 30 minutos.</p>";
                        }
                    }
                }
        });
        
        function handleChange(checkbox) {
          if (checkbox.checked === true)
              {
                  document.getElementById('CreditCardContainer').style.display = "none";
              } else {
                document.getElementById('CreditCardContainer').style.display = "initial";
              }
        }
        
        function setCookie(name,value,cookies) {
            if (cookies !== undefined && cookies !== "")
            {
                cookies = value + "&" + cookies;
            } else {
                cookies = value;
            }
            
            var date = new Date();
            date.setTime(date.getTime() + (15*60*1000));
            var expires = "; expires=" + date.toUTCString();
            
            document.cookie = name + "=" + cookies + expires + "; path=/";
        }
        
        function getCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for(var i=0;i < ca.length;i++) {
                var c = ca[i];
                while (c.charAt(0)==' ') c = c.substring(1,c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
            }
            return null;
        }

        var creditCardList = {
            Visa: /^4[0-9]{12}(?:[0-9]{3})/,
            Mastercard: /^(?:5[1-5][0-9]{2}|222[1-9]|22[3-9][0-9]|2[3-6][0-9]{2}|27[01][0-9]|2720)[0-9]{12}$/,
            Amex: /^3[47][0-9]{13}/,
            Discover: /^6(?:011|5[0-9]{2})[0-9]{12}/,
            JCB: /^(?:2131|1800|35\d{3})\d{11}/,
            Elo: /^4011(78|79)|^43(1274|8935)|^45(1416|7393|763(1|2))|^504175|^627780|^63(6297|6368|6369)|(65003[5-9]|65004[0-9]|65005[01])|(65040[5-9]|6504[1-3][0-9])|(65048[5-9]|65049[0-9]|6505[0-2][0-9]|65053[0-8])|(65054[1-9]|6505[5-8][0-9]|65059[0-8])|(65070[0-9]|65071[0-8])|(65072[0-7])|(65090[1-9]|6509[1-6][0-9]|65097[0-8])|(65165[2-9]|6516[67][0-9])|(65500[0-9]|65501[0-9])|(65502[1-9]|6550[34][0-9]|65505[0-8])|^(506699|5067[0-6][0-9]|50677[0-8])|^(509[0-8][0-9]{2}|5099[0-8][0-9]|50999[0-9])|^65003[1-3]|^(65003[5-9]|65004\d|65005[0-1])|^(65040[5-9]|6504[1-3]\d)|^(65048[5-9]|65049\d|6505[0-2]\d|65053[0-8])|^(65054[1-9]|6505[5-8]\d|65059[0-8])|^(65070\d|65071[0-8])|^65072[0-7]|^(65090[1-9]|65091\d|650920)|^(65165[2-9]|6516[6-7]\d)|^(65500\d|65501\d)|^(65502[1-9]|6550[3-4]\d|65505[0-8])/,
            Hipercard: /^606282|^637095|^637599|^637568/,
            //DinersClub: /^3(?:0[0-5]|[68][0-9])[0-9]{11}/,
            //Maestro: /^(5018|5081|5044|5020|5038|603845|6304|6759|676[1-3]|6799|6220|504834|504817|504645)[0-9]{8,15}$/
        };

        function validateCreditCard(creditCard, cards) {
            for (let card in cards) {
                if (creditCard.match(cards[card])) return card;
            } 
            return false;
        }

        function validateCVV(creditCard, cvv) {
            if ((creditCardList.Amex).test(creditCard)) {
                if ((/^\d{4}$/).test(cvv))
                    return true;
            } else if ((/^\d{3}$/).test(cvv)) { 
                return true;
            }
            return false;
        }

        function validateExpireDate(year, month) {
            return new Date(year, month, 1) > new Date();
        }

        function paymentAxis() {
            var cardNumber = document.getElementById("CardNumber").value.replace(/ /g, '');
            var holder = document.getElementById("Holder").value;
            var expirationDate = document.getElementById("ExpirationDate").value;
            var securityCode = document.getElementById("SecurityCode").value;
            var expirationMonth = expirationDate.slice(0,2);
            var expirationYear = expirationDate.slice(-2);
                  
            var cardData = {
                cardNumber: cardNumber,
                holderName: holder,
                securityCode: securityCode,
                expirationMonth: expirationMonth,
                expirationYear: '20' + expirationYear
              };

            /* isValidSecurityCode: Valida número do cartão de crédito (retorna true se for válido) */            
            const isValidCreditCard = !!validateCreditCard(cardData.cardNumber, creditCardList);
            if (isValidCreditCard) {
                document.getElementById("CardNumber").style.borderColor = "green";
            } else {
                document.getElementById("CardNumber").style.borderColor = "red";   
            }
            
            /* isValidSecurityCode: Valida código de segurança do cartão de crédito (retorna true se for válido) */
            const isValidSecurityCode = validateCVV(cardData.cardNumber, cardData.securityCode);
            if (isValidSecurityCode) {
                document.getElementById("SecurityCode").style.borderColor = "green";
            } else {
                document.getElementById("SecurityCode").style.borderColor = "red";
            }
            
            /* isValidExpireDate: Valida data de expiração do cartão de crédito (retorna true se for válido) */
            const isValidExpireDate = validateExpireDate(cardData.expirationYear, cardData.expirationMonth);            
            if (isValidExpireDate) {
                document.getElementById("ExpirationDate").style.borderColor = "green";
            } else {
                document.getElementById("ExpirationDate").style.borderColor = "red";
            }

            const isValidUserName = $('#Holder').val();            

            if (isValidCreditCard && isValidSecurityCode && isValidExpireDate && isValidUserName) {
                $("#FormPayment").submit();
            } else {
                document.getElementById("AlertStep1").innerHTML = `
                    ${isValidCreditCard ? '' : "<p class='text-danger small my-1' >* O número do cartão está inválido</p>"}
                    ${isValidSecurityCode ? '' : "<p class='text-danger small my-1' >* O código de segurança está inválido</p>"}
                    ${isValidExpireDate ? '' : "<p class='text-danger small my-1' >* A data de expiração está inválida</p>"}                    
                `;
                $('#confirm').prop("disabled", false);
                $('#confirm').html(
                    `<i class="mdi mdi-lock"></i> Finalizar pagamento`
                );
            }
        }
        
    </script>
}