@using Core.Utils
@using Core.Entities.AppLogs
@using X.PagedList;
@using X.PagedList.Mvc.Core
@using X.PagedList.Mvc.Core.Common

@{
    ViewData["Title"] = "Logs";
    var logs = (IPagedList<Log>)ViewData["Results"];
}

<h3 class="mt-2 mb-4">
    Logs
</h3>

<div class="card">
    <div class="card-body py-5">

        @using (Html.BeginForm("Index", "AppLogs", FormMethod.Post))
        {
            <div class="row">
                <div class="col-12 col-md-8 mb-4 mb-md-0">
                    <input type="text" name="searchTerm" class="form-control" placeholder="Buscar..." value="@ViewData["SearchTerm"]" />
                </div>
                <div class="col-12 col-md-4 mb-4 mb-md-0">
                    <button type="submit" class="btn btn-block btn-primary">
                        <i class="fas fa-search"></i>
                        Buscar
                    </button>
                </div>
            </div>
        }

        <div class="table-responsive">
            <table class="table m-0">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Tipo Log</th>
                        <th scope="col">Data</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in logs)
                    {
                        <tr>
                            <td>
                                <button class="btn btn-sm btn-secondary copy-btn" data-clipboard-text="@item.Guid">
                                    @item.Guid.ToString().Substring(0, 5)...
                                    <i class="fas fa-copy ml-2"></i>
                                </button>
                            </td>
                            <td>
                                @item.LogType.ToString()
                            </td>
                            <td>
                                @item.CreatedAt.ToLocalString()
                            </td>
                            <td>
                                <a asp-controller="AppLogs" asp-action="View" asp-route-id="@item.Guid" class="btn btn-light btn-sm">
                                    <i class="fas fa-eye"></i>
                                    Visualizar
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="row">
            <div class="col-12 col-md-8">
                @Html.PagedListPager(
                    logs,
                    page => Url.Action("Index",
                        new
                        {
                            page,
                            SearchTerm = ViewData["SearchTerm"],
                            OrderBy = ViewData["OrderBy"],
                            IsActive = ViewData["IsActive"]
                        }),
                    new PagedListRenderOptions
                    {
                        LiElementClasses = new[] { "page-item" },
                        PageClasses = new[] { "page-link" },
                        DisplayEllipsesWhenNotShowingAllPageNumbers = false
                    }
                )
            </div>
            <div class="col-12 col-md-4">
                <a asp-controller="AppLogs" asp-action="Export" class="btn btn-block btn-sm btn-dark">
                    Exportar @ViewData["Count"] Log(s)
                </a>
            </div>
        </div>
    </div>
</div>

<div class="toast" style="position: fixed; bottom: 20px; right: 20px;">
    <div class="toast-header">
        <strong class="mr-auto">Sistema</strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body text-success">
        Guid copiado para área de transferência!
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            window.clipboard.on('success', function (e) {
                e.clearSelection();
                $('.toast').toast('show');
            });

            $('.toast').toast({
                delay: 5000,
            });
        });
    </script>
}