﻿@using Core.Utils
@model Web.Areas.Admin.ViewModels.AppLogs.AppLogViewModel

@{
    ViewData["Title"] = "Visualizar";
    const string labelClasses = "text-sm-right col-sm-3 col-form-label";
    const string inputClasses = "form-control";
}

<h3 class="mt-2 mb-4">
    <Text>Visualizar Logs</Text>
</h3>

<div class="card">
    <div class="card-body py-5">

        <div class="row">
            <h4>Log</h4>
        </div>

        <div class="row form-group">
            @Html.LabelFor(m => m.LogType, new { @class = labelClasses })
            <div class="col-sm-9">
                @Html.DisplayFor(m => m.LogType, new { @class = inputClasses})
            </div>
        </div>

        <div class="row form-group">
            @Html.LabelFor(m => m.CreatedAt, new { @class = labelClasses })
            <div class="col-sm-9">
                @Html.DisplayFor(m => m.CreatedAt, new { @class = inputClasses})
            </div>
        </div>
        <div class="row form-group">
            @Html.LabelFor(m => m.User.FirstName, new { @class = labelClasses })
            <div class="col-sm-9">
                @Html.DisplayFor(m => m.User.FirstName, new { @class = inputClasses})
            </div>
        </div>
        <div class="row form-group">
            @Html.LabelFor(m => m.User.Email, new { @class = labelClasses })
            <div class="col-sm-9">
                @Html.DisplayFor(m => m.User.Email, new { @class = inputClasses})
            </div>
        </div>
    </div>
</div>