
.btn-buy {
    background: #a7e80a;
    color: #077b00;
}

@media only screen and (min-device-width: 576px) {
    
}

@media only screen and (min-device-width: 768px) {

}

@media only screen and (min-device-width: 992px) {
    
}

@media only screen and (min-device-width: 1200px) {

}

.card-number-wrapper {
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    background: #004f9e;
}

.card-number {
    width: 75%;
    position: relative;
    background-color: white;
    overflow: hidden;
}

.card-number p {
    margin-left: 19px;
    margin-top: 5px;
    margin-bottom: 0;
}

.card-number strong {
    margin-left: 19px;
}

.card-triangle {
    position: absolute;
    width: 48px;
    height: 112px;
    top: -31px;
    right: -25px;
    background: #004f9e;
    transform: rotate(-40deg);
}

.card-price {
    position: absolute;
    top: 16px;
    right: 14px;
    color: white;
}

.ticket-balls {
    display: grid;
    grid-gap: 7px;
    grid-template-columns: repeat(5, 1fr);
}

.ticket-balls-suggestions {
    display: grid;
    grid-gap: 7px;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 55px;
    margin-bottom: 5px;
}

.my-tickets.ticket-balls-suggestions {
    margin-top: 0px;
}


.ticket-ball-suggestions, .ticket-ball-purchase {
    border-radius: 9999px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    height: 38px;
    width: 38px;
    cursor: default;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border: 1px solid #004f9e;
}

.ticket-ball-purchase {
    border-radius: 9999px;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.ticket-ball {
    border-radius: 9999px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    cursor: default;
}

#suggestionCard .ticket-ball.selected {
    border: 1px solid #004f9e;
    height: 38px;
    width: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*.ticket-ball-purchase.default {
    background: rgb(204, 204, 204);
    background: -moz-linear-gradient(0deg, rgba(204, 204, 204, 1) 0%, rgba(212, 212, 212, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(204, 204, 204, 1) 0%, rgba(212, 212, 212, 1) 100%);*/
    /*background: linear-gradient(0deg, rgba(0,123,255,.5) 0%, rgb(241, 239, 239) 100%);*/
    /*background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgb(36 96 171 / 58%) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cccccc", endColorstr="#d4d4d4", GradientType=1);
    cursor: pointer;
}*/

.ticket-ball-purchase.selected {
    background: rgb(255, 231, 0);
    background: -moz-linear-gradient(0deg, rgba(255, 231, 0, 1) 0%, rgba(255, 175, 0, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(255, 231, 0, 1) 0%, rgba(255, 175, 0, 1) 100%);
    background: linear-gradient(0deg, rgba(255, 231, 0, 1) 0%, rgba(255, 175, 0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffe700", endColorstr="#ffaf00", GradientType=1);
    cursor: pointer;
}

/*.ticket-ball-suggestions.default {
    background: rgb(204, 204, 204);
    background: -moz-linear-gradient(0deg, rgba(204, 204, 204, 1) 0%, rgba(212, 212, 212, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(204, 204, 204, 1) 0%, rgba(212, 212, 212, 1) 100%);*/
    /*background: linear-gradient(0deg, rgba(0,123,255,.5) 0%, rgb(241, 239, 239) 100%);*/
    /*background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgb(36 96 171 / 58%) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cccccc", endColorstr="#d4d4d4", GradientType=1);
    cursor: default;
}*/

.ticket-ball.default {
    background: rgb(204, 204, 204);
    background: -moz-linear-gradient(0deg, rgba(204, 204, 204, 1) 0%, rgba(212, 212, 212, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(204, 204, 204, 1) 0%, rgba(212, 212, 212, 1) 100%);
    background: linear-gradient(0deg, rgba(204, 204, 204, 1) 0%, rgba(212, 212, 212, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cccccc", endColorstr="#d4d4d4", GradientType=1);
    cursor: pointer;
}

.ticket-ball.block {
    background: rgb(204, 204, 204);
    background: -moz-linear-gradient(0deg, rgba(204, 204, 204, 1) 0%, rgba(212, 212, 212, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(204, 204, 204, 1) 0%, rgba(212, 212, 212, 1) 100%);
    background: linear-gradient(0deg, rgba(204, 204, 204, 1) 0%, rgba(212, 212, 212, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cccccc", endColorstr="#d4d4d4", GradientType=1);
    cursor: default;
}

.ticket-ball.selected {
    background: rgb(255, 231, 0);
    background: -moz-linear-gradient(0deg, rgba(255, 231, 0, 1) 0%, rgba(255, 175, 0, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(255, 231, 0, 1) 0%, rgba(255, 175, 0, 1) 100%);
    background: linear-gradient(0deg, rgba(255, 231, 0, 1) 0%, rgba(255, 175, 0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffe700", endColorstr="#ffaf00", GradientType=1);
    cursor: default;
}

.menu-mobile {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, 1fr);
    background-color: rgb(251 251 251 / 0.98);
    padding: 14px 0 12px;
    opacity: 95%;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(122, 122, 122, 0.5);
    -moz-box-shadow: 0px 0px 20px 0px rgba(122, 122, 122, 0.5);
    box-shadow: 0px 0px 20px 0px rgba(122, 122, 122, 0.5);
}

.menu-mobile a {
    text-align: center;
    color: #686868;
}

a {
    color: #03A82A;
}

a:hover {
    color: #1d7431;
}

.btn-primary {
    color: #fff;
    background-color: #0017FF;
    border-color: #0000FF;
}

.dropdown-item:hover {
    background-color: #28a745;
    color: white;
}

.menu-mobile a:hover {
    color: #28a745;
    text-decoration: none;
}

.menu-mobile i {
    display: block;
    margin-bottom: .3rem;
}

.menu-mobile span {
    display: block;
    font-size: .7rem;
    line-height: .7rem;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #03A82A;
}

.itemDropdownMenu {
    color: rgb(74, 74, 74);
    text-decoration: none;
}

.itemDropdownMenu:hover {
    color: rgb(74, 74, 74);
    text-decoration: none;
}

.conteinerHome-top {
    background-color: #fdcd09;
    text-align: -webkit-center;
    padding-top: 70px !important;
}

.containerTop {
    padding-top: 90px !important;
}

@media (max-width: 770px) {
    .conteinerHome-top {
        background-color: #fdcd09;
        text-align: -webkit-center;
        padding-top: 0px !important;
    }
    
    .containerTop {
        padding-top: 0px !important;
    }
}

.card-client {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 15px;
    background-color: white;
}

.card-client .card-body-client {
    padding: 10px;
}

.button-buy-ticket {
    border-radius: 1.25rem;
    border: 1px solid transparent;
    color: #FFFFFF;
    font-size: 1rem;
    padding: 5px 10px;
}

.button-buy-ticket:hover {
    border-radius: 1.25rem;
    border: 1px solid transparent;
    color: #FFFFFF;
    font-size: 1rem;
    padding: 5px 10px;
    text-decoration: none;
}

@-webkit-keyframes glowing {
    0% { background-color: #28a745; -webkit-box-shadow: 0 0 3px #28a745; }
    50% { background-color: #8BC34A; -webkit-box-shadow: 0 0 3px #8BC34A; }
    100% { background-color: #28a745; -webkit-box-shadow: 0 0 3px #28a745; }
}

@-moz-keyframes glowing {
    0% { background-color: #28a745; -webkit-box-shadow: 0 0 3px #28a745; }
    50% { background-color: #8BC34A; -webkit-box-shadow: 0 0 3px #8BC34A; }
    100% { background-color: #28a745; -webkit-box-shadow: 0 0 3px #28a745; }
}

@-o-keyframes glowing {
    0% { background-color: #28a745; -webkit-box-shadow: 0 0 3px #28a745; }
    50% { background-color: #8BC34A; -webkit-box-shadow: 0 0 3px #8BC34A; }
    100% { background-color: #28a745; -webkit-box-shadow: 0 0 3px #28a745; }
}

@keyframes glowing {
    0% { background-color: #28a745; -webkit-box-shadow: 0 0 3px #28a745; }
    50% { background-color: #8BC34A; -webkit-box-shadow: 0 0 3px #8BC34A; }
    100% { background-color: #28a745; -webkit-box-shadow: 0 0 3px #28a745; }
}

.button-buy-ticket {
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
}

.login100-social-item {
    font-size: 25px;
    color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 5px;
}

.login100-social-item:hover {
    color: #fff;
    background-color: #333333;
}

.bg1 {background-color: #3b5998}
.bg2 {background-color: #05aeec}
.bg3 {background-color: #ea4335}

.instagram{
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

/*.card {
    border-radius: 0.85rem;
}*/

.card {
    background-color: #FFF;
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 0
}

.ticket-value {
    background-color: #F9DE3A;
    border-radius: 16px;
    padding: 5px 10px;
    display: inline-block;
    /*border: 1px solid #e5e5e5;*/
    font-size: small;
}

.btn-sm-ticket {
    border-radius: 1.2rem !important;
}

.btn-sm-result {
    border-radius: 1.2rem !important;
    color: #fff;
    background-color: #3748a8;
    border-color: #3748a8;
}

.btn-sm-result:hover {
    border-radius: 1.2rem !important;
    color: #fff;
    background-color: #505da5;
    border-color: #505da5;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(74, 74, 74);
}

.ball {
    background-color: #e0e0e0;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    overflow: hidden;
    position: relative;
    font-weight: bold;
    padding-left: 8px;
    padding-top: 5px;
    margin: 3px;
}

.table-ball{
    padding: initial !important;
    border-top: none !important;
}

.pagination {
    width: max-content;
}

.btn-search-tickets {
    background-color: #F9DE3A;
    border-color: #F9DE3A;
}

.btn-search-tickets:hover {
    background-color: #facf00;
    border-color: #facf00;
}

.form-control {
    border: 1px solid #bfbdbd;
    font-weight: 400;
    font-size: 1rem;
}

.form-control:focus {
    border-color: #3646a8;
    box-shadow: 0 0 0 1px rgb(54, 70, 168);
}

.btn-success {
    color: #fff;
    background-color: #03A82A;
    border-color: #03A82A;
}

.btn-warning {
    color: #212529;
    background-color: #F9DE3A;
    border-color: #F9DE3A;
}

.h2-top {
    align-self: center;
    padding-left: 20px;
    font-weight: bold;
}

.form-check .form-check-label input[type="checkbox"] + .input-helper:before {
    border: 2px solid #3646a8;
}

.form-check .form-check-label input[type="checkbox"]:checked + .input-helper:before {
    background: #3646a8;
    border-width: 0;
}

.p-b-10 {padding-bottom: 10px;}
.p-b-5 {padding-bottom: 5px;}
.p-b-3 {padding-bottom: 3px;}

.btn-sm-ticket-cart {
    border-radius: 1.2rem !important;
    transform: scale(1);
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(40, 167, 69, 0.8);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

#progressbar {
    overflow: hidden;
    color: lightgrey;
    padding-left: 0px;
    margin: auto;
    width: 90%;
    margin-bottom: 10px;
}

#progressbar .active {
    color: #fff
}

#progressbar li {
    list-style-type: none;
    font-size: 15px;
    width: 50%;
    float: left;
    position: relative;
    font-weight: 400
}

#progressbar .account:before {
    font-family: FontAwesome;
    content: "\f007"
}

#progressbar .personal:before {
    font-family: FontAwesome;
    content: "\f023"
}

#progressbar .payment:before {
    font-family: FontAwesome;
    content: "\f09d"
}

#progressbar .confirm:before {
    font-family: FontAwesome;
    content: "\f00c"
}

#progressbar .active {
    color: #fff
}

#progressbar li:before {
    width: 40px;
    height: 40px;
    display: block;
    font-size: 20px;
    background: #E0E0E0;
    border-radius: 50%;
    margin: auto;
    padding: 5px
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 10px;
    background: #E0E0E0;
    position: absolute;
    left: 0;
    top: 17px;
    z-index: -1
}

#progressbar li:last-child:after {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px
}

#progressbar li:first-child:after {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #28a745
}

fieldset.show {
    display: block
}

fieldset {
    display: none
}

.fit-image {
    width: 100%;
    object-fit: cover
}

.fa-long-arrow-right {
    float: right;
    margin-top: 4px
}

.fa-long-arrow-left {
    float: left;
    margin-top: 4px
}

.buttom-prev {
    color: #17a2b8 !important;
}

.buttom-prev:hover {
    color: #fff !important;
}

.totolec-count {
    /*background-color: #077b00;*/
    color: #615b5b;
    position: absolute;
    top: 17px;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    text-indent: 0;
    text-align: center;
    margin-left: 14px;
    min-width: 15px;
    display: inline-block;
}

.body-background{
    background: #f6f6f6 url(../images/cedulas.png) repeat-x center;
}

.video {
    width: 40%;
}

.cardCredit-container {
    margin-top: 10px;
}

.styleCardCredit{
    padding: 10px 0; 
    transform: scale(0.9);
}

.styleFontHomeCard {
    font-weight: 500; 
    font-size: 1.2rem; 
    background-color: #f6f6f6;
    margin-left: 20px;
}

.footerMargin {
    margin-bottom: initial;
}

.buttonMyTickets{
    cursor: pointer;
    color: rgb(74, 74, 74);;
}

.buttonMyTickets:hover{
    cursor: pointer;
    color: #28a745;
}

.alingText {
    text-align: -webkit-center;
}

.spanSytle {
    min-height: 35px;
    display: inline-flex;
    align-items: center;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.marginTopRegu{
    margin-top: initial;
}

.ImgNextDrawActive {
    width: 50%;
    height: auto;
    border-radius: 10px;
}

.ImgCheckout {
    width: 350px;
    height: auto;
    border-radius: 10px;
}

@media (max-width: 576px) {
    .marginTopRegu {
        margin-top: 10px;
    }
    
    .floatLeft {
        float: none;
    }

    .floatRight {
        float: none;
    }
    
    .totolec-count {
        color: #615b5b;
        position: relative;
        top: -38px;
        font-size: 10px;
        font-style: normal;
        font-weight: 600;
        margin-left: 45%;
    }

    .dateBirthday {
        justify-content: center;
    }
    
    .center-buttom-purchase{
        text-align: center;
    }

    .body-background{
        background: #f6f6f6 url(../images/cedulas.png) no-repeat;
    }
    
    .containerTopCard{
        padding-top: 10px!important;
    }

    .video {
        width: 100%;
    }
    .cardCredit-container {
        margin-top: 0px;
    }
    
    .styleFontHomeCard {
        margin-left: 5px;
    }

    .footerMargin {
        margin-bottom: 20%;
    }
    
    .alingText{
        text-align: initial;
    }

    .ImgCheckout {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    .ImgNextDrawActive {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }
}

@media (max-width: 320px) {
    .ticket-balls-suggestions {
        grid-template-columns: repeat(5, 1fr);
    }

    .ticket-balls {
        grid-gap: 2px;
    }
    
    .styleCardCredit{
        transform: scale(0.6);
    }

    .alingText{
        text-align: initial;
    }

    .ImgCheckout {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    .ImgNextDrawActive {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    .card-number p, .card-number strong {
        margin-left: 10px;
    }
}

.dateBirthday {
    justify-content: left;
    margin-left: 0px;
}

.colorSubMenuButtomMobile{color: #686868; border-radius: 10px}
.offcanvas-header{ display:none; }
.mobile-submenu{ display:none; }

@media (max-width: 992px) {
    .offcanvas-header{ display:block; }
    .mobile-submenu{ display:block; }
    .navbar-collapse {
        position: fixed;
        top:0;
        bottom: 0;
        left: 100%;
        width: 90%;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-y: auto;
        visibility: hidden;
        background-color: #FFFFFF;
        transition: visibility .2s ease-in-out, -webkit-transform .2s ease-in-out;
    }
    .navbar-collapse.show {
        visibility: visible;
        transform: translateX(-100%);
    }

    .ticket-balls-suggestions {
        grid-template-columns: repeat(5, 1fr);
        justify-items: center;
    }

    .alingText{
        text-align: initial;
    }

    .ImgCheckout {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    .ImgNextDrawActive {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    .card-align-center-my-tickets {
        flex-direction: column !important;
    }

    .alingItens-drawNumber {
        flex-direction: column !important;
        margin-left: 0;
    }

    .alingItens-drawNumber a {
        margin-left: 0;
    }
}

.alingItens-drawNumber a {
    margin-left: 10px;
}

.page-link{
    color: #03A82A;
}

.page-link:hover{
    color: black;
}

.card-header{
    background-color: #FFFFFF;
}

.card-header:first-child{
    border-radius: calc(1.25rem - 1px) calc(1.25rem - 1px) 0 0;
}

/*body {
    color: #000;
    overflow-x: hidden;
    height: 100%;
    background: linear-gradient(-45deg, #2196F3 50%, #EEEEEE 50%);
    background-repeat: no-repeat
}*/

@media (min-width: 500px) {
    #card-client-disclaimer {
        position: absolute;
        top: 40px;
    }
}

.add-to-cart.disabled {
    color: #fff !important;
    background-color: #004f9e;
    border-color: #004f9e;
}

/* Tablet responsiveness */
@media (min-width: 576px) {
    .col-sm-4 {
        -ms-flex: auto;
        flex: auto;
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .d-md-none {
        display: grid !important;
    }

    .col-md-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .col-md-8 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .col-sm-4 {
        -ms-flex: 0 0 50%;
        flex: 0 50%;
        max-width: 50%;
    }

    .container-credit-card .col-md-6 {
        -ms-flex: 0 0 50%;
        flex: 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 992px) {
    .conteinerHome-top {
        padding-top: 0px !important;
    }

    .d-md-block {
        display: none !important;
    }
}

@media (min-width: 992px) {
    .d-md-none {
        display: none !important;
    }

    .d-md-block {
        display: block !important;
    }

    .col-sm-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-md-6 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-md-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
}