﻿@using Core.Entities
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@{
    var userAsync = await SignInManager.UserManager.GetUserAsync(User);
    var userName = userAsync != null ? userAsync.FirstName ?? userAsync.Email.Split("@")[0] : "";
    var alert = (Alert)ViewData["Alert"];
}
<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - Totolec Show</title>
    <link rel="shortcut icon" href="~/images/novo-logo-mini.png">
    <link rel="stylesheet" href="~/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/totolec.css">
    <script src="https://kit.fontawesome.com/d9a6818794.js" crossorigin="anonymous"></script>
    
    <!-- Hotjar Tracking Code for https://app.totolecshow.com.br/ -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:2292744,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
    
    @await RenderSectionAsync("Headers", false)
</head>
<body class="body-background">

<nav class="navbar d-none d-md-block navbar-expand-md navbar-light bg-white fixed-top">
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
            <img src="~/images/novo-logo.png" width="73" alt="Totolec Show" class="d-inline-block align-top" loading="lazy">
        </a>
        <button
            class="navbar-toggler" type="button"
            data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
         
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">
                        <i class="fas fa-home"></i>
                        Início
                    </a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Users" asp-action="Profile">
                        <i class="fas fa-user"></i>
                        Meu perfil
                    </a>
                </li>
         
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Users" asp-action="Tickets">
                        <i class="far fa-clone"></i>
                        Minhas Cartelas
                    </a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Purchases" asp-action="Cart">
                        <i class="fas fa-shopping-cart"></i>
                        <span class="menu-title">Carrinho</span>
                        <span class="totolec-count" id="countDesktop" style="display: none">0</span>
                    </a>
                </li>

            </ul>

            <ul class="navbar-nav ml-2">
                <li class="nav-item dropdown">
                    <a class="itemDropdownMenu dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Olá @userName!
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        
                        <a class="dropdown-item" href="https://api.whatsapp.com/send?text=Ficou+mais+fácil+comprar+seu+Totolec.+Clique+aqui+e+não+fique+de+fora!+https://app.totolecshow.com.br/" target="_blank">
                            <span class="menu-title"> Compartilhar com amigos</span>
                        </a>

                        <a class="dropdown-item" href="http://www.lotece.com.br/totolec/v1/637/faleconosco.php?cor=rosa&tipo=show" target="_blank">
                            <span class="menu-title"> Contato</span>
                        </a>

                        <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new {area = ""})">Sair</a>

                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<nav class="d-md-none menu-mobile fixed-bottom">

    <a asp-area="" asp-controller="Home" asp-action="Index">
        <i class="fas fa-home"></i>
        <span>
            Início
        </span>
    </a>
    
    <a asp-area="" asp-controller="Users" asp-action="Profile">
        <i class="fas fa-user"></i>
        <span>
            Meu<br/>Perfil
        </span>
    </a>

    <a asp-area="" asp-controller="Users" asp-action="Tickets">
        <i class="far fa-clone"></i>
        <span>
            Minhas<br/>Cartelas
        </span>
    </a>
    
    <a asp-area="" asp-controller="Purchases" asp-action="Cart">
        <i class="fas fa-shopping-cart"></i>
        <span>Carrinho</span>
        <span class="totolec-count" id="countMobile" style="display: none">0</span>
    </a>
    
    <a data-trigger="#main_nav">
        <i class="fas fa-plus"></i>
        <span>
            Mais
        </span>
    </a>
</nav>

@RenderBody()

<div class="footer">
    <div class="component text-center mt-5" style="padding-top: 10px; padding-bottom: 10px; background-color: #F9DE3A">
        <p class="social-media-block__heading">CONECTE-SE CONOSCO</p>
        <div class="col-sm-12">
            <a href="https://www.facebook.com/oficialtotolecshow/" target="_blank" class="login100-social-item bg1">
                <i class="mdi mdi-facebook"></i>
            </a>
                
            <a href="https://www.instagram.com/totolecshowoficial/?hl=pt-br" target="_blank" class="login100-social-item instagram">
                <i class="mdi mdi-instagram"></i>
            </a>
                
            @*<a href="https://twitter.com/totolec_show?lang=pt" target="_blank" class="login100-social-item bg2">
                <i class="mdi mdi-twitter"></i>
            </a>*@
                
            <a href="mailto:apptotolecshow@gmail.com" target="_blank" class="login100-social-item bg3">
                <i class="mdi mdi-google-glass"></i>
            </a>
        </div>
    </div>
        
    <footer class="container">
        <div class="row py-3 footerMargin">
            <div class="col-12 text-center text-small" style="background-color: #f6f6f6;">
                &copy; @DateTime.Now.Year - <a href="http://www.totolecshow.com/show/" target="_blank">Totolec Show</a>. Todos os direitos reservados. É proibida a reprodução total/parcial deste website sem autorização prévia.
            </div>
        </div>
    </footer>
</div>

<div class="navbar-collapse mobile-submenu" id="main_nav">
    <div class="offcanvas-header mt-3">  
        <button class="btn btn-close float-right fa fa-close" style="font-size: x-large;"></button>
        <a href="http://www.totolecshow.com/show/" target="_blank">
            <img src="~/images/novo-logo.png" alt="Totolec Show" class="img-fluid" width="60">
        </a>
        <p class="font-weight-bold" style="padding-top: 7px; padding-left: 6px;">Olá @userName!</p>
    </div>
    <hr/>
    <ul class="navbar-nav">
        
        <li class="nav-item p-1">
            <a class="dropdown-item colorSubMenuButtomMobile pl-1" href="https://api.whatsapp.com/send?text=Ficou+mais+fácil+comprar+seu+Totolec.+Clique+aqui+e+não+fique+de+fora!+https://app.totolecshow.com.br/" target="_blank">
                <i class="fa fa-whatsapp"></i>
                <span class="menu-title pl-2"> Compartilhar com amigos</span>
            </a>
        </li>
        
        <li class="nav-item p-1">
            <a class="dropdown-item colorSubMenuButtomMobile pl-1" href="http://www.lotece.com.br/totolec/v1/637/faleconosco.php?cor=rosa&tipo=show" target="_blank">
                <i class="fa fa-question-circle"></i>
                <span class="menu-title pl-2"> Contato</span>
            </a>
        </li>
        <li class="nav-item p-1">
            <a class="dropdown-item colorSubMenuButtomMobile pl-1" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new {area = ""})">
                <i class="fa fa-sign-out"></i>
                <span class="menu-title pl-2"> Sair</span>
            </a>
        </li>
    </ul>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js" 
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" 
        crossorigin="anonymous"></script>
        
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
        
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

@await RenderSectionAsync("Scripts", false)

<script type="text/javascript">
    $(document).ready(function () {
        var resTickets = getCookie("Tickets");
        
        if (resTickets !== undefined && resTickets !== "")
        {
            if (resTickets.includes("&"))
            {
                resTickets = resTickets.replace(/&/g, "%");
            }
            
            var countTic = resTickets.split('%').filter(function(e){return e});
            var countTotal = countTic.length;
            for (i = 0; i < countTotal; i++) {
              if(countTic[i] === "26")
              {
                  countTic.splice(i, 1)
                  countTotal++
                  i = i-1;
              }
            }
                    
            if (countTic.length > 0 ){
                document.getElementById("countDesktop").style.display = "block";
                document.getElementById("countDesktop").innerHTML = countTic.length;
                
                document.getElementById("countMobile").style.display = "block";
                document.getElementById("countMobile").innerHTML = countTic.length;
            } else {
                document.getElementById("countDesktop").style.display = "none";
                document.getElementById("countMobile").style.display = "none";
            }
        }
        
        $("[data-trigger]").on("click", function(){
            
            var carouselIndicators = document.getElementById("carouselIndicators");
            if (carouselIndicators != null) {
                if($('#carouselIndicators').is(':visible')){
                    document.getElementById("carouselIndicators").style.display = "none";
                    document.getElementById("controlCaroselPrev").style.display = "none";
                    document.getElementById("controlCaroselNext").style.display = "none";
                } else {
                    document.getElementById("carouselIndicators").style.display = "flex";
                    document.getElementById("controlCaroselPrev").style.display = "flex";
                    document.getElementById("controlCaroselNext").style.display = "flex";
                }
            }

            var trigger_id =  $(this).attr('data-trigger');
            $(trigger_id).toggleClass("show");
            $('body').toggleClass("offcanvas-active");
        });
        
        // close button 
        $(".btn-close").click(function(e){
            $(".navbar-collapse").removeClass("show");
            $("body").removeClass("offcanvas-active");
            
            var carouselIndicators = document.getElementById("carouselIndicators");
            if (carouselIndicators != null)
            {
                carouselIndicators.style.display = "flex";
                document.getElementById("controlCaroselPrev").style.display = "flex";
                document.getElementById("controlCaroselNext").style.display = "flex";
            }
        }); 
    });
    
    function getCookie(name) {
      let cookie = {};
      document.cookie.split(';').forEach(function(el) {
        let [k,v] = el.split('=');
        cookie[k.trim()] = v;
      })
      return cookie[name];
    }
</script>
</body>
</html>