﻿@using Core.Entities
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@{
    var userAsync = await SignInManager.UserManager.GetUserAsync(User);
    var userName = userAsync != null ? userAsync.FirstName ?? userAsync.Email.Split("@")[0] : "";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - Totolec Show</title>
    <link rel="stylesheet" href="~/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/css/style.css">
    @await RenderSectionAsync("Headers", required: false)
    <link rel="shortcut icon" href="~/images/novo-logo-mini.png">
</head>
<body>
<div class="container-scroller">

    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="navbar-brand-wrapper d-flex justify-content-center">
            <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">
                <a class="navbar-brand brand-logo" asp-area="Admin" asp-controller="Home" asp-action="Index">
                    <img src="~/images/novo-logo.png" style="height: 50px; width: auto;" alt="logo">
                </a>
                <a class="navbar-brand brand-logo-mini" asp-area="Admin" asp-controller="Home" asp-action="Index">
                    <img src="~/images/novo-logo.png" alt="logo" style="height: 20px">
                </a>
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="mdi mdi-sort-variant"></span>
                </button>
            </div>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
            <ul class="navbar-nav navbar-nav-right">
                <li class="nav-item nav-profile dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                        <span class="nav-profile-name">Olá @userName!</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                        <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new {area = ""})">
                            <i class="mdi mdi-logout text-primary"></i>
                            <button type="submit" class="nav-link btn text-dark">Sair</button>
                        </a>
                    </div>
                </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                <span class="mdi mdi-menu"></span>
            </button>
        </div>
    </nav>

    <div class="container-fluid page-body-wrapper">
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" asp-area="Admin" asp-controller="Home" asp-action="Index">
                        <i class="mdi mdi-home menu-icon"></i>
                        <span class="menu-title">Página Inicial</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-area="Admin" asp-controller="Draws" asp-action="Index">
                        <i class="mdi mdi-dice-3 menu-icon"></i>
                        <span class="menu-title">Sorteios</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="Admin" asp-controller="Customization" asp-action="Index">
                        <i class="mdi mdi-brush menu-icon"></i>
                        <span class="menu-title">Personalização</span>
                    </a>
                </li>
                
                @if (!User.IsInRole("Dashboards"))
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Admin" asp-controller="Users" asp-action="Index">
                            <i class="mdi mdi-account-multiple menu-icon"></i>
                            <span class="menu-title">Usuários</span>
                        </a>
                    </li>
                }
                
            </ul>
        </nav>

        <div class="main-panel">
            <div class="content-wrapper">
                @RenderBody()
            </div>

            <footer class="footer">
                <div class="d-sm-flex justify-content-center justify-content-sm-between">
                    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">
                        &copy; @DateTime.Now.Year - <a href="http://www.totolecshow.com/show/" target="_blank">Totolec Show</a>. Todos os direitos reservados. É proibida a reprodução total/parcial deste website sem autorização prévia.
                    </span>
                    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
                        Desenvolvido por
                        <a href="https://indevs.com.br/" target="_blank">
                            <img src="~/images/mini_logo_indevs_light.png" height="25" alt="INDEVS"/>
                        </a>
                    </span>
                </div>
            </footer>

        </div>
    </div>
</div>

<script src="~/vendor/clipboard-js/dist/clipboard.min.js"></script>
<script src="~/js/vendor.bundle.base.js"></script>
<script src="~/js/off-canvas.js"></script>
<script src="~/js/hoverable-collapse.js"></script>
<script src="~/js/template.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        window.clipboard = new ClipboardJS('.copy-btn');
    });
</script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>