﻿@model Web.ViewModels.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="container" style="min-height: 55vh; margin-top: 10%;">
    <div class="card mt-3">
        <div class="card-body">
            <div class="d-flex justify-content-center align-items-center" id="main">
                <h1 class="mr-3 pr-3 align-top border-right inline-block align-content-center">Oops!</h1>
                <div class="inline-block align-middle">
                    <h2 class="font-weight-normal lead" id="desc">Um erro interno foi encontrado, contate a totolec show para mais informações.</h2>
                </div>
            </div>
        </div>
    </div>
</div>