@using Core.Entities
@using Core.Utils
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Mvc.Core.Common
@using X.PagedList.Web.Common
@using System.Globalization

@{
    ViewData["Title"] = "Minhas Cartelas";
    
    var ticketsGroupBy = (IEnumerable<IGrouping<int, Ticket>>)ViewData["ticketsGroupBy"];
}

@if (ticketsGroupBy.Any())
{
    <div class="conteinerHome-top" style="background-color: #f6f6f6; text-align: -moz-center;">
    
        <div class="my-3 ">
            <div class="col-12">
                <h3>Suas cartelas da sorte</h3>
            </div>
        </div>
    </div>

    <div class="container" style="background-color: #f6f6f6; min-height: 55vh;">
    
        <div class="card-client" style="background-color: #F9DE3A">
            
            <div class="m-2">
                @foreach (var item in ticketsGroupBy)
                {
                    <div id="accordion-@item.Key" role="tablist">
                        <div class="card mb-2">
                            <div class="card-header d-flex card-align-center-my-tickets" style="text-align:center; border-radius: inherit; align-items: center; justify-content: space-between" role="tab" id="heading-@item.Key">

                                <div class="d-flex alingItens-drawNumber">
                                    <span class="spanSytle floatLeft" style="font-size: large;" >
                                            Concurso &nbsp;<strong>@item.Key</strong>
                                        </span>
                                            
                                        <a style="font-size: small" target="_blank" href="@item.FirstOrDefault().Draw.FileImports.FirstOrDefault(f => f.TypeFile == TypeFile.Regulations).FileUri" class="btn btn-outline-info mb-1">Regulamento</a>
                                </div>
                                
                                <span class="spanSytle">Data do sorteio &nbsp;<strong>@item.FirstOrDefault().Draw.DrawDate.ToString("dd/MM/yyyy HH:mm ", CultureInfo.InvariantCulture)</strong></span>

                                <a class="btn btn-sm-ticket btn-primary px-5 font-weight-bold floatRight marginTopRegu" data-toggle="collapse" href="#collapse-@item.Key" aria-expanded="true" aria-controls="collapse-@item.Key" >
                                    Mostrar cartelas
                                </a>
                                
                            </div>
                            
                            <div id="collapse-@item.Key" class="collapse" role="tabpanel" aria-labelledby="heading-@item.Key" data-parent="#accordion-@item.Key">
                                <div class="row" style="justify-content: center;">

                                    @foreach (var ticket in item)
                                    {
                                        if (ticket.IsActive)
                                        {
                                            <div class="col-sm-4">
                                                <div class="card m-3">
                                                    <div class="card-body text-center">
                
                                                        <p>Número da Cartela: <strong>@ticket.SimplifiedTicketNumber</strong></p>
                                                        <p class="my-tickets ticket-balls-suggestions">
                                                            @for (int i = 0; i < 20; i++)
                                                            {
                                                                var ball = $"{ticket.TicketBalls[i]:00}";
                                                                <span class="ticket-ball-purchase" id="@ticket.Guid">
                                                                    @ball
                                                                </span>
                                                            }
                                                        </p>
                                                        <div id="@ticket.Guid-message"></div>
                                                        <p style=" font-size: 10px; margin-bottom: 0px; margin-top: 15px;">Clique nas bolas acima para selecionar</p>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col-sm-4">
                                                <div class="card m-3">
                                                    <div class="card-body text-center">
                
                                                        <p>Número da Cartela: <strong>@ticket.SimplifiedTicketNumber</strong></p>
                                                        <p class="my-tickets ticket-balls-suggestions">
                                                            @for (int i = 0; i < 20; i++)
                                                            {
                                                                var ball = $"{ticket.TicketBalls[i]:00}";
                                                                <span class="ticket-ball block">
                                                                    @ball
                                                                </span>
                                                            }
                                                        </p>
                                                        
                                                        <p style=" font-size: 10px; margin-bottom: 0px; margin-top: 15px; ">Cartela bloqueada, entre em contato com a Totolec para mais informações.</p>
                
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        
                        
                        </div>
                    </div>
                }

            </div>
                    
        </div>
    
    </div>
}
else
{
    <div class="containerTop pb-1 containerTopCard" style="background-color: #F9DE3A; text-align: -moz-center;">
        <div class="container alingText">
            <div class="col-12">
                <h5 class="font-weight-light">Você ainda não adquiriu a sua cartela da sorte</h5>
            </div>
        </div>
    </div>
    
    <div class="container alingText" style="background-color: #f6f6f6; min-height: 55vh; text-align: -moz-center;">
        <br/>
        <div class="col-md-7 mt-1" >
            <h4>Não perca a chance de concorrer a vários prêmios!</h4>
            <h6>Clique no botão abaixo e não fique fora dessa!</h6>
            <br/>
            <div class="m-2 center-buttom-purchase pb-4">
                <a class="btn btn-sm-ticket-cart btn-success px-4 font-weight-bold" asp-controller="Home" asp-action="Index">
                    Compre sua cartela da sorte
                </a>
            </div>
        </div>
    </div>
}


@section Scripts {
    <script type="text/javascript">
    
    
    $(".ticket-ball-purchase").click(function(e) {
        e.preventDefault();
        
        if ($(this).hasClass("selected")) {
            $(this).toggleClass("selected");
            
        } else {
            $(this).toggleClass("selected");
            //var id = this.id;
            //document.getElementById(id + "-message").innerHTML = "<p class='field-validation-error small' data-valmsg-replace='true'><strong>5</strong> bolas restantes</p>";
           
        }
    });
    
    </script>
}